<div class="container">
  <itt-navbar></itt-navbar>

  <div class="sectiontitle">
    <h2>Categories</h2>
  </div>
  <div style="display: flex; justify-content: center;" class="search">
    <itt-search-bar (Search)="searchCategory($event)"></itt-search-bar>
  </div>

  <div class="categories-page">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategoryModal">Add Category
    </button>


    <div class="panel panel-default table-responsive margin-bottom-10">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Label</th>
          <th>Order</th>
          <th>Values</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories">
          <td>{{category.label}}</td>
          <td>{{category.order}}</td>
          <td>{{category.value}}</td>
          <td>{{category.description}}</td>
          <td>
            <div style=" display:flex; text-align: center">
              <span class="fa-stack">
                <a title="View Users">
                  <i class="fa fa-info-circle fa-inverse"></i>
                </a>
              </span>
              <span class="fa-stack">
                <a title="Edit">
                   <i class="fas fa-edit" [routerLink]="[ category.id, 'categories-edit' ]"></i>
                </a>
              </span>
              <span class="fa-stack">
                <a title="Delete" (click)="onDeleteCategory( category.id, i)">
                  <i class="fa fa-trash fa-inverse"></i>
                </a>
              </span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Modal -->
    <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit(addCategoryForm.value)">
      <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div class="input-group  margin-bottom-10">
                <span class="input-group-addon">Label</span>
                <input type="text" class="form-control" placeholder="Enter Label" formControlName="label">
              </div>
              <div class="input-group ">
                <span class="input-group-addon">Order</span>
                <input type="number" min="0" class="form-control" placeholder="Enter Order" formControlName="order">
              </div>
              <div class="input-group  margin-bottom-10">
                <span class="input-group-addon">Value</span>
                <input type="number" min="0" class="form-control" placeholder="Enter Value" formControlName="value">
              </div>
              <div class="input-group ">
                <span class="input-group-addon">Description</span>
                <input type="text" class="form-control" placeholder="Enter Description" formControlName="description">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" [disabled]="!addCategoryForm.valid">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
