<div class="fit-screen">
<div style="margin-top: 15px;margin-left: 2% ;margin-right: 2%;">
  <div >
    <h2>My WishList</h2>
  </div>

  <div class="display-grid">
    <div class="theme-item" *ngFor="let wishlist of myWishlists">
      <div class="theme-item-image" [routerLink]="['/store-details', wishlist._id]">
        <img [src]="wishlist.imageUrl">
      </div>
      <div class="theme-item-footer">
        <div id="name" class="ellipse">{{wishlist.name}}</div>
        <!--<div class="description">{{subscription.description}}</div>-->

        <button class="btn btn-sm btn-success " style="margin-top: 2%" [routerLink]="['/subscription', wishlist._id]">subscribe </button>
      </div>
    </div>
  </div>
  <pagination-controls class="my-pagination" [autoHide]="true" (pageChange)="onPageChanged($event)"></pagination-controls>
</div>
</div>



