<!--<div class="profileImage" style="height: 300px; background-color:#a5704b;">-->
<div class="profileImage" style="height: 300px; background-color:#f57d00;">
  <div [hidden]="isLoggedIn">
    <div style="padding-top:230px; padding-left:120px; margin-bottom:0px;">
      <!--<div class="profileHeader-img">-->
      <img class="profile-img" src="assets/images/ic_profile-pic.png">
      <!--<img class="profileHeader-img" [src]="profileImageUrl">-->
    </div>
    <div class="card">
      <div class="card-body">
        <span style="margin-left:100px;">Login</span>
      </div>
    </div>
    <i class="fas fa-sign-in-alt" (click)="login()" style="font-size: 30px; margin-left: 140px;"></i>
  </div>

  <div [hidden]="!isLoggedIn">
    <div style="padding-top:230px; padding-left:120px; margin-bottom:0px; ">
      <!--<div class="profileHeader-img">-->
      <!--<img class="profileHeader-img" src="assets/images/ic_profile-pic.png">-->
      <img class="profile-img" [src]="profileImageUrl">
    </div>
    <div class="card">
      <div class="card-body">
        <span class="email-span" style="margin-left:50px;">{{email}}</span>
      </div>
    </div>
    <i style="font-size: 30px; margin-left: 140px;" class="fas fa-sign-out-alt" (click)="logout()"></i>
  </div>
</div>





