<div class="sidenav">
  <a href="#" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#"></a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<button class="w3-button w3-teal w3-xlarge" (click)="openSideNav()">☰</button>



