<form [formGroup]="tagPropertiesFormArray" >
  <div class="sectiontitle margin-bottom-10">
    <h2>Tag Properties</h2>
  </div>
<!--  <div>-->
<!--    Valid: {{tagPropertiesFormArray.valid}}-->
<!--    Pristine: {{tagPropertiesFormArray.pristine}}-->
<!--    Dirty: {{tagPropertiesFormArray.dirty}}-->
<!--    Touched: {{tagPropertiesFormArray.touched}}-->
<!--  </div>-->
  <div class="row">
    <div class="col-md-12 ">
      <button (click)="save()" class="btn btn-primary pull-right save ">
        Save
      </button>
      <span class="fa-stack pull-right">
          <a data-modal="" (click)="add()" title="Add tag property">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" id="replacetarget">
      <div class="panel panel-default table-responsive">
        <div>
          <table class="table table-hover" id="tagProperties" style=" overflow-x: auto;">
            <thead>
            <tr>
              <th>
                Property type
              </th>
              <th>
                Name
              </th>
              <th>
                Order
              </th>
              <th>
                Mandatory
              </th>
              <th>
                Show on map
              </th>

              <th>
                Show on tip
              </th>

              <th>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tagProperty of tagPropertiesFormArray.controls; let i=index" [formGroupName]="i">
              <td>
                <select formControlName="tagPropertyType" class="form-control dropdown-select" data-val="true"
                        data-val-required="The propertyType field is required." id="propertyType"
                        name="propertyType">
                  <option *ngFor="let propertyType of tagPropertyType" [ngValue]="propertyType.value">
                    {{propertyType.label}}
                  </option>
                </select>
                <small [hidden]="tagProperty.controls.tagPropertyType.valid" class="text-danger">
                  Tag Property Type is required
                </small>
              </td>
              <td>
                <input type="text" class="form-control name-input"
                       formControlName="name">
                <small [hidden]="!tagProperty.controls.name.errors?.required" class="text-danger">
                  Name is required
                </small>
                <small [hidden]="!tagProperty.controls.name.errors?.duplicateName" class="text-danger">
                  You cant repeat the names
                </small>
              </td>
              <td>
                <div class="box">

                  <div *ngIf="i>0" (click)="reOrderTags(i,i-1)" class="up">&#9650;</div>
                  <div *ngIf="i< tagPropertiesFormArray.controls.length-1" (click)="reOrderTags(i,i+1)" class="down">
                    &#9660;
                  </div>
                </div>
                <!--                <input type="hidden" class="form-control" [value]="i+1" formControlName="order">-->
              </td>
              <td>
                <input type="checkbox" class="check-box" formControlName="mandatory">
              </td>
              <td>
                <input type="checkbox" class="check-box" formControlName="showOnMap">
              </td>
              <td>
                <input type="checkbox" class="check-box" formControlName="showOnTip">
              </td>
              <td>
                <!--                <input class="form-control" formControlName="normalizedName" readonly="readonly" hidden>-->
              </td>

              <td>
                <div class="pull-right refresh-delete">
                  <!--                            <span class="fa-stack">-->
                  <!--                              <a data-modal="" (click)="reset(i)" title="Reset">-->
                  <!--                                <i class='fa fa-undo fa-inverse'></i>-->
                  <!--                              </a>-->
                  <!--                            </span>-->
                  <span class="fa-stack">
                              <a data-modal="" (click)="delete(i)" title="Delete">
                                <i class='fa fa-times fa-inverse'></i>
                              </a>
                            </span>

                </div>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>

</form>

