.container{
  display: flex;
  flex-wrap:  wrap ;
  justify-content: space-around;

}

.title{
  /*height: 50px;*/
  width: 100%;
  font-size: 1.5em;
  color: #7a7a7a;
  margin-bottom: 2%;
  margin-top: 2%;
  border-bottom: 1px solid black;
}

.push-right{
  margin-left: auto;
}
