<!--<div class="row">-->
<!--<div class="col-4 side-list" style="width: 100px;  margin-bottom: 20px;padding-left: 30px;">-->
<!--<a class="nav-link btn btn-primary" [href]="[storeUrl]">-->
<!--<span>Go To Store</span></a>-->
<!--</div>-->
<!--<div class="col-4">-->
<!--<itt-main-header class="logo"></itt-main-header>-->
<!--</div>-->
<!--<div class="col-4 profile">-->
<!--<itt-profile-header></itt-profile-header>-->
<!--</div>-->
<!--</div>-->
<!--<div>-->
<!--<itt-snap-left-nav></itt-snap-left-nav>-->
<!--</div>-->


<!--<div class="sectiontitle">-->
<!--<h2>My WishList</h2>-->
<!--</div>-->
<!--<div class="container">-->
<!--<div class="border" *ngFor="let wishlist of wishList" style="margin-top: 10px; background-color: white;">-->
<!--<div><img class="image" [src]="wishlist.themeImageUrl" style=" width: 145px; height: 100px;"></div>-->
<!--<div style="text-overflow: ellipsis;	width: 100px;	white-space: nowrap;overflow: hidden;"><strong>{{wishlist.name}}</strong></div>-->
<!--<div style="text-overflow: ellipsis;	width: 100px;	white-space: nowrap;overflow: hidden;">{{wishlist.description}}</div>-->
<!--<button class="btn btn-success" style="margin-top: 10px; width: 100px;" title="subscribe">Subscribe-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--<pagination-controls class="my-pagination" [autoHide]="true" (pageChange)="onPageChanged($event)"></pagination-controls>-->

<itt-snap-left-nav [themeId]="themeId"></itt-snap-left-nav>
<itt-theme-header [themeId]="themeId"></itt-theme-header>
<div class="row">
  <itt-search-bar class="pull-right search" style="margin-top: 20px" (Search)="searchForUsers($event)"></itt-search-bar>
</div>
<div class="list">
  <div class="row">
    <!--<table class="table table-hover">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<itt-snap-left-nav [themeId]="themeId"></itt-snap-left-nav>-->
    <!--<itt-theme-header [themeId]="themeId"></itt-theme-header>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr-->
    <!--*ngFor="let wishlist of wishLists|paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count };">-->

    <!--&lt;!&ndash;<td [routerLink]="[wishlist.id, 'details']">&ndash;&gt;-->
    <!--<td>-->
    <!--<div style="display: flex; justify-content: space-between">-->
    <!--<div>{{wishlist.name}}</div>-->
    <!--<button class="btn btn-primary push-left" (click)="subscribe(wishlist._id)"> Subscribe </button>-->
    <!--</div>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--<div class="">-->
      <div class="title">People wishing to subscribe to your theme</div>
      <!--<ul style="list-style: none; width: 100%"-->
          <!--*ngFor="let wishlist of wishLists|paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count }; let i = index">-->
        <!--<li>-->
          <!--<div style="display: flex; justify-content: space-between">-->
            <!--<div>{{wishlist.name || wishlist._id}}</div>-->
            <!--<button class="btn btn-primary push-left" (click)="subscribe(wishlist._id, i)"> Subscribe</button>-->
          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->

    <table class="table table-hover table-striped">
      <thead>
      <tr>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let wishlist of wishLists|paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count }; let i = index">

        <td>
          <span>{{wishlist.name || wishlist._id}}</span>
        </td>
        <td>
          <div style="text-align: center">
            <button class="btn btn-primary push-right" (click)="subscribe(wishlist._id, i)"> Subscribe</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>


    </div>
    <!--<div class="col-6">-->
      <!--<div class="title">People you have subscribed</div>-->
      <!--<ul style="list-style: none; width: 100%"-->
          <!--*ngFor="let wishlist of wishLists|paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count };">-->
        <!--<li>-->
          <!--<div style="display: flex; justify-content: space-between">-->
            <!--<div>{{wishlist.name}}</div>-->
            <!--<button class="btn btn-danger push-left" (click)="subscribe(wishlist._id)"> UnSubscribe</button>-->
          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
</div>
<div >
<pagination-controls class="my-pagination" [autoHide]="true" (pageChange)="onPageChange($event)"></pagination-controls>
</div>
