<div>
  <div class="row">

    <div>
      <itt-snap-left-nav [themeId]="themeId"></itt-snap-left-nav>
      <itt-theme-header [themeId]="themeId"></itt-theme-header>
    </div>

  </div>
  <div>
    <div>
      <itt-search-bar class="pull-right search" (Search)="searchForUsers($event)"></itt-search-bar>
    </div>
    <div class="list">
      <button class="btn btn-primary" [routerLink]="['/my-themes', themeId, 'invitation']">
        <i class="fas fa-envelope"></i> Invite
      </button>
      <div class="">
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>
              <a href="/Users?sortOrder=DisplayName">Display name
                <i class=""></i>
              </a>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let subscriber of subscribers|paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count }; let i = index">

            <td [routerLink]="[subscriber.id, 'subscriber']">
              {{subscriber.name}}
            </td>
            <td>
              <span style="text-align: center">
                 <i class="fas fa-edit" [routerLink]="[subscriber.id, 'subscriber']"></i>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <pagination-controls class="my-pagination" [autoHide]="true"
                         (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</div>
