.push-left{
  margin: 2px;
}
.nav-bar{
  width: 100%;
}

.profile {
  padding-left: 120px;
}
.list{
  margin-left: 2%;
}

@media only screen and (max-width: 1000px) {
  div.profile {
    display: none;
  }
}

/*iPhone 6 plus */
@media(max-width: 414px) {
  .btn-primary{
    margin-left: 3%
  }
  .search{
width: 300px;
  }
  th {
  }
}


/*iPhone 5 */
@media(max-width: 320px)  {
  .btn-primary{
    margin-left: 5%
  }
  .search{
   width: 120px;
  }
}

