
<div>
  <itt-snap-left-nav [themeId]="themeId"></itt-snap-left-nav>
  <itt-theme-header [themeId]="themeId"></itt-theme-header>

</div>
<div class="container">
  <div>
    <div class="sectiontitle margin-bottom-20">
      <h2><strong>Theme Stats</strong></h2>
    </div>

    <table class="table table-hover" style="margin-bottom: 20px">
      <thead>
      <tr>
        <!--<th scope="col">Tag Count</th>-->
        <th scope="col">Active Subscribers</th>
        <!--<th scope="col">Average Rating</th>-->
      </tr>
      </thead>
      <tbody>
      <tr class="values">
        <!--<td>{{generalStats.tagCount}}</td>-->
        <td>{{totalSubscription}}</td>
        <!--<td>{{generalStats.rating.average.toFixed(1)}}<i class="fas fa-star"></i>, Rated by :<span > {{generalStats.rating.count}}</span> people</td>-->
      </tr>

      </tbody>
    </table>
    <hr>
    <strong style="font-size: 30px; font-weight: 400">Chart</strong>
    <hr>
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
            class="graph" style="width: 90%;"></canvas>
  </div>
</div>



