span {
  margin-left: 5px;
}

.search-style {
  width: 92%;
  position: center;
}


.foot {
  margin-left: 30%;
}






.search-style {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  max-width: 520px;
}



/*#sidebar{*/
/*overflow: hidden;*/
/*}*/

.ng-side-color{
  overflow: hidden;
}

/*Laptop*/
@media(min-width: 1206px)  {
  .itt-home-container{
    /*width: 85%;*/
    /*margin-left: auto;*/
    margin-right: 15%;
    margin-left: 15%;
  }

}



