<!--<itt-nav-bar></itt-nav-bar>-->

<div class="itt-home-container">

  <div class="itt-container" style="justify-content: center;">
    <div class="search-style">
      <itt-search-bar (Search)="onSearchInput($event)"></itt-search-bar>
    </div>
  </div>
  <div>
    <!--<div >-->
      <!--<itt-theme-grid  [title]="categoryName"-->
                       <!--[themePreviews]="themes"-->
                       <!--[subscribedThemes]="(subscribedThemes)"-->
                       <!--[showSubscribeBtn]="showSubscribeBtn"-->
                       <!--[next]="nextFree"-->
                       <!--(SubscribedBtnPressed)="trySubscribe($event)"-->
                       <!--(onviewmore)="viewMore()"></itt-theme-grid >-->
    <!--</div>-->
    <div >

      <itt-theme-grid *ngIf="!(topFreePreviews.length === 0)"  [title]="'Top Free'"
                       [themePreviews]="topFreePreviews"
                       [subscribedThemes]="(subscribedThemes)"
                       [showSubscribeBtn]="showSubscribeBtn"
                       [next]="nextFree"
                       (SubscribedBtnPressed)="trySubscribe($event)"
                       (onviewmore)="topFreeViewMore()"></itt-theme-grid >
    </div>
    <div>
      <itt-theme-grid *ngIf="!(topPaidPreviews.length === 0)" [title]="'Top Paid'"
                      [themePreviews]="topPaidPreviews"
                      [subscribedThemes]="(subscribedThemes)"
                      [showSubscribeBtn]="showSubscribeBtn"
                      [next]="nextPaid"
                      (SubscribedBtnPressed)="trySubscribe($event)"
                      (onviewmore)="topPaidViewMore()"></itt-theme-grid>
    </div>
   <p style="font-size: 3em; margin-left: 2%; margin-right: 2%" *ngIf="(topPaidPreviews.length === 0 && topFreePreviews.length === 0)">
     Oops, Looks there are no themes in this category
   </p>
  </div>
</div>
