
<div class="theme-store-detail">
  <div class="side-nav"></div>
  <div class="theme-detail">
    <div class="theme-detail-container">
      <div class="theme-img" style="width: 36%; margin-right: 2%">
        <img id="theme-image" *ngIf="theme !== null" [src]="theme.themeImageUrl" alt="{{theme.name}}"/>
      </div>
      <div class="theme-other-details" style="width: 56%;  margin-left: 2%">
        <div><span> <h4>{{theme.name}}</h4> </span></div>
        <div><span>  {{theme.description}} </span></div>
        <ngb-rating [(rate)]="theme.averageRating" [readonly]="readonly"></ngb-rating>
        <div>Price: <span>{{theme.price}}</span></div>
        <div>Subscriptions: <span>{{ theme.activeSubscribers }}</span></div>
        <!--<div>Last update:<span>{{ theme.createdAt | date: 'longDate' }}</span></div>-->
        <div>Last update: <span>{{ theme.createdAt | amTimeAgo:true }}</span></div>


      </div>
    </div>


    <div class="subcription-details" style="display: flex; flex: 100%; margin-bottom: 10%; margin-left: 2%">
      <div [ngSwitch]="btnCode">
        <div *ngSwitchCase="1"
             (click)="tryOpenAddWishListModal()">
          <img src="../../../assets/images/wishlist.png" alt=""> <span>Add to Wishlist</span>
        </div>
        <div>
          <!--<button class="btn btn-danger" *ngSwitchCase="2"-->
          <!--(click)="tryRemoveFromWishlist()">Added to Wishlist-->
          <!--</button>-->
          <!--<button class="btnWhite button&#45;&#45;half btn  btn-wishlist mb-2 mr-2" *ngSwitchCase="3" (click)="tryOpenAddWishListModal()">Add to Wishlist</button>-->
          <div style="margin-top: 10%" *ngSwitchCase="3" (click)="tryOpenAddWishListModal()">
            <img src="../../../assets/images/wishlist.png" alt=""> <span>Add to Wishlist</span>
          </div>
          <div style="margin-top: 10%; margin-bottom: 5%;" *ngSwitchCase="2" (click)="tryRemoveFromWishlist()">
            <img src="../../../assets/images/remove-wishlist.png" alt=""> <span>Added to Wishlist</span>
          </div>
          <div style="margin-top: 10%; margin-bottom: 5%;display: block; height: 20px" *ngSwitchCase="4">

          </div>

        </div>
        <div>
          <button style="margin-left: 5px;" [routerLink]="['/subscription', theme._id]" class="btn btn-success">
            Subscribe
          </button>
        </div>
      </div>
    </div>
    <!--</div>-->
    <!--</div>-->
    <section >
      <div [style.background-color]="theme.color">
        <div class="row" style=" display:flex; justify-content: center">
          <h4> Reviews</h4>
        </div>
      </div>

      <div style="margin-right: 2%; margin-left: 2%" *ngIf="subscriptionStatus.isSubscribed">
        <itt-review></itt-review>
      </div>

      <!--&lt;!&ndash;<ngb-rating [(rate)]="tagProperties.currentRate" [resettable]="resettable"></ngb-rating>&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<ngb-rating *ngIf ="(!reviewclick())" [(rate)]="tagProperties.currentRate" [readonly]="readonly" ></ngb-rating>&ndash;&gt;&ndash;&gt;-->
      <div>
        <br>
        <itt-review-chart [themeId]="theme._id"></itt-review-chart>
      </div>
      <div>
        <itt-theme-review [themeId]="theme._id"></itt-theme-review>
      </div>
    </section>

  </div>
  <div class="similar-themes">
    <itt-similar-theme-list [similarThemes]="similarThemes"></itt-similar-theme-list>
  </div>
</div>
