.theme-detail-container {
  display: flex;
  margin-bottom: 5%;
  margin-top: 4%;
}

.theme-img {
  flex: 30%;
  height: 100px;
  width: 100px;
}

.theme-other-details {
  flex: 70%;
}

span {
  font-size: .9em;
}

#theme-image {
  height: 100px;
  width: 100px;
}

@media (min-width: 1025px) {
  #theme-image {
    height: 200px;
    width: 200px;
  }

  .theme-detail-container {
    margin-bottom: 10%;
    margin-left: 3%;

  }

  .theme-store-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .side-nav{
    width: 15%;

  }

  .theme-img img{
    border: 1px solid #eeeeee;
    border-radius: 5px;
  }

  .theme-detail{
    background-color: #f3f3f3;
    /*background-color: #b9b9b97d;*/
    box-shadow: 1px 1px 1px 1px #b3b3b3;

    margin: 2%;
    width: 51%;
  }

  .similar-themes{

    /*background-color: red;*/
    justify-content: center;
    margin: 2%;
    width: 26%;
  }

}



@media (min-width: 768px) and (max-width: 1035px) {
  #theme-image {
    height: 200px;
    width: 200px;
  }

  .theme-detail-container {
    margin-bottom: 10%;
    margin-left: 3%;
  }
}

@media (max-width:  1024px) {
  .similar-themes{
    display: none;
  }
}


/*.btn-wishlist {*/
/*color: deeppink;*/
/*border-color: deeppink;*/
/*background-color: white;*/
/*display: inline;*/
/*}*/

/*.btn-select {*/
/*position: center;*/
/*width: 200px*/
/*}*/

/*.flex-box {*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-content: flex-start;*/

/*}*/

/*!* .btn-green {*/
/*background-color: white;*/
/*!* margin-left: 5%; *!*/
/*!* width: 131px; *!*/
/*!* } *!*/

/*.btn-green:hover {*/
/*background-color: #28a745;*/
/*}*/

/*!*img {*!*/
/*!*background-color: white;*!*/
/*!*width: 330px;*!*/
/*!*height: 330px;*!*/
/*!*}*!*/

/*.theme-details {*/
/*background-color: #f6f6f6;*/
/*}*/

/*.btn-wishlist:hover {*/
/*color: white;*/
/*background-color: deeppink;*/
/*}*/

/*.footer {*/
/*width: 100%;*/
/*height: 60px;*/
/*background-color: lightgray;*/
/*}*/

/*.center {*/
  /*text-align: center;*/
/*}*/

/*.itt-background-color {*/
  /*background-color: #f47d31;*/
/*}*/

/*.itt-color {*/
  /*color: #f47d31;*/
/*}*/

/*.profile {*/
  /*padding-left: 120px;*/
/*}*/

@media only screen and (min-width: 1024px) and (max-width: 1204px) {

  .side-nav{
    display: none;
  }

  .theme-detail{
    width: 60%;
  }

  .similar-themes{
    width: 30%;
  }
}

@media (min-width: 1367px) {
  p {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .theme-image {
    position: center;
    margin-left: 450px;
    height: 200px;
    width: 300px;
  }

  body {
    font-size: 1em;
    padding-right: 10px;
  }

  .description {
    position: center;
    margin-left: 450px;
  }

  .btn-select {
    position: center;
    margin-left: 450px;
  }
}

/*Laptop*/
@media (max-width: 1366px) {
  p {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .theme-image {
    position: center;
    margin-left: 450px;
    height: 200px;
    width: 300px;
  }

  body {
    font-size: 40px;
    padding-right: 10px;
    /*min-height: 100%;*/
  }

  .description {
    position: center;
    margin-left: 450px;
  }

  .btn-select {
    position: center;
    margin-left: 450px;
  }

}

/*iPad Pro */
@media (max-width: 1024px) {
 .theme-detail{
   width: 100%;
 }
}

/*iPad */
@media (max-width: 768px) {
  p {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .theme-image {
    position: center;
    margin-left: 30%;
    height: 200px;
    width: 300px;
  }

  .btn-select {
    position: center;
    margin-left: 60%;
  }


  body {
    font-size: 40px;
    padding-right: 10px;
    min-height: 100%;
  }

  .description {
    position: center;
    margin-left: 30%;
  }
}

/*Nexus 7*/
@media (max-width: 600px) {
  p {
    margin-top: 0;
    margin-bottom: 50px;
  }


  body {
    font-size: 25px;
    padding-right: 10px;
    min-height: 100%;
  }

  .theme-image {
    position: center;
    margin-left: 30%;
  }

  .description {
    position: center;
    margin-left: 30%;
  }

  .btn-select {
    position: center;
    margin-left: 30%;
  }

}

/*iPhone 6 plus */
@media (max-width: 414px) {
  p {
    margin-top: 0;
    margin-bottom: 30px;
  }

  body {
    font-size: 22px;
    padding-right: 10px;
    min-height: 100%;
  }

  .theme-image {
    position: center;
    margin-left: 20%;
  }

  .description {
    position: center;
    margin-left: 20%;
  }

  .btn-select {
    position: center;
    margin-left: 15%;
  }

}

/*iPhone 5 */
@media (max-width: 320px) {
  p {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .description {
    position: center;
    margin-left: 10%;
  }

  .theme-image {
    position: center;
    margin-left: 10%;
  }

  body {
    font-size: 20px;
    padding-right: 10px;
    min-height: 100%;
  }

  .btn-green {
    background-color: white;
    margin-left: 0;
    width: 131px;
  }

  .lastUpdate {
    margin-top: 10px;

  }

  .btn-select {
    position: center;
    margin-left: 0px;
  }
}

