<!--<div class="row">-->
<!--<div class="col-4 side-list" style="width: 100px; margin-top: 10px; margin-bottom: 20px;padding-left: 30px;">-->
<!--<a class="nav-link btn btn-primary store" [href]="[storeUrl]">-->
<!--<span>Go To Store</span></a>-->
<!--</div>-->
<!--<div class="col-4">-->
<!--<itt-main-header class="logo"></itt-main-header>-->
<!--</div>-->
<!--<div class="col-4 profile pull-right">-->
<!--<div style=" width: 100px">-->
<!--<itt-profile-header></itt-profile-header>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<itt-theme-header [themeId]=""></itt-theme-header>-->
<itt-my-theme-header></itt-my-theme-header>
<!--<ng-sidebar-container>-->
<!--<ng-sidebar-container style="height: 1100px; ">-->
<!--<ng-sidebar-container [ngStyle]="mystyle">-->
<!--<ng-sidebar [(opened)]="isOpened" position="left" mode="over" showBackdrop="true"-->
<!--closeOnClickBackdrop="true" style="background-color:#f8f9fa">-->
<!--<itt-side-nav-details></itt-side-nav-details>-->
<!--</ng-sidebar>-->

<!-- Page content -->
<!--<div ng-sidebar-content class="ng-side-color">-->
<div class="row">
  <div class="col-12 search-style">


    <div class="container">

      <div class="sectiontitle">
        <h2>Themes</h2>
      </div>

      <itt-search-bar (Search)="findTheme($event)" class="pull-right margin-bottom-10"
                      style="max-width: 300px;"></itt-search-bar>
      <div>
        <a class="primary" style="margin-right: 8px;" [routerLink]="['new']" title="Add new tagProperties">
          <i class="fa fa-2x fa-plus-circle" aria-hidden="true"></i>
        </a>
      </div>
      <div class="margin-bottom-10 hidden-lg hidden-md hidden-sm"></div>
      <div id="themeslist" class="panel panel-default table-responsive margin-bottom-10" style="min-height:350px;">

        <table class="table table-striped">
          <thead>
          <tr>
            <th>
            </th>

            <th>
              Name
            </th>
            <th class="description">
              Description
            </th>

          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let tagProperties of (themes|paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count })|themeFilter:term; let i=index"
            [routerLink]="[tagProperties._id,'details']">
            <td>
              <img class="centered themeimagethumb" [src]="tagProperties.themeImageUrl" alt="Theme image">
            </td>

            <td>
              {{tagProperties.name}}
              <!--<span class="badge">{{tagProperties.tagCount}} Tags</span>-->
            </td>
            <td class="description">
              {{tagProperties.description}}
            </td>


          </tr>
          </tbody>
        </table>

      </div>
      <pagination-controls class="my-pagination" [autoHide]="true"
                           (pageChange)="onPageChanged($event)"></pagination-controls>

    </div>


  </div>
</div>





