<!--<div class="row">-->
<!--<div class="col-4">-->
<!--<span style="font-size:30px;cursor:pointer" (click)="toggleSidebar()">&#9776;</span>-->
<!--</div>-->
<!--<div class="col-4">-->
<!--<itt-main-header class="logo"></itt-main-header>-->
<!--</div>-->
<!--<div class="col-4 profile">-->
<!--<itt-profile-header></itt-profile-header>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;<ng-sidebar-container>&ndash;&gt;-->
<!--<ng-sidebar-container style="height: 950px; ">-->
<!--&lt;!&ndash;<ng-sidebar-container [ngStyle]="mystyle">&ndash;&gt;-->
<!--<ng-sidebar [(opened)]="isOpened" position="left" mode="over" showBackdrop="true"-->
<!--closeOnClickBackdrop="true" style="background-color:#f8f9fa">-->
<!--<itt-side-nav-details></itt-side-nav-details>-->
<!--</ng-sidebar>-->

<!-- Page content -->
<div ng-sidebar-content class="ng-side-color">
  <div class="container">
    <itt-snap-left-nav [themeId]="themeId"></itt-snap-left-nav>
    <itt-theme-header [themeId]="themeId"></itt-theme-header>
    <br>
    <br>
    <div class="sectiontitle">
      <h2>Invitation</h2>
    </div>

    <div class="user-table">
      <div class="pull-right margin-bottom-10" style="max-width: 300px;">
        <itt-search-bar (Search)="searchForUser($event)"></itt-search-bar>
      </div>
      <div class="panel  panel-default table-responsive margin-bottom-10">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>

            </th>
            <th>
              Itt users
            </th>

          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let user of users |paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count} let i =index;">
            <td>
              <img height="24px" class="centered circle useravatar" [src]="user.profileImageUrl" alt="User image">
            </td>
            <td>

              {{user.name}}
            </td>
            <td>
              <button class="btn btn-primary" (click)="invite(user._id)">Invite</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <pagination-controls class="my-pagination" [autoHide]="true"
                           (pageChange)="onPageChanged($event)"></pagination-controls>

    </div>
  </div>


</div>
<!--</ng-sidebar-container>-->

