@media (max-width: 768px) {
  .profile-top {
    display: flex;
    width: 100%;
    background-color: #f57d00;
    height: 350px;
  }

  .profile-img {
    border-radius: 150px;
    width: 7em;
    align-self: center;
    margin-top: -15%;
  }

  .email-span {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }

  .logout-icon {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    margin-top: 5px;
  }

  .profile-image {
    display: flex;
    justify-content: center;
  }

}


@media (min-width: 768px) and (max-width: 1024px) {

  .profile-top {
    display: flex;
    width: 100%;
    background-color: #f57d00;
    height: 450px;
  }

  .profile-img {
    border-radius: 150px;
    width: 12em;
    align-self: center;
    margin-top: -15%;
  }

  .email-span {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 1.4em;
  }

  .logout-icon {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 10px;
  }

  .profile-image {
    display: flex;
    justify-content: center;
  }

}


@media (min-width: 768px) and (max-width: 1024px) {

  .profile-top {
    display: flex;
    width: 100%;
    background-color: #f57d00;
    height: 450px;
  }

  .profile-img {
    border-radius: 150px;
    width: 12em;
    align-self: center;
    margin-top: -15%;
  }

  .email-span {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 1.4em;
  }

  .logout-icon {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 10px;
  }

  .profile-image {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1025px) {

  .profile-top {
    display: flex;
    width: 100%;
    background-color: #f57d00;
    height: 230px;
    margin-right:50%;
    /*display: none;*/

  }

  .profile-img {
    border-radius: 150px;
    width: 8em;
    align-self: center;
    margin-top: -5%;
    /*display: none;*/
  }

  .email-span {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /*display: none;*/
    font-size: 1.5em;
    font-weight: bold;
  }

  .logout-icon {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 20px;
  }

  .profile-image {
    display: flex;
    justify-content: center;
    border-color: white;
    border-width: 2px;
  }
}




