<div style="display: flex" style="width: 100%;">
</div>

<div class="profile-top">

</div>

<div [hidden]="!isLoggedIn">
  <div class="profile-image">
    <img class="profile-img" [src]="profileImageUrl">
  </div>
  <span class="email-span">{{name}}</span>
  <i class="fas fa-sign-out-alt logout-icon"
     (click)="logout()">Logout</i>
</div>

