.navbar-brand {
  margin: 0 auto;
}

@media (max-width: 414px) {
  .main-header {
    margin-left: -50%;
  }
}

@media (max-width: 360px) {
  .main-header {
    margin-left: -90%;
  }
}

@media (max-width: 320px) {
  .main-header {
    margin-left: -100%;
  }
}


