<div class="row">
  <div class="col-4">
    <span style="font-size:30px;cursor:pointer" (click)="toggleSidebar()">&#9776;</span>
  </div>
  <div class="col-4">
    <itt-main-header class="logo"></itt-main-header>
  </div>
  <div class="col-4 profile">
    <itt-profile-header></itt-profile-header>
  </div>
</div>

<!--<ng-sidebar-container>-->
<ng-sidebar-container style="height: 100vh; ">
  <!--<ng-sidebar-container [ngStyle]="mystyle">-->
  <ng-sidebar [(opened)]="isOpened" position="left" mode="over" showBackdrop="true"
              closeOnClickBackdrop="true" style="background-color:#f8f9fa">
    <itt-side-nav-details></itt-side-nav-details>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content class="ng-side-color">
    <div class="row">
      <div class="col-12 search-style">
        <itt-snap-left-nav></itt-snap-left-nav>

        <div class="row">

          <label class="control-label col-xs-4" for="Price">Price</label>

          <div class="col-xs-8">

            <input size="4" class="form-control text-box single-line col-xs-8" style="max-width:32%" [value]="theme.currentBillingPlan.price" ]
                   data-val-number="The field Price must be a number." data-val-required="The Price field is required."
                   id="Price" name="Price" formControlName="price" type="number">
            USD
            <button (click)="save()">Save</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</ng-sidebar-container>


