<!--<div class="left">-->
<!--<div class="row">-->

<!--<span [routerLink]="['/my-themes']" title="home" class="item">-->
<!--<span class="fa fa-home"></span>-->
<!--</span>-->

<!--<span [routerLink]="['/my-themes',themeId,'details']" title="info" class="item">-->
<!--<span class="fa fa-info"></span>-->
<!--</span>-->

<!--<span [routerLink]="['/my-themes',themeId,'edit']" title="Edit" class="item">-->
<!--<span class="fa fa-pencil-square-o"></span>-->
<!--</span>-->

<!--<span [routerLink]="['/my-themes',themeId,'tags']" title="View Tags" class="item">-->
<!--<span class="fa  fa-map-marker"></span>-->
<!--</span>-->

<!--<span [routerLink]="['/my-themes',themeId,'users']" title="View Subscribers" class="item">-->
<!--<span class="fa fa-users"></span>-->
<!--</span>-->

<!--<span [routerLink]="['/my-themes',themeId,'tags','tag-map']" title="View Tags on Map" class="item active">-->
<!--<span class="fa fa-map"></span>-->
<!--</span>-->

<!--<span [routerLink]="['/my-themes',themeId,'tags','file-operations']" title="File Operations" class="item">-->
<!--<span class="fa fa-upload"></span>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->

<nav class="navbar navbar-expand-lg  navbar-light bg-light" style="margin-bottom:2%;">
  <a class="logo"> <itt-main-header class="logo"></itt-main-header></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--<a class="navbar-brand "  [routerLink]="['/']">-->
  <!--<img src="assets/images/logo.png" height="30" class="d-inline-block align-top" alt="">-->
  <!--</a>-->
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav on-hover">
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link"-->
           <!--[routerLink]="['/my-themes']"><i class="fa fa-home"></i>-->
          <!--<span class="side-list">Home</span></a>-->
      <!--</li>-->
      <li>
        <a class="nav-link"
           [routerLink]="['/my-themes']"><i class="fa fa-home"></i>
          <span class="side-list">Home</span></a>
      </li>
      <li>
        <a class="nav-link"
           [routerLink]="['/my-themes',themeId,'details']"><i class="fa fa-info"></i>
          <span class="side-list">Info</span></a>
      </li>
      <li>
        <a class="nav-link"
           [routerLink]="['/my-themes',themeId,'edit']"><i class="fa fa-pencil-square-o"></i>
          <span class="side-list">Edit</span></a>
      </li>
      <!--<li>-->
        <!--<a class="nav-link"-->
           <!--[routerLink]="['/my-themes',themeId,'tags']"><i class="fa  fa-map-marker"></i>-->
          <!--<span class="side-list">Tags</span></a>-->
      <!--</li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-tag" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="fa  fa-map-marker"></i>Tags
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown-tag">
          <a class="dropdown-item"
             [routerLink]="['/my-themes',themeId,'tags']">List</a>
          <a class="dropdown-item"
             [routerLink]="['/my-themes',themeId,'tags','tag-map']">Map</a>
          <a class="dropdown-item"
             [routerLink]="['/my-themes',themeId,'tags','file-operations']">Download / Upload</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="SubscriptionDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-users"></i> Users
        </a>
        <div class="dropdown-menu" aria-labelledby="SubscriptionDropdown">
          <a class="dropdown-item" [routerLink]="['/my-themes',themeId,'users']">Subscribers</a>
          <a class="dropdown-item" [routerLink]="['/my-themes',themeId,'access-list']">Access List</a>
          <a class="dropdown-item" [routerLink]="['/my-themes',themeId,'wish-list']">Wish List</a>
        </div>
      </li>
      <!--<li>-->
        <!--<a class="nav-link"-->
           <!--[routerLink]="['/my-themes',themeId,'tags','tag-map']"><i class="fa fa-map"></i>-->
          <!--<span class="side-list ">Tags on Map</span>-->
          <!--&lt;!&ndash;<span class="side-list file-operations2">Map</span></a>&ndash;&gt;-->
        <!--</a>-->
      <!--</li>-->

      <!--<li>-->
        <!--<a class="nav-link"-->
           <!--[routerLink]="['/my-themes',themeId,'access-list']"><i class="fas fa-lock"></i>-->
          <!--<span class="side-list file-operations">Access</span>-->
          <!--<span class="side-list file-operations2"></span></a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a class="nav-link"-->
           <!--[routerLink]="['/my-themes',themeId,'wish-list']"><i class="fas fa-heart"></i>-->
          <!--<span class="side-list">WishList</span></a>-->
      <!--</li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="far fa-chart-bar"></i>Theme Stats
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/my-themes',themeId,'tag-stats']">Tags</a>
          <a class="dropdown-item" [routerLink]="['/my-themes',themeId,'subscription-stats']">Subscriptions</a>
          <a class="dropdown-item" [routerLink]="['/my-themes',themeId,'rating-stats']">Ratings</a>
        </div>
      </li>
      <li class="profile-image">
        <itt-profile-header ></itt-profile-header>
      </li>
      <!--<li>-->
      <!--<a class="nav-link mr-sm-2">-->
      <!--<button class="btn bg-light">-->
      <!--<itt-profile-header></itt-profile-header>-->
      <!--</button>-->
      <!--</a>-->
      <!--</li>-->
    </ul>
  </div>
</nav>
