/*td, th {*/
/*vertical-align: middle !important;*/
/*}*/


i {
  margin-right: 5px;
}

li {
  margin-right: 10px;
  font-size: 0.9em;
}

.logo {
  width: 20%;
}

.ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-operations2 {
  display: none;
}

@media only screen and (min-width: 990px) {
  /*.profile {*/
  /*display: none;*/
  /*}*/
  .profile-image {
    padding-top: 2%;
    max-width: 8%
  }
}

@media only screen and (min-width: 990px) and (max-width: 1200px) {
  /*.profile {*/
  /*display: none;*/
  /*}*/
  .file-operations {
    display: none;
  }

  .file-operations2 {
    display: block;
  }
}

@media (max-width: 767px) {
  .logo {
    margin-left:10%;
  }
}

@media (max-width: 360px) {
  .logo {
    margin-left:20%;
  }
}




/*.left {*/
/*background: #fff;*/
/*display: inline-block;*/
/*white-space: nowrap;*/
/*transition: width .5s ;*/
/*z-index: 9999;*/
/*}*/

/*.fa{*/
/*padding: 16px;*/
/*text-align: center;*/
/*}*/


/*.fa:hover {*/
/*background-color:#ff5900;*/
/*color: #fff;*/
/*}*/

/*.left .glyphicon,.left .fa {*/
/*margin:15px;*/
/*}*/


/*.item {*/
/*height:50px;*/
/*color:#ff5900;*/
/*}*/


/*!*Laptop*!*/
/*@media(min-width: 1206px)  {*/
/*ul{*/
/*margin-left: 10%;*/
/*}*/

/*}*/


/*!*Nexus 7*!*/
/*@media (max-width: 600px) {*/
/*a{*/
/*margin-right: 40%;*/
/*}*/

/*}*/

/*!*iPhone 6/7/8 plus*!*/
/*@media (max-width: 414px) {*/
/*a{*/
/*margin-right: 30%;*/
/*}*/
/*}*/



