<div class="modal-header">
  <h4 class="modal-title">{{theme.name}}</h4>
  <button type="button" class="close btn-danger" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
<div class="modal-body">
  <div>by: {{theme.createdBy}}</div>
  <img [src]="theme.themeImageUrl" alt="{{theme.name}}">
  <div  class="content">
    <h5 *ngIf="theme.price == 0" >Free</h5>
    <h5 *ngIf="theme.price > 0" >At charge</h5>
    <div>
      <ul>
        <li>show info</li>
        <li>show info</li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Cancel</button>
  <button *ngIf="theme.price > 0" type="button" class="btn btn-success">Subscribe and Pay</button>
  <button *ngIf="theme.price == 0" type="button" class="btn btn-success">Subscribe</button>
</div>
