<div class="header-container">
<a [routerLink]="['/']">
<div class="header-logo-container">
<img src="assets/images/logo.png">
</div>
</a>
</div>
<div style="display: flex; justify-content: center">
  <div class="login-tab" style="max-width: 550px; width: 100%; box-shadow: 2px 2px 2px 2px #dad7d7">
    <mat-tab-group [ngStyle]="{'width': '100%'}" style="padding: 50px;">
      <mat-tab label="SIGN IN" style="text-align: center">
        <itt-login></itt-login>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
