.header-container {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  -webkit-box-shadow: 0 5px 15px 0 rgba(46, 61, 73, .12);
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, .12);
}

.header-logo-container {
  margin: 0 auto;
  width: 200px;
  height: 35px;
}

.login-tab {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.body{
  background-color: whitesmoke;
}
