agm-map {
  height: 400px;
}

.ngx-pagination .current {
  background: red;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #f47d31;
}

.selected-row {
  background: #ffece2;

}

.load-location {
  margin-left: 1%;
}

form{
  margin-top:3%;
}

.flex-container{
  display: flex;
  justify-content: flex-end;
  margin-right:7%;
}
