<itt-navbar></itt-navbar>
<div class="flex-container">

  <div class="pull-right">
    <form [formGroup]="dateForm">
      <div style="max-width:600px;margin: 0 auto;margin-bottom: 5px;" class="pull-right">
        <table>
          <tbody>
          <tr style="text-align: center; margin-right: 2%;">
            <td>
              <label style="text-align: center" for="startDate">Start Date</label>
              <input style="text-align: center" name="startDate" class="form-control" [maxDate]="dateForm.value.endDate"
                     [mode]="'daytime'"
                     formControlName="startDate" [dpDayPicker]="startDateConfig"/>
              <!--<label for="start">Start date:</label>-->
              <!--<input type="datetime-local" id="start" name="trip-start"-->
              <!--formControlName="startDate">-->

            </td>
            <td>
              <label for="endDate">End Date</label>
              <input style="text-align: center" name="endDate" class="form-control" [minDate]="dateForm.value.startDate"
                     [mode]="'daytime'"
                     formControlName="endDate" [dpDayPicker]="endDateConfig"/>
              <!--<label for="start">End date:</label>-->
              <!--<input type="datetime-local" id="end" name="trip-end"-->
              <!--formControlName="endDate" >-->

            </td>
            <td>
              <button style="margin-top:8px" [disabled]="!dateForm.valid " type="submit"
                      (click)=downloadLocation(dateForm.value.startDate,dateForm.value.endDate);
                      class=" btn btn-info pull-right">
                Download Tags
                <i class="fa fa-download"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
    <span [hidden]="dateForm.valid"
          class="field-validation-valid text-danger" style="font-size: 0.9em" data-valmsg-replace="true">
    Invalid Date Range! Start Date should be less than End Date
  </span>
  </div>
</div>
<!--<div class="row load-location">-->
<!--<button [disabled]="!dateForm.valid " type="submit" class="btn btn-success"-->
<!--(click)="getDeviceLocationsPaginate(dateForm.value.startDate,dateForm.value.endDate)">-->
<!--Load location-->
<!--<i class="fa fa-refresh"></i>-->
<!--</button>-->
<!--</div>-->

<!-- list -->
<div class="row">

  <div class="col-4">

    <div id="locationslist">

      <div id="v-scrollable" lass="panel panel-default table-responsive" style="height: 400px; overflow-y: scroll;">

        <table class="table table-hover">
          <thead>
          <tr>
            <th>

              <button [disabled]="!dateForm.valid " type="submit" class="btn btn-success"
                      (click)="getDeviceLocationsPaginate(dateForm.value.startDate,dateForm.value.endDate)">
                Load location
                <i class="fa fa-refresh"></i>
              </button>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let location of locations|paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count } let i = index;"
            [attr.id]="'loc' + i" (click)="showMarker(i)" [ngClass]="{'selected-row': selectedRowItem == i}">
            <td>

              <b>{{location.latitude}}, {{location.longitude}}</b>
              <br> <b>speed:</b> {{location.speed | number : '1.2-2'}} m/s
              <br> {{location.acquired | date:'medium'}}
              <div class="pull-right">
                <span class="text-danger" *ngIf="!location.isOnline">Offline</span>
                <span style="color: green" *ngIf="location.isOnline">Online</span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <pagination-controls class="my-pagination" [autoHide]="false"
                           (pageChange)="onPageChanged($event)"></pagination-controls>
    </div>
  </div>

  <div class="col-8">
    <agm-map *ngIf="locations.length > 0 " [latitude]="lat" [longitude]="lng">
      <agm-marker *ngFor="let location of locations; let i = index;"
                  [latitude]="location.latitude"
                  [longitude]="location.longitude"
                  (markerClick)="onMarkerClicked(i)">

      </agm-marker>
    </agm-map>
    <div *ngIf="locations.length <= 0">
      There are no locations for this device
    </div>
  </div>

</div>


