<form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
  <div class="input-group  margin-bottom-10" style="max-width: 300px;">
    <input class="form-control" formControlName="searchInput" placeholder="Search">
    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid || !searchForm.touched">
        <!--<button type="submit" class="btn " style="background-color: #f57d00; color:white">-->
          <i class="fa fa-search"></i>
        </button>
      </span>
  </div>
</form>

<!--<form [formGroup]="searchForm" (ngSubmit)="theme-search(searchForm.value)">-->
  <!--<input type="text" class="textbox" formControlName="searchInput" placeholder="Enter email">-->
  <!--<input title="Search" value=""  type="submit" class="button">-->
<!--</form>-->

