<div class="sectiontitle margin-bottom-10">
  <h2>Settings</h2>
</div>
<form [formGroup]="settingsForm" (ngSubmit)="saveStoreProperties(settingsForm.value)">

  <div class="row spacing">
    <div class="col-12">
      <label class="category-label">Category </label>
      <ss-multiselect-dropdown class="multi-select" formControlName="category" style="width: 150px;"
                               [options]="categoryEnum" [texts]="myCategoryTexts"
                               [(ngModel)]="categoryOptionsModel"></ss-multiselect-dropdown>
      <span class=" alert-danger" style="margin-left: 2%" *ngIf="settingsForm.controls['category'].invalid">Required!</span>
    </div>
  </div>

  <div class="row spacing">
    <div class="col-12">
      <label class="region-label">Region</label>
      <ss-multiselect-dropdown formControlName="region" style="width: 150px;" class="region"
                               [options]="regionEnum" [texts]="myRegionTexts"
                               [(ngModel)]="regionOptionsModel"></ss-multiselect-dropdown>
      <span class=" alert-danger" style="margin-left: 2%" *ngIf="settingsForm.controls['region'].invalid">Required!</span>
    </div>

  </div>

  <div class="row spacing">
    <div class="flex-price">
      <label class="price-label" for="Price">Price</label>
      <input size="4" class="form-control text-box single-line col-xs-8 price-label-input"

             data-val="true"
             data-val-number="The field Price must be a number." data-val-required="The Price field is required."
             id="Price" name="Price" formControlName="price" type="number">
      <select class="form-control dropdown-select pull-left  currency-input" formControlName="currency"
              data-val="true"
              data-val-required="The currency field is required." id="currency"
              name="currency" required>
        <option *ngFor="let currency of currencies" [value]="currency.value"
                [selected]="currency.value == settings.currency">
          {{currency.label}}
        </option>
      </select>
    </div>
    <div class="month">per month</div>
  </div>

  <div class="row spacing">
    <div class="col-12">
      <div>
        <label class="inverted-control-label col-xs-11" for="allowCrowdSourcing">Allow Crowd Sourcing</label>
        <input class="inverted-checkboxinput" name="allowCrowdSourcing" formControlName="allowCrowdSourcing"
               [value]="settings.allowCrowdSourcing" type="checkbox">
      </div>
    </div>
  </div>
    <div class="row spacing">
      <div class="col-12">
        <label class="inverted-control-label col-xs-11" for="allowMovingTags">Allow Moving Tags</label>
        <input class="inverted-checkboxinput" data-val="true" data-val-required="The Checked field is required."
               name="allowMovingTags" formControlName="allowMovingTags" [checked]="settings.allowMovingTags"
               type="checkbox">
      </div>
    </div>
  <div class="row spacing">
    <div class="col-12">
      <label class="inverted-control-label col-xs-11" for="useAccessList">Use Access list</label>
      <input class="inverted-checkboxinput" data-val="true" data-val-required="The Checked field is required."
             name="allowMovingTags" formControlName="useAccessList" [checked]="settings.useAccessList"
             type="checkbox">
    </div>
  </div>
  <div class="row spacing">
    <div class="flex-show-store">
      <label style="margin-right:10px;" class="control-label">Show in Store</label>
      <input style="margin-top:7px;" data-val="true" data-val-required="The Checked field is required."
             id="visibleInStore"
             name="visibleInStore" formControlName="visibleInStore" [checked]="settings.visibleInStore" type="checkbox">
    </div>

  </div>
  <button type="submit" class="btn btn-primary push-right"
          [disabled]="!(settingsForm.valid && settingsForm.dirty)">Save
  </button>
</form>
