.spacing {
  margin-bottom: 20px;
}

.region-label {
  margin-right: 17px;
}

.category-label {
  margin-right: 5px
}

.control-label {
  padding-left: 15px;
  margin-right: 5px;
}

.flex-show-store {
  display: flex;
  justify-content: space-between;
}

.sectiontitle {
  margin-top: 15px;

}

.flex-price {
  display: flex;
  justify-content: space-between;
}

form {
  margin-left: 2%;
  font-weight: normal;
}

.price-label {
  margin-left: 5%;
  margin-right: 13%;
}

.price-label-input {
  max-width: 130px;
  max-height: 34px;
  text-align: center;
  margin-right:1%;
}

.currency-input {
  max-width: 100px;
  text-align: center;
  max-height: 34px;
}

/*iPhone 5 */
@media(max-width: 320px)  {
 .month{
   font-size: 12px;
 }
  .multi-select:hover{
    color: darkorange;

  }

}
