<div class="modal-header">
  <h4 class="modal-title">Remove</h4>
</div>

<div class="modal-body">
  Are you sure you want to remove <span style="color: red"> {{username}} </span> from the administrators?
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancel()">No</button>
  <button type="button" class="btn btn-danger" (click)="removeAdmin()">Yes</button>
</div>
