<!--<form [formGroup]="settingsForm" (ngSubmit)="saveStoreProperties(settingsForm.value)">-->
  <!--<div class="row spacing" >-->
    <!--<div class="col-12">-->
      <!--<label>Region</label>-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-8">&ndash;&gt;-->
      <!--&lt;!&ndash;<ss-multiselect-dropdown  formControlName="region"&ndash;&gt;-->
                                <!--&lt;!&ndash;[options]="regionEnum" [texts]="myTexts"&ndash;&gt;-->
                                <!--&lt;!&ndash;[(ngModel)]="optionsModel" [value]="settings.region.value" >&ndash;&gt;-->
      <!--&lt;!&ndash;</ss-multiselect-dropdown>&ndash;&gt;-->

    <!--</div>-->
  <!--</div>-->

  <!--<div class="row spacing" >-->
    <!--<div class="col-2">-->
      <!--<label for="Price">Price</label>-->
    <!--</div>-->
    <!--<div class="col-10">-->
      <!--<input size="4" class="form-control text-box single-line col-xs-8" style="max-width:32%" data-val="true"-->
             <!--data-val-number="The field Price must be a number." data-val-required="The Price field is required."-->
             <!--id="Price" name="Price" formControlName="price" type="number">-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="col-4 pull-left">&ndash;&gt;-->
      <!--<select   class="form-control dropdown-select pull-left " formControlName="currency" style="max-width:30%" data-val="true"-->
                <!--data-val-required="The currency field is required." id="currency"-->
                <!--name="currency" >-->
        <!--<option *ngFor="let currency of currencies" [value]="currency" selected>-->
          <!--{{currency.label}}-->
        <!--</option>-->
      <!--</select>-->
    <!--</div>-->

  <!--</div>-->
  <!--<div class="row spacing">-->
    <!--<div class="col-12">-->
      <!--<div>-->
        <!--<input class="inverted-checkboxinput" name="allowCrowdSourcing" formControlName="allowCrowdSourcing"-->
               <!--value="allowCrowdSourcing" type="checkbox">-->
        <!--<label class="inverted-control-label col-xs-11" for="allowCrowdSourcing">Allow Crowd Sourcing</label>-->
      <!--</div>-->

      <!--<div>-->
        <!--<input class="inverted-checkboxinput" data-val="true" data-val-required="The Checked field is required."-->
               <!--name="allowMovingTags" formControlName="allowMovingTags" value="allowMovingTags" type="checkbox">-->
        <!--<label class="inverted-control-label col-xs-11" for="allowMovingTags">Allow Moving Tags</label>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row spacing">-->
    <!--<label class="control-label col-4">Show in Store</label>-->

    <!--<div class="col-8">-->
      <!--<input data-val="true" data-val-required="The Checked field is required." id="visibleInStore"-->
             <!--name="visibleInStore" formControlName="visibleInStore" value="active" type="checkbox">-->
    <!--</div>-->
  <!--</div>-->
  <!--<button type="submit" class="btn btn-primary">Save</button>-->
<!--</form>-->
