<div class="container">
  <ng2-slim-loading-bar style="position: absolute; width: 100%;top: 0;" [color]="'#ff5900'" [height]="'4px'"></ng2-slim-loading-bar>
  <router-outlet></router-outlet>
</div>

<!--<div class="container">-->
  <!--<itt-footer></itt-footer>-->
<!--</div>-->
