<itt-snap-left-nav [themeId]="themeId"></itt-snap-left-nav>
<itt-theme-header [themeId]="themeId"></itt-theme-header>
<itt-tag-editor [tagEditModel]="tagEditModel" (editComplete)="saveTag($event)"></itt-tag-editor>
