  <div class="sidenav">
    <a (click)="closeNav();"><span class="closebtn">&times;</span></a>
    <div class="logo">
      <a [routerLink]="['/']">
        <img src="assets/images/logo.png" style="height: 39px;" alt="">
      </a>
    </div>
    <!--<hr>-->
    <!--<a-->
    <!--[routerLink]="['/home']">-->
    <!--<i class="fas fa-shopping-cart"></i>-->
    <!--<span class="nav-link">Store</span></a>-->
    <hr>
    <a
      [href]="[themeManager]">
      <i class="fas fa-suitcase"></i>
      <span class="nav-link">Theme Manager</span></a>
    <hr>
    <a
      [routerLink]="['/my-subscriptions']">
      <i class="fas fa-list-ol"></i>
      <span class="nav-link">My Subscriptions</span></a>
    <hr>
    <a
      [routerLink]="['/my-devices']">
      <i class="fas fa-mobile-alt"></i>
      <span style="margin-left:10px;" class="nav-link">My Devices</span>
    </a>
    <hr>
    <a
      [routerLink]="['/my-wishlists']">
      <i class="fas fa-heart"></i>
      <span style="margin-left:10px;" class="nav-link">My Wishlist</span>
    </a>
    <hr>
    <a
      [routerLink]="['/my-payments']">
      <i class="fab fa-paypal"></i>
      <span style="margin-left:10px;" class="nav-link">My Payments</span>
    </a>
    <hr>
    <a>
      <itt-profile-header></itt-profile-header>
    </a>
    <hr>
  </div>



<div style="background-color: #eeeeee; box-shadow: 1px 1px 1px 1px #b3b3b3;">
  <div class="menu-icon pull-left" (click)="openSideNav();">
    <img src="assets/images/menu-icon.png">
  </div>

  <div class="nav-bar" style="padding-top: 1%;padding-bottom: 1%;">
    <div class="logo-sm">
      <a [routerLink]="['/']">
        <img src="assets/images/logo.png " style="height: 39px" alt="">
      </a>
    </div>

    <div class="nav-links">
      <div class="link" id="categorydropdown">
        <div class="dropdown">
          <a class=" dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            {{categoryLabel}}
          </a>
          <div class="dropdown-menu" aria-labelledby="categorydropdown">
            <button *ngFor="let category of categories"
                    style="font-size: 0.8em"
                    class="dropdown-item"
                    type="button" (click)="showCategory(category)">{{category.label}}</button>
          </div>
        </div>
      </div>
      <div class="partition">
        <div class="partition-bar"></div>
      </div>
      <div class="link" (click)="showHome()"><a>All Category</a></div>
      <!--<div class="link"><a>New Releases</a></div>-->
      <!--<div class="link"><a>Popular around my location</a></div>-->
    </div>
  </div>
</div>

