
.logo {
  display: none;
}


/*Laptop*/
@media (min-width: 1206px) {
  .sidenav {
    height: 100%; /* 100% Full-height */
    /*width: 285px; !* 0 width - change this with JavaScript *!*/
    width: 15%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #eeeeee; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 4px; /* Place content 60px from the top */
    transition: 0.4s; /* 0.2 second transition effect to slide in the sidenav */
    box-shadow: 1px 1px 1px 1px #b3b3b3;
  }

  .closebtn {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .logo {
    display: flex;
    margin-bottom: -9px;
  }

  .logo-sm {
    display: none;
  }

  .nav-bar {
    height: 54px;
  }

  .nav-links {
    display: flex;
    background-color: #eeeeee;
  }

  .nav-links a {
    color: #555;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
  }

  .nav-links a:hover {
    background-color: #ddd;
    color: black;
  }

  /*.nav-links .link a::selected {*/
  /*border-bottom-style: solid;*/
  /*border-bottom-width: 3px;*/
  /*border-bottom-color: yellow;*/
  /*!*color: #333;*!*/
  /*font-weight: 500;*/
  /*height: 45px;*/
  /*}*/
  .partition {
    display: inline-block;
    vertical-align: top;
  }

  .partition-bar {
    background: #d6d6d6;
    display: inline-block;
    height: 30px;
    padding: 0;
    width: 1px;
  }

  .nav-links {
    display: flex;
  }

}


/*!*Nexus 7*!*/
/*@media (max-width: 600px) {*/
/*!*a {*!*/
/*!*margin-right: 40%;*!*/
/*!*}*!*/
/*}*/

/*!*iPhone 6/7/8 plus*!*/
/*@media (max-width: 414px) {*/
/*!*a {*!*/
/*!*margin-right: 30%;*!*/
/*!*}*!*/
/*}*/

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*side nav style details*/

/* The side navigation menu */
@media (max-width: 1205px) {
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #e5e5e5; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 60px from the top */
    transition: 0.4s; /* 0.2 second transition effect to slide in the sidenav */
  }

  /*.transparent-div {*/
    /*background-color: red;*/
    /*!*width: calc(100% - 100px);*!*/
    /*width: 300px;*/
    /*height: 100px;*/
    /*z-index: 1; !* Stay on top *!*/
  /*}*/

  .nav-links {
    display: none;
  }

}

/* The navigation menu links */
.sidenav a {
  padding-bottom: 2px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1.2em;
  color: #040306;
  display: flex;
  /*transition: 0.3s;*/
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f47a00;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 12px;
  }
}

i {
  margin-top: 10px;
}

.nav-link {
  padding-left: 10px;
}






