
.theme-name{
  padding-left: 10px;
}

.container{
  font-size: 10px;
}
/*dt {*/
  /*float: left;*/
  /*clear: left;*/
  /*margin-right: 8px;*/
  /*padding: 0;*/
/*}*/
.side-list{
  font-size: 30px;
}
.image {
  float: none;
  margin-right: 0px;
  padding: 0;
}

.btn {
  margin-right: 10px;
}

.theme-details-color-box{
  margin-left: 120px;
}

.image {
  float: none;
  margin-right: 0px;
  padding: 0;
}
.sectiontitle {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 2px solid #eee;
}

.profile {
  padding-left: 120px;
}

@media only screen and (max-width: 1000px) {
  div.profile {
    display: none;
  }

}
/*large devices*/
@media(min-width: 1367px)  {
  dt {
    float: left;
    clear: left;
    margin-right: 8px;
    padding: 0;
    /*margin-top: 3px;*/
    /* font-size: 20px */
  }

  .btn {
    /* margin-right: 10px; */
    margin-bottom: 10px;
    width: 140px;
    margin-left: 20px;
    /* font-size: 20px */
  }
  .image {
    float: none;
    margin-right: 0px;
    padding: 0;
  }
  .graph{
    margin-bottom: 20px
  }
}


/*Laptop*/
@media(max-width: 1366px)  {
  dt {
    float: left;
    clear: left;
    margin-right: 8px;
    padding: 0;
    /*margin-top: 3px;*/
    /* font-size: 20px */
  }

  .btn {
    /* margin-right: 10px; */
    margin-bottom: 10px;
    width: 140px;
    margin-left: 20px;
    /* font-size: 20px */
  }
  .image {
    float: none;
    margin-right: 0px;
    padding: 0;
  }
  .graph{
    margin-bottom: 20px
  }
}

/*iPad */
@media(max-width: 768px)  {
    dt {
      float: left;
      clear: left;
      margin-right: 8px;
      padding: 0;
      margin-top: 3px;
      /* font-size: 20px */
    }
  dd{
    display: block;
    margin-top: 10px;
    /*margin-inline-start: 40px;*/

  }


  .btn {
    /* margin-right: 10px; */
    margin-bottom: 10px;
    width: 150px;
    /* font-size: 20px */
  }
  .image {
    float: none;
    margin-right: 0px;
    padding: 0;
  }
  .graph{
    margin-bottom: 20px
  }
}


/*Nexus 7*/
@media(max-width: 600px)  {
  dt {
    /*float: left;*/
    /*clear: left;*/
    /*margin-right: 8px;*/
    /*padding: 0;*/
    margin-top: 3px;
  }
  dd{
    display: block;
    margin-top: 10px;
    /*margin-inline-start: 40px;*/

  }


  .btn {
    /* margin-right: 10px; */
    margin-bottom: 10px;
    width: 150px;
  }
  .image {
    float: none;
    margin-right: 0px;
    padding: 0;
  }
  .graph{
    margin-bottom: 20px
  }
   
}


/*iPhone 6 plus */
@media(max-width: 414px) {
  dt {
    /*float: left;*/
    /*clear: left;*/
    /*margin-right: 8px;*/
    /*padding: 0;*/
  }

  dd{
    display: block;
    margin-top: 10px;
    /*margin-inline-start: 40px;*/

  }


  .btn {
    /* margin-right: 10px; */
    margin-bottom: 5px;
    width: 150px;
  }
  .image {
    float: none;
    margin-right: 0px;
    padding: 0;
  }
}



/*iPhone 5 */
@media(max-width: 320px)  {
  dt {
  float: left;
  clear: left;
  margin-right: 8px;
  padding: 0;
  margin-top: 3px;
}
dd{
  display: block;
  /*margin-inline-start: 40px;*/
  
}

.btn {
  /* margin-right: 10px; */
  margin-bottom: 5px;
  width: 150px;
}
.image {
  float: none;
  margin-right: 0;
  padding: 0;
}
}




