<div>
  <!--<div class="row">-->
  <!--<div class="col-4 side-list">-->
  <!--<a class="nav-link btn btn-primary" [href]="[storeUrl]">-->
  <!--<span>Go To Store</span></a>-->
  <!--</div>-->
  <!--<div class="col-4">-->
  <!--<itt-main-header class="logo"></itt-main-header>-->
  <!--</div>-->

  <!--&lt;!&ndash;<div class="col-4">&ndash;&gt;-->
  <!--&lt;!&ndash;<span style="font-size:30px;cursor:pointer" (click)="toggleSidebar()">&#9776;</span>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!--<div class="col-4 profile">-->
  <!--<itt-profile-header></itt-profile-header>-->
  <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash;<ng-sidebar-container>&ndash;&gt;-->
  <!--<ng-sidebar-container style="height: 100vh; ">-->
  <!--&lt;!&ndash;<ng-sidebar-container [ngStyle]="mystyle">&ndash;&gt;-->
  <!--<ng-sidebar [(opened)]="isOpened" position="left" mode="over" showBackdrop="true" closeOnClickBackdrop="true"-->
  <!--style="background-color:#f8f9fa">-->
  <!--<itt-side-nav-details></itt-side-nav-details>-->
  <!--</ng-sidebar>-->

  <!-- Page content -->
  <!--<div ng-sidebar-content class="ng-side-color">-->
  <div class="row">
    <div class="col-12 search-style">


      <itt-snap-left-nav [themeId]="themeDetail._id"></itt-snap-left-nav>
      <br>
      <br>
      <ol class="breadcrumb">
        <li>
          <a [routerLink]="['/my-themes'] ">Themes</a>
        </li>
        <li class="theme-name">
          {{themeDetail.name}}
        </li>
        <li>
        </li>
      </ol>


      <div >
        <div class="">
          <div class="sectiontitle">
            <h2 *ngIf="!themeDetail.name">Create Theme</h2>
            <h2 *ngIf="themeDetail.name">{{themeDetail.name}}</h2>
          </div>

          <dl class="dl-horizontal">

            <dt class="image">
              Theme Image:
            </dt>

            <dd>
              <img height="98px" width="98px" [src]="themeDetail.themeImageUrl" alt="Theme Image">
            </dd>

            <dt>
              Name:
            </dt>

            <dd>
              {{themeDetail.name}}
            </dd>

            <dt>
              Description:
            </dt>

            <dd *ngIf="themeDetail.description">
              {{themeDetail.description}}
            </dd>

            <dd *ngIf="!themeDetail.description" >
              <span style="color: #6c757d">--no description--</span>
            </dd>

            <dt>
              Price:
            </dt>

            <dd>
              {{themeDetail.price}}
            </dd>

            <dt>
              Tag icon image:
            </dt>

            <dd>
              <img class="tagimagethumb" height="26px" width="26px" [src]="themeDetail.tagIconImageUrl"
                   alt="Tag Image">

            </dd>

            <dt>
              Map dot color:
            </dt>

            <dd>
              <div class="theme-details-color-box" [style.background-color]="themeDetail.color"></div>
            </dd>

            <dt>
              Default Notification Distance:
            </dt>

            <dd style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
              {{themeDetail.defaultNotificationDistance}}
            </dd>

            <dt>
              Default Tag Silence Option:
            </dt>

            <dd style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
              {{themeDetail.defaultTagSilence}}
            </dd>

            <dt>
              Allow Fast Tags:
            </dt>

            <dd style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
              {{themeDetail.allowFastTags? 'yes': 'no'}}
            </dd>
            <dt>
              Allow Moving Tags:
            </dt>

            <dd style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
              {{themeDetail.allowMovingTags? 'yes': 'no'}}
            </dd>
            <dt>
              Allow Crowd Sourcing:
            </dt>

            <dd style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
              {{themeDetail.allowCrowdSourcing? 'yes' : 'no'}}
            </dd>
            <dt>
              Region:
            </dt>

            <dd *ngIf="themeDetail.region" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
              {{themeDetail.region}}
            </dd>
            <dd *ngIf="!themeDetail.region" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
              <span> --no region selected--</span>
            </dd>
            <dt>
              Use Access List:
            </dt>

            <dd style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width:100px;">
              {{themeDetail.useAccessList? 'yes' : 'no'}}
            </dd>
            <dt>
              Category:
            </dt>

            <dd *ngIf="themeDetail.category" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
              {{themeDetail.category}}
            </dd>
            <dd *ngIf="!themeDetail.category" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
              <span> --no category selected--</span>
            </dd>
            <!--<dt>-->
            <!--KeyWords:-->
            <!--</dt>-->

            <!--<dd>-->
            <!--"key word"-->
            <!--</dd>-->

            <dt>
              Created by:
            </dt>

            <dd>
              {{themeDetail.createdBy}}
            </dd>

            <dt>
              Created since:
            </dt>

            <dd>
              <!--{{themeDetail.createdAt| date: 'mediumDate'}}-->
              {{themeDetail.createdAt | amTimeAgo:true}}

            </dd>

            <dt>
              Updated by:
            </dt>

            <dd>
              {{themeDetail.createdBy}}
            </dd>

            <dt>
              Updated since:
            </dt>

            <dd>
              {{themeDetail.updatedAt| amTimeAgo:true}}
            </dd>

            <dt>
              Show in Store:
            </dt>

            <dd>
              <!--<input style="width: 1.4em; height: 1.3em; outline: 1px solid red;" *ngIf="themeDetail.active"  type="checkbox" disabled="disabled">-->
              <!--<input style="width: 1.4em; height: 1.3em;  outline: 1px solid green;" *ngIf="themeDetail.visibleInStore"  type="checkbox"  disabled="disabled" checked>-->
              {{themeDetail.visibleInStore? 'yes': 'no'}}
            </dd>


          </dl>
        </div>


        <!--<div class="col-sm-6">-->
          <!--<div class="sectiontitle margin-bottom-20">-->
            <!--<h2>Theme Stats</h2>-->
          <!--</div>-->
          <!--<dl class="dl-horizontal">-->
            <!--<dt>Tag Count:</dt>-->
            <!--<dd> {{themeDetail.tagCount}}</dd>-->
            <!--<dt>Active Subscribers:</dt>-->
            <!--<dd> {{themeDetail.activeSubscribers}}</dd>-->
            <!--<dt>Total No of Ratings:</dt>-->
            <!--<dd> {{themeDetail.totalNumberOfRatings}}</dd>-->
          <!--</dl>-->
          <!--&lt;!&ndash;<canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"&ndash;&gt;-->
                  <!--&lt;!&ndash;[legend]="barChartLegend" [chartType]="barChartType"&ndash;&gt;-->
                  <!--&lt;!&ndash;class="graph"></canvas>&ndash;&gt;-->
          <!--<button class="btn btn-danger" title="Delete" (click)="deleteAllTags(themeDetail._id)">-->
                  <!--<span class="fa fa-trash">-->
                  <!--</span> Delete Tags-->
          <!--</button>-->

          <!--<button class="btn btn-danger push-left" title="remove" data-target="#deleteAdminUserModal"-->
                  <!--data-toggle="modal">-->
                    <!--<span class="fa fa-trash">-->
                    <!--</span> Delete-->
          <!--</button>-->


          <!--<div class="modal fade" id="deleteAdminUserModal" tabindex="-1" role="dialog"-->
               <!--aria-labelledby="exampleModalLabel"-->
               <!--aria-hidden="true">-->
            <!--<div class="modal-dialog" role="document">-->
              <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                  <!--<h5 class="modal-title">Remove Admin User</h5>-->
                  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                  <!--</button>-->
                <!--</div>-->

                <!--&lt;!&ndash;modal body&ndash;&gt;-->
                <!--<div class="modal-body">-->
                  <!--Are you sure you want to remove this theme?-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                  <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                  <!--<button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteTheme()">-->
                    <!--Remove-->
                  <!--</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->


          <!--<button (click)="exportTheme()" class="btn btn-primary" title="Delete">-->
                    <!--<span class="fa fa-download">-->
                    <!--</span> Export Theme-->
          <!--</button>-->
        <!--</div>-->

      </div>

    </div>


  </div>
</div>
<!--</ng-sidebar-container>-->
<!--</div>-->
