<form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
  <div class="input-group  margin-bottom-10" style="max-width: 300px;">
    <input class="form-control" formControlName="searchInput" [placeholder]="placeHolder || 'Search'" >
    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">
        <!--<button type="submit" class="btn " style="background-color: #f57d00; color:white">-->
          <i class="fa fa-search"></i>
        </button>
      </span>
  </div>
</form>



