ul {
  list-style-type: none;
}

li{
}

.profile-img {
  border-radius: 100px;
  width: 10%;
}

@media only screen and (min-width: 990px) {
  .profile-email{
    display: none;
  }
  .profile-img {
    border-radius: 100px;
    width: 100%;
  }


}




/*.profile-email {*/
  /*font-size: 12px;*/
  /*margin-right: 10px;*/
  /*margin-left: 2px;*/
/*}*/
