<ul [hidden]="!isLoggedIn">
  <li routerLink="/profile">
    <img class="profile-img" [src]="profileImage">
    <span class="profile-email">{{email}}</span>
  </li>
</ul>

<ul [hidden]="isLoggedIn">
  <li routerLink="/profile">
    <div class="profile"><img class="profile-img" src="assets/images/ic_profile-pic.png">
      <span class="profile-email">{{email}}</span>
      <i class="fas fa-sign-in-alt" (click)="login()" style="font-size: 20px; margin-left:20px;"></i>
    </div>
  </li>
</ul>
