
.list-group {
  padding: 5px;
  /*background-color: #f97c40;*/

}

.side-list {
  margin-left: 2px;
  padding-bottom: 10px;
  font-weight: bold;
  /*color: whitesmoke;*/
}

.ng-sidebar {
  background: #f8f9fa;
}

.side-list {
  margin-left: 25px;
  font-size: 13px;
}
