<div class="fit-screen">
  <itt-my-device-list></itt-my-device-list>
</div>

<!--<div class="row">-->
  <!--<div class="col-4">-->
    <!--<span style="font-size:30px;cursor:pointer" (click)="sidenav.toggle()">&#9776;</span>-->
  <!--</div>-->
  <!--<div class="col-4">-->
    <!--<itt-main-header class="logo"></itt-main-header>-->
  <!--</div>-->
  <!--<div class="col-4 profile">-->
    <!--<itt-profile-header></itt-profile-header>-->
  <!--</div>-->
<!--</div>-->

<!--<mat-sidenav-container  class="example-container adjustment">-->
  <!--<mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')" style="background-color: #eaeaea"-->
               <!--(closed)="events.push('close!')">-->
    <!--<itt-side-nav-details></itt-side-nav-details>-->
  <!--</mat-sidenav>-->
  <!--<mat-sidenav-content>-->
    <!--<div class="container">-->
      <!--<itt-my-device-list></itt-my-device-list>-->
    <!--</div>-->
  <!--</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->



