
.fit-screen {
  margin-left: 15%;
  width: 85%;
}
@media only screen and (max-width: 1204px) {

  .fit-screen {
    margin-left: 0%;
    width: 100%;
  }
}


/*@media only screen and (max-width: 1000px) {*/
  /*div.profile {*/
    /*display: none;*/
  /*}*/
/*}*/


/*.adjustment {*/
  /*min-height: 700px;*/
/*}*/


/*@media(min-width: 1367px)  {*/
  /*.adjustment {*/
    /*min-height: 900px;*/
  /*}*/
/*}*/

/*!*Laptop*!*/
/*@media(min-height: 1366px )  {*/
  /*.adjustment {*/
    /*min-height: 1250px;*/
  /*}*/

/*}*/

/*!*iPad *!*/
/*@media(max-width: 768px)  {*/
  /*.adjustment {*/
    /*min-height: 950px;*/
  /*}*/
/*}*/

/*!*Nexus 7*!*/
/*@media (max-width: 600px) {*/
  /*.adjustment {*/
    /*min-height: 850px;*/
  /*}*/
/*}*/


/*!*iPhone 6/7/8 plus*!*/
/*@media (max-width: 414px) {*/
  /*.adjustment {*/
    /*min-height: 604px;*/
  /*}*/
/*}*/

/*!*iPhone 5s*!*/
/*@media (max-width: 360px) {*/
  /*.adjustment {*/
    /*min-height: 320px;*/
  /*}*/
/*}*/

/*!*iPhone 5 *!*/
/*@media (max-width: 320px) {*/
  /*.adjustment {*/
    /*min-height: 310px;*/
  /*}*/
/*}*/

