<div class="container">
  <div class="row">
    <form [formGroup]="basicInfoForm" (ngSubmit)="onSubmit(basicInfoForm.value)">
      <div class="sectiontitle margin-bottom-10">
        <h2>Basic Info</h2>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="Name"><strong>Name</strong></label>
          <div>
            <input class="form-control " data-val="true" data-val-length="The field Name must be a string with a maximum length of 50."
              data-val-length-max="50" data-val-required="The Name field is required." id="Name" name="Name"
              formControlName='name' type="text">
            <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label " for="Description"><strong>Description</strong></label>
          <div>
            <input formControlName='description' class="form-control text-box single-line" data-val="true"
              data-val-length="The field Description must be a string with a maximum length of 250."
              data-val-length-max="250" id="Description" name="Description" value="" type="text">
            <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="color"><strong>Color</strong></label>
          <div>
            <input class="color" type="color" id="color" name="color" formControlName="color" [value]="basicInfo.color">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label " for="defaultDistance"><strong>Default Notification Distance</strong></label>

          <div class="form-inline">
            <input class="form-control" size="4" formControlName='defaultDistance' data-val="true" data-val-number="The field Distance must be a number."
              data-val-required="The Distance field is required." id="defaultDistance" name="defaultDistance" value="0.00"
              type="text">
            <select class="form-control dropdown-select notification-distance" data-val="true" data-val-required="The DistanceUnit field is required."
              formControlName='defaultDistanceUnit' id="DistanceUnit" name="DistanceUnit">
              <option *ngFor="let unit of distanceOptions" [ngValue]="unit.value" [selected]="unit.value == basicInfo.defaultDistanceUnit">
                {{unit.label}}
              </option>
            </select>
          </div>
          <span class="field-validation-valid text-danger" data-valmsg-for="Distance" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
          <label class="control-label" for="defaultTagSilence"><strong>Default Tag Silence</strong></label>
          <div>
            <div class="form-inline">
              <input class="form-control text-box single-line  " size="4" formControlName='defaultTagSilence' id="defaultTagSilence"
                name="defaultTagSilence" value="0.00" type="text">
              <select class="form-control dropdown-select col-lg-6 tag-silence" data-val="true" formControlName='defaultTagSilenceUnit'
                id="tagSilenceUnit" name="tagSilenceUnit">
                <option *ngFor="let unit of tagSilenceOptions" [ngValue]="unit.value" [selected]="unit.value == basicInfo.defaultTagSilenceUnit">{{unit.label}}
                </option>
              </select>
            </div>
            <span class="field-validation-valid text-danger" data-valmsg-for="Distance" data-valmsg-replace="true"></span>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-primary save-button" [disabled]="!(basicInfoForm.valid && (basicInfoForm.dirty || color.dirty))">

        Save
      </button>
    </form>
  </div>
</div>
