
.itt-background-color {
  background-color: #f47d31;
}

.itt-color {
  color: #f47d31;
}

/* .name-label {
  margin-right: 5%;
} */

/* .notification-distance {
  margin-left: 4%;
}

.tag-silence {
  margin-left: 4%;
} */

#defaultTagSilence {
  text-align: center;
  height: 34%;
}

#defaultDistance {
  text-align: center;
  height: 34%;
}

.save-button {
  margin-left: 4%;
}

.push-right {
  margin-left: 5%;
}

/*large devices*/
@media (min-width: 1367px) {
  input {
    width: 400px;
  }

  .color {
    width: 80px;
  }

  .control-label {
    width: 220px;
  }
}

/*Laptop*/
@media (max-width: 1366px) {

  input {
    width: 400px;
  }

  .control-label {
    width: 220px;
  }

  .color {
    width: 80px;
  }
}

/*iPad */
@media (max-width: 768px) {
  /*.container {*/
  /*font-size: 10px;*/
  /*}*/
  .control-label {
    width: 220px;
  }
}

/*Nexus 7*/
@media (max-width: 600px) {

  .color {
    width: 150px;
  }

  input {
    width: 250px;
  }

}

/*iPhone 6 plus */
@media (max-width: 414px) {
  select {
    width: 150px;
  }
  input {
    width: 150px;
  }

  .color {
    width: 150px;
  }
}

/*iPhone 5s*/
@media (max-width: 320px) {
  select {
    width: 120px;
  }
  .notification-distance {
    margin-left: 0px;
  }
  
  .tag-silence {
    margin-left: 0px;
  }
  input {
    width: 120px;
  }
  .color {
    width: 120px;
  }
  .control-label{
  }
 }





