<form [formGroup]="loginForm" (ngSubmit)="loginLocal(loginForm.value)">
  <div class="container">
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
           autofocus=""
           formControlName="email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
           required=""
           formControlName="password">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid"
            type="submit">Sign in
    </button>
  </div>
</form>

<span>Don't have an account? <a [routerLink]="['/register']" [queryParams]="{returnUrl:returnUrl}">Sign up</a></span>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


