<!--<div class="row">-->
<!--<div class="col-4">-->
<!--<span style="font-size:30px;cursor:pointer" (click)="sidenav.toggle()">&#9776;</span>-->
<!--</div>-->
<!--<div class="col-2">-->
<!--<itt-main-header class="logo"></itt-main-header>-->
<!--</div>-->
<!--<div class="col-6 profile">-->
<!--<itt-profile-header></itt-profile-header>-->
<!--</div>-->
<!--</div>-->

<!--<mat-sidenav-container class="example-container">-->
<!--<mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"-->
<!--(closed)="events.push('close!')">-->
<!--<itt-side-nav-details></itt-side-nav-details>-->
<!--</mat-sidenav>-->

<!--<mat-sidenav-content>-->

<div class="">
  <!--<div>-->
  <!--<h2>Reviews And Ratings</h2>-->
  <!--</div>-->
  <div class="add-review">
    <form [formGroup]="addReviewForm" (ngSubmit)="onSubmit(addReviewForm.value)">
      <div class="review"><textarea class="form-control input-group-prepend" type="text"
                                    placeholder="type review" formControlName="message"></textarea>
      </div>
      <div style="display: block; flex-grow: 1; width: 100px">
        <ngb-rating id="rating" [(rate)]="numStars" (hover)="hovered=$event" (leave)="hovered=0"
                    [resettable]="resettable" [max]="max" formControlName="rating"></ngb-rating>
        <button *ngIf="!isEdit" type="submit" class="btn btn-success" [disabled]="!addReviewForm.valid ">Post Review
          <!--<button type="submit" class="btn btn-primary save-button" [disabled]="!(basicInfoForm.valid && (basicInfoForm.dirty || color.dirty))">-->

        </button>
        <button *ngIf="isEdit" type="submit" class="btn btn-success" [disabled]="!addReviewForm.valid">Update Review
        </button>
      </div>
    </form>
  </div>
</div>

<!--</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->


