<div class="container">
  <itt-navbar></itt-navbar>
  <div class="sectiontitle">
    <h2>ITagTip Users</h2>
  </div>
  <div class="user-table">
    <div class="pull-right margin-bottom-10" style="max-width: 300px;">
      <!--<itt-theme-search-bar (Search)="searchForUser($event)"></itt-theme-search-bar>-->
    </div>
    <div class="panel  panel-default table-responsive margin-bottom-10">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>

          </th>
          <th>
            Email
          </th>

        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let user of userSearchResult  let i =index;"
          [routerLink]="['/users',user._id,'details']">
          <td>
            <img height="24px" class="centered circle useravatar" [src]="user.profileImageUrl" alt="User image">
          </td>
          <td>
            {{user.email}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--<pagination-controls class="my-pagination" [autoHide]="true"-->
                         <!--(pageChange)="onPageChanged($event)"></pagination-controls>-->
  </div>
</div>
