<div class="container">
  <itt-navbar></itt-navbar>
  <div class="sectiontitle">
    <h2>Admin Users</h2>
  </div>
  <div class="indent">
    <div class="panel panel-default table-responsive margin-bottom-10">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>

          </th>
          <th>
            Email
          </th>
          <th>
            User name
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let adminUser of adminUserSearchResults  let i=index;">
          <td>
            <img height="24px" class="centered circle useravatar" [src]="adminUser.profileImageUrl" alt="User image">
          </td>
          <td>
            {{adminUser.email}}
          </td>
          <td>
            {{adminUser.username || adminUser.user}}
          </td>
          <!--</div>-->
          <td>
            <div style="text-align: center">
              <button class="btn btn-danger push-left" title="remove" data-target="#deleteAdminUserModal"
                      data-toggle="modal">Remove
              </button>

              <div class="modal fade" id="deleteAdminUserModal" tabindex="-1" role="dialog"
                   aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Remove Admin User</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <!--modal body-->
                    <div class="modal-body">
                      Are you sure you want to remove {{adminUser.username}}?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal"
                              (click)="removeUserFromAdmin(adminUser._id, i)">
                        Remove
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

