#newTags {
  text-overflow: ellipsis;
}

.margin-10px-bottom {
  margin-bottom: 10px;
}

.margin-50px-top {
  margin-top: 50px;
  margin-left: 5%;
}

.margin-8px {
  margin: 8px;
}

.profile {
  padding-left: 120px;
}

.upload-btn-first {
  margin-top: 30px;

}

.upload-btn-second {
  margin-top: 40px;
}

.upload-input-first {
  margin-top: 30px;
}

.upload-input-second {
  margin-top: 40px;
  margin-left: 15px;
}

@media only screen and (max-width: 1000px) {
  div.profile {
    display: none;
  }
}

/*large devices*/
@media (min-width: 1367px) {
  .upload-btn-first {
    margin-top: 10px;

  }

  .upload-btn-second {
    margin-top: 20px;
  }

  .upload-input-first {
    margin-top: 10px;
    margin-right: -50px;


  }

  .upload-input-second {
    margin-top: 20px;
    margin-right: -50px;
    margin-left: 0;

  }
}

/*Laptop*/
@media (max-width: 1366px) {

  .upload-btn-first {
    margin-top: 10px;

  }

  .upload-btn-second {
    margin-top: 20px;
  }

  .upload-input-first {
    margin-top: 10px;
    margin-right: -50px;

  }

  .upload-input-second {
    margin-top: 20px;
    margin-right: -50px;
    margin-left: 0;


  }
}

/*iPad */
@media (max-width: 768px) {

  .upload-btn-first {
    margin-top: 20px;
    margin-right: 350px;

  }

  .upload-btn-second {
    margin-top: 10px;
    margin-right: 350px;
  }

  .upload-input-first {
    margin-top: 10px;
    margin-left: 10%;


  }

  .upload-input-second {
    margin-top: 10px;
    margin-left: 10%;

  }

  .choosefile {
    margin-bottom: 2%;
  }
}


/*Nexus 7*/
@media (max-width: 600px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .upload-btn-first {
    margin-top: 10px;

  }

  .upload-btn-second {
    margin-top: 1px;

  }

  .upload-input-first {
    margin-top: 1px;
    margin-left: 10%;
  }

  .upload-input-second {
    margin-top: 0;
    margin-left: 10%;
  }

  .btn-download {
    margin-left: 5%;
  }

  .upload {
    overflow-x: scroll;
  }

  .choosefile {
    margin-bottom: 2%;
  }

}

/*iPhone 6 plus */
@media (max-width: 414px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .upload-btn-first {
    margin-top: 10px;

  }

  .upload-btn-second {
    margin-top: 1px;

  }

  .upload-input-first {
    margin-top: 0;
    margin-left: 10%;
  }

  .upload-input-second {
    margin-top: 0;
    margin-left: 10%;
  }

  .btn-download {
    margin-left: 5%;
  }

  .upload {
    overflow-x: scroll;
  }

  .choosefile {
    margin-bottom: 2%;
  }

}

/*iPhone 5 */
@media (max-width: 320px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .upload-btn-first {
    margin-top: 0;
    margin-right: 350px;

  }

  .upload-btn-second {
    margin-top: 0;
    margin-right: 350px;
  }

  .upload {
    overflow-x: scroll;
  }

  .choosefile {
    margin-bottom: 2%;
  }

}

