<div class="ng-side-color">
  <div class="row">
    <div class="search-style">

      <div class="container">
        <itt-snap-left-nav [themeId]="themeId"></itt-snap-left-nav>
        <div>
          <itt-theme-header [themeId]="themeId"></itt-theme-header>
        </div>
        <div class="file-operation">

          <div class="row margin-bottom-20">

            <!--<div class="col-sm-12 col-md-12 col-lg-6">-->
            <div class="col-sm-6">
              <!-- Download tags file -->
              <div class="sectiontitle">
                <!--<h2>Downloads</h2>-->
                <h2>New Tags</h2>
              </div>
              <div>
                <form style="margin-left:3%;" action="/Themes/DownloadTagInfoFile"
                      enctype="multipart/form-data"
                      method="post">
                  <div class="row">
                    <div class="col-xs-12 btndownload">
                      <input style="width: 200px" value="Download Tag Template"
                             (click)="downloadTagFile()" class="btn btn-primary pull-left"
                             type="submit">

                    </div>
                  </div>
                </form>
              </div>

              <div style="display: flex; flex-wrap: wrap">
                <input class="choosefile" id="newTags" name="newTags" value="" type="file"
                       accept="application/txt" ng2FileSelect
                       [uploader]="newUploader">

                <button type="submit" class="btn btn-primary"
                        (click)="newTagsUploader()"
                        [disabled]="!newUploader.getNotUploadedItems().length"
                >Upload Tags
                </button>
              </div>

              <!--<form style="margin-top: 10%; margin-left:3%;" action="/Themes/DownloadTagInfoFile"-->
              <!--enctype="multipart/form-data"-->
              <!--method="post">-->

              <!--<div class="row">-->
              <!--<div class="">-->
              <!--<input style="width: 200px" value="Download  Tags"-->
              <!--class="btn btn-primary pull-left" type="submit"-->
              <!--(click)="downloadExistingTags()">-->
              <!--</div>-->
              <!--</div>-->
              <!--</form>-->
            </div>

            <div class="col-sm-6">

              <div class="sectiontitle">
                <!--<h2>Uploads</h2>-->
                <h2>Existing Tags</h2>
              </div>

              <!--<div style="display: flex; flex-wrap: wrap">-->
              <!--<input class="choosefile" id="newTags" name="newTags" value="" type="file"-->
              <!--accept="application/txt" ng2FileSelect-->
              <!--[uploader]="newUploader">-->

              <!--<button type="submit" class="btn btn-primary"-->
              <!--(click)="newUploader.uploadAll()"-->
              <!--[disabled]="!newUploader.getNotUploadedItems().length"-->
              <!--style="width: 200px">Upload New Tags-->
              <!--</button>-->
              <!--</div>-->
              <div>
                <form style=" margin-left:3%;" action="/Themes/DownloadTagInfoFile"
                      enctype="multipart/form-data"
                      method="post">

                  <div class="row">
                    <div class="">
                      <input value="Download Tag Template"
                             class="btn btn-primary pull-left" type="submit"
                             (click)="downloadExistingTags()" style="width: 200px">
                    </div>
                  </div>
                </form>
              </div>


              <div style="display: flex; flex-wrap: wrap;">
                <input class="choosefile" id="updatedTags" name="updatedTags" value="" type="file"
                       accept="application/txt"
                       ng2FileSelect [uploader]="updatedUploader">

                <button type="submit" class="btn btn-primary pull-right"
                        (click)="oldTagsUploader()"
                        [disabled]="!updatedUploader.getNotUploadedItems().length"
                >Upload Tags
                </button>
              </div>
            </div>
          </div>


          <!--<div class="sectiontitle margin-10px-bottom margin-50px-top">-->

          <div class="sectiontitle">
            <h2>Operations</h2>
            <button class="btn btn-sm btn-success pull-right" (click)="reloadPage()">Reload</button>
          </div>

          <!--<div class="row margin-10px-bottom" style="overflow-x: auto">-->
          <!--<div class="row margin-10px-bottom">-->
          <!--<div class="clickable">-->
          <!--<div *ngFor="let fileOperation of fileOperations; let i=index" class="clickable">-->
          <itt-file-operation-row class="file-operations" *ngFor="let fileOperation of fileOperations; let i=index"
                                  [fileOperation]="fileOperation"></itt-file-operation-row>
          <br>
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--</ng-sidebar-container>-->
