<div class="row">
  <!--<div class="col-4">-->
    <!--<span style="font-size:30px;cursor:pointer" (click)="toggleSidebar()">&#9776;</span>-->
  <!--</div>-->
  <!--<div class="col-4">-->
    <!--<itt-main-header class="logo"></itt-main-header>-->
  <!--</div>-->
  <!--<div class="col-4 profile">-->
    <!--<itt-profile-header></itt-profile-header>-->
  <!--</div>-->
  <itt-theme-edit-tabs></itt-theme-edit-tabs>
</div>

<!--<ng-sidebar-container>-->
<ng-sidebar-container style="height: 100vh; ">
  <!--<ng-sidebar-container [ngStyle]="mystyle">-->
  <ng-sidebar [(opened)]="isOpened" position="left" mode="over" showBackdrop="true"
              closeOnClickBackdrop="true" style="background-color:#f8f9fa">
    <itt-side-nav-details></itt-side-nav-details>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content class="ng-side-color">
    <div class="row">
      <div class="col-12 search-style">
        <div class="container">
          <div class="margin-bottom-10">

            <div class="sectiontitle">
              <h2>Create Theme</h2>
              <div class="tabs">
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#BasicInfo" role="tab" data-toggle="tab">Basic Information</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-content">
              <itt-basic-info-editor
                [basicInfo]="basicInfo"
                (editComplete)="saveTheme($event)"
                [distanceOptions]="selectOptions.distance"
                [tagSilenceOptions]="selectOptions.time">
              </itt-basic-info-editor>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-sidebar-container>



