<div [hidden]="!isLoggedIn">
  <ul>
    <li routerLink="/profile">
      <!--<div><img class="profileHeader-img" src="assets/images/ic_profile-pic.png">-->
      <div class="profile"><img class="profile-img" [src]="profileImage">
        <span class="profile-email">{{email}}</span>
        <!--<i class="material-icons ic-edit">edit</i>-->
      </div>
    </li>
  </ul>

</div>
<div [hidden]="isLoggedIn">
  <ul>
    <li routerLink="/profile">
      <div class="profile"><img class="profile-img" src="assets/images/ic_profile-pic.png">
        <span class="profile-email">{{email}}</span>
        <i class="fas fa-sign-in-alt" (click)="login()" style="font-size: 20px; margin-left:20px;"></i>
      </div>
    </li>
  </ul>
</div>
