<div class="container">
  <itt-navbar></itt-navbar>

  <div class="sectiontitle">
    <h2>Regions</h2>
  </div>


  <div style="display: flex; justify-content: center;" class="search">
    <itt-search-bar (Search)="searchForRegion($event)"></itt-search-bar>
  </div>
  <div>
    <div class="regions-detail">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRegionModal">Add Region
      </button>


    </div>

    <div class="panel panel-default table-responsive margin-bottom-10">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>
            Label
          </th>
          <th>
            Order
          </th>
          <th>
            Value
          </th>
          <th>
            Description
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let region of regions let i=index;">
          <td>
            {{region.label}}
          </td>

          <td>
            {{region.order}}
          </td>
          <td>
            {{region.value}}
          </td>

          <td>
            {{region.description}}
          </td>

          <td>
            <div style="text-align: center; display:flex;">
              <span class="fa-stack">
                <a title="View Users">
                  <i class="fa fa-info-circle fa-inverse"></i>
                </a>
              </span>
              <span class="fa-stack">
                <a title="Edit">
                  <i class="fas fa-edit" [routerLink]="[ region.id, 'region-edit' ]"></i>
                </a>
              </span>
              <span class="fa-stack">
                <a title="Delete" (click)="ondeleteRegion(region.id, i)">
                  <i class="fa fa-trash fa-inverse"></i>
                </a>
              </span>

            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Modal -->
    <form [formGroup]="addRegionForm" (ngSubmit)="onSubmit(addRegionForm.value)">
      <div class="modal fade" id="addRegionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Region</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="input-group  margin-bottom-10">
                <span class="input-group-addon">Label</span>
                <input type="text" class="form-control" placeholder="Enter Label" formControlName="label">
              </div>
              <div class="input-group ">
                <span class="input-group-addon">Order</span>
                <input type="number" min="0" class="form-control" placeholder="Enter Order" formControlName="order">
              </div>
              <div class="input-group  margin-bottom-10">
                <span class="input-group-addon">Value</span>
                <input type="number" min="0" class="form-control" placeholder="Enter Value" formControlName="value">

              </div>
              <div class="input-group ">
                <span class="input-group-addon">Description</span>
                <input type="text" class="form-control" placeholder="Enter Description" formControlName="description">
              </div>
            </div>
            <div class="modal-footer">
              <button (click)="updatePage()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"
                      [disabled]="!addRegionForm.valid">Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

