<form [formGroup]="selectOptionForm" (ngSubmit)="onSubmit(selectOptionForm.value)">
  <div>
    <div class="sectiontitle margin-bottom-10">
      <h2></h2>
      <div class="pull-right">
        <div class="col-md-6">
          <input type="submit" value="Save"  style="margin-top:-10px;" class="btn btn-primary">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <span class="fa-stack pull-right">
          <a data-modal="" title="Add Field Property">
            <!--<i class='fa fa-plus fa-inverse'></i>-->
          </a>
        </span>
    </div>
  </div>

  <div class="panel panel-default table-responsive margin-bottom-10">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>
          Label
        </th>
        <th>
          Order
        </th>
        <th>
          Value
        </th>
        <th>
          Description
        </th>

      </tr>
      </thead>
      <tbody>
      <tr>

        <td>
          <input class="form-control " data-val="true"
                 data-val-length="The field label must be a string with a maximum length of 50."
                 data-val-length-max="50" data-val-required="The Label field is required." id="label"
                 name="label" formControlName='label' title=""
                 type="text">

        </td>
        <td>
          <input class="form-control " data-val="true"
                 data-val-length="The field Name must be a string with a maximum length of 50."
                 data-val-length-max="50" data-val-required="The Order field is required." id="order"
                 name="order" formControlName='order' title=""
                 type="text">

        </td>

        <td>
          <input class="form-control " data-val="true"
                 data-val-length="The field Value must be a string with a maximum length of 50."
                 data-val-length-max="50" data-val-required="The Label field is required." id="value"
                 name="value" formControlName='value' title=""
                 type="text">

        </td>
        <td>
           <input class="form-control " data-val="true"
                   data-val-length="The field Description must be a string with a maximum length of 50."
                   data-val-length-max="50" data-val-required="The Label field is required." id="description"
                   name="description" formControlName='description' title=""
                   type="text">

        </td>
        <td>
          <div class="pull-right">
                            <span class="fa-stack">
                              <a data-modal="" title="reset">
                                <i class='fa fa-undo fa-inverse'></i>
                              </a>
                            </span>
            <!--<span class="fa-stack">-->
                              <!--<a data-modal="" title="delete">-->
                                <!--&lt;!&ndash;<i class='fa fa-times fa-inverse'></i>&ndash;&gt;-->
                              <!--</a>-->
                            <!--</span>-->
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
