
a {text-decoration: none;

}

.box {
  width: 40px;
  padding: 10px;
  line-height:1.5em;

}

.up {
  color:grey;
}

.up:hover {
  color:grey;
  cursor: pointer;
  font-size:1.1em;
  text-shadow: 0px 2px 2px black;

}


.down {
  color:grey;

}

.down:hover {
  cursor: pointer;
  font-size:1.1em;
  text-shadow: 0px 2px 2px black;

}
.table > tbody > tr > td {
  vertical-align: middle;
}
