<div class="modal-header">
<h4 class="modal-title">Add Tag</h4>
</div>

<div class="modal-body">
  Do you want to add a new Tag with this location?
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Cancel')">No</button>
  <button type="button" class="btn btn-danger" (click)="goToTagEdit();">Yes</button>
</div>

