<ng2-slim-loading-bar style="position: absolute; width: 100%;top: 0;" [color]="'#ff5900'" [height]="'4px'"></ng2-slim-loading-bar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="container">
  <!--<itt-footer></itt-footer>-->
</div>
