.profile {
  padding-left: 120px;
}

@media only screen and (max-width: 1000px) {
  div.profile {
    display: none;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.btn{
background-color: #ff5900;
border-color: #ff5900;
}
.select{
  margin-bottom: 20px

}

.preview {
  max-height: 300px;
  max-width: 300px;
}
/*large devices*/
@media(min-width: 1367px)  {
  .first_media{
    margin-left: 3px;
  }
  .container{
    margin-left: 30%;
  }
  .preview{
    width: 206px;
  }

  }

/*Laptop*/
@media(max-width: 1366px)  {
  .first_media{
    margin-left: 3px;
  }
  .container{
    margin-left: 30%;
  }
  .preview{
    width: 206px;
  }
}

/*iPad */
@media(max-width: 768px)  {
  .first_media{
    margin-left: 3px;
  }
  .container{
    margin-left: 30%;
  }
  .preview{
    width: 206px;
  }
}

/*Nexus 7*/
@media(max-width: 600px)  {
  .first_media{
    margin-left: 3px;
  }
  .container{
    margin-left: 25%;
  }
  .preview{
    width: 206px;
  }
}

/*iPhone 6 plus */
@media(max-width: 414px) {
  .first_media{
    margin-left: 3px;
  }
  .container{
    margin-left: 13%;
  }
  .preview{
    width: 206px;
  }
} 

/*iPhone 5 */
@media(max-width: 320px)  {
  .first_media{
    margin-left: 3px;
  }
  .container{
    margin-left: 10%;
  }
  .preview{
    width: 206px;
  }
}


