<!--<div class="row">-->
  <!--<div class="col-4">-->
    <!--<span style="font-size:30px;cursor:pointer" (click)="toggleSidebar()">&#9776;</span>-->
  <!--</div>-->
  <!--<div class="col-4">-->
    <!--<itt-main-header class="logo"></itt-main-header>-->
  <!--</div>-->
  <!--<div class="col-4 profile">-->
    <!--<itt-profile-header></itt-profile-header>-->
  <!--</div>-->
<!--</div>-->

<!--<ng-sidebar-container>-->
<!--<ng-sidebar-container style="height: 100vh; ">-->
  <!--&lt;!&ndash;<ng-sidebar-container [ngStyle]="mystyle">&ndash;&gt;-->
  <!--<ng-sidebar [(opened)]="isOpened" position="left" mode="over" showBackdrop="true" closeOnClickBackdrop="true" style="background-color:#f8f9fa">-->
    <!--<itt-side-nav-details></itt-side-nav-details>-->
  <!--</ng-sidebar>-->

  <!-- Page content -->
  <div ng-sidebar-content class="ng-side-color ">
    <div class="row">
      <div class="col-12 search-style">
        <itt-theme-edit-tabs></itt-theme-edit-tabs>
        <!--<itt-theme-header [themeId]="themeId"></itt-theme-header>-->
        <div class="container">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <img *ngIf="imageUrl" [src]="imageUrl" class="img-thumbnail preview" style="height: 200px; width: 200px;">
            <br>
            <div class="first_media">
              <form>
                <input class="select" type="file" name="file" ng2FileSelect [uploader]="uploader" [accept]="supportedImageFileTypes"
                  (change)="fileChanged($event)"/>
                <!--<label class="btn btn-default btn-file">-->
                <!--Browse <input type="file" style="display: none;">-->
                <!--</label>-->
                <div> <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length"
                    style="width:206px">
                    Upload
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</ng-sidebar-container>-->
