

<!--<form [formGroup]="searchForm" (ngSubmit)="theme-search(searchForm.value)">-->
  <!--<div class="input-group  margin-bottom-10" style="">-->
    <!--<input class="form-control" formControlName="searchInput" placeholder="Search">-->
    <!--<span class="input-group-btn">-->
        <!--<button type="submit" class="btn btn-primary">-->
        <!--&lt;!&ndash;<button type="submit" class="btn " style="background-color: #f57d00; color:white">&ndash;&gt;-->
          <!--<i class="fa fa-theme-search"></i>-->
        <!--</button>-->
      <!--</span>-->
  <!--</div>-->
<!--</form>-->

<form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
  <input type="text" class="textbox" formControlName="searchInput" placeholder="Search">
  <input title="Search" value="" type="submit" class="button">
</form>



