<!--<div class="row">-->
  <!--<div class="col-4">-->
    <!--<span style="font-size:30px;cursor:pointer" (click)="toggleSidebar()">&#9776;</span>-->
  <!--</div>-->
  <!--<div class="col-4">-->
    <!--<itt-main-header class="logo"></itt-main-header>-->
  <!--</div>-->
  <!--<div class="col-4 profile">-->
    <!--<itt-profile-header></itt-profile-header>-->
  <!--</div>-->
<!--</div>-->

<!--<ng-sidebar-container>-->
<ng-sidebar-container style="height: 100vh; ">
  <!--<ng-sidebar-container [ngStyle]="mystyle">-->
  <ng-sidebar [(opened)]="isOpened" position="left" mode="over" showBackdrop="true"
              closeOnClickBackdrop="true" style="background-color:#f8f9fa">
    <itt-side-nav-details></itt-side-nav-details>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content class="ng-side-color">
    <div class="row">
      <div class="col-12 search-style">

        <itt-theme-edit-tabs></itt-theme-edit-tabs>
        <itt-tag-properties-editor [tagProperties]="tagProperties"
                                   [tagPropertyType]="tagPropertyType"
                                   (editComplete)="saveTagProperties($event)"></itt-tag-properties-editor>
      </div>
    </div>
  </div>
</ng-sidebar-container>



