@media (min-width: 768px) {
  .store-container {
    margin-left: 5%;
  }

  .tostore {
    font-size: 1em;
    color: #f57d00;
    font-weight: bold;
  }

  .ittp-logo {
    margin-top: 2%;
    margin-right: 10%;
    align-self: center;

  }

  .profile-img {
    height: 60px;
    border-radius: 100px;
    margin-right: 60px;
  }


  .profile-email {
    margin-left: 2%;
  }

  i {
    font-size: 3em;
    color: #f57d00;
  }
}


@media (max-width: 767px) {
  .store-container {
    /*margin-left: 5%;*/
  }

  .tostore {
    /*font-size: 1em;*/
    /*color: #f57d00;*/
    /*font-weight: bold;*/
    display: none;
  }

  .ittp-logo {
    /*margin-top: 2%;*/
    margin-left: 30%;
    align-self: center;

  }

  .profile-img {
    height: 40px;
    border-radius: 80px;
    /*margin-right:60px;*/
  }


  .profile-email {
    /*margin-left: 2%;*/
  }

  i {
    font-size: 2.5em;
    color: #f57d00;
    margin-right:10%;
  }
}

@media (max-width: 360px) {
  .store-container {
    /*margin-left: 5%;*/
  }

  .tostore {
    /*font-size: 1em;*/
    /*color: #f57d00;*/
    /*font-weight: bold;*/
    display: none;
  }

  .ittp-logo {
    /*margin-top: 2%;*/
    margin-left: 50%;
    align-self: center;

  }

  .profile-container{
    margin-right:40%;
  }

  .profile-img {
    height: 40px;
    border-radius: 80px;
    margin-right:60px;
  }


  .profile-email {
    /*margin-left: 2%;*/
  }

  i {
    font-size: 2.5em;
    color: #f57d00;
  }
}

@media (max-width: 320px) {
  .store-container {
    /*margin-left: 5%;*/
  }

  .tostore {
    /*font-size: 1em;*/
    /*color: #f57d00;*/
    /*font-weight: bold;*/
    display: none;
  }

  .ittp-logo {
    /*margin-top: 2%;*/
    margin-left: 60%;
    align-self: center;

  }

  .profile-container{
    margin-right:40%;
  }

  .profile-img {
    height: 40px;
    border-radius: 80px;
    margin-right:60px;
  }


  .profile-email {
    /*margin-left: 2%;*/
  }

  i {
    font-size: 2.5em;
    color: #f57d00;
  }
}

