<div style="display:flex; justify-content: space-between ">

  <div class="store-container">
    <a [href]="storeUrl">
      <i class="fas fa-cart-arrow-down"></i>
      <span class="tostore">Go To Store</span>
    </a>
  </div>

  <div class="ittp-logo">
    <itt-main-header></itt-main-header>
  </div>

  <div class="profile-container" routerLink="/profile" [hidden]="!isLoggedIn">
    <div>
      <img class="profile-img" [src]="profileImage" alt="User profile">
    </div>
  </div>

</div>



