<p>
  <input #terms type="checkbox">
  <span i18n="@@termsAndConditions">I have read and accept the <a
    [href]="termsAndConditionsUrl">Terms and Conditions</a></span>
</p>

<form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
  <div class="container">
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
    <label for="inputEmail" class="sr-only">User Name</label>
    <input type="email" id="userName" class="form-control" placeholder="username" required=""
           autofocus=""
           formControlName="username" >
    <label for="inputEmail" class="sr-only">User Name</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="email" required=""
           autofocus=""
           formControlName="email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
           required=""
           formControlName="password">
    <input type="password" id="confirmPassword" class="form-control" placeholder="confirm password"
           required=""
           formControlName="confirmPassword">
    <button class="btn btn-lg btn-primary btn-block" [disabled]="!terms.checked || !registerForm.valid"
            type="submit">
      Register
    </button>
  </div>
</form>
