<div class="container">
  <itt-navbar></itt-navbar>
  <div class="sectiontitle">
    <h2>ITagTip Users</h2>
  </div>

  <div class="user-table">
    <div class="pull-right margin-bottom-10" style="max-width: 300px;">
      <itt-search-bar (Search)="searchForUser($event)"></itt-search-bar>
    </div>
    <div class="panel  panel-default table-responsive margin-bottom-10">
      <table class="table table-hover ">
        <thead>
        <tr>
          <th>

          </th>
          <th>
            Email
          </th>
          <th>

          </th>

        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let user of users |paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count} let i =index;"
          [routerLink]="['/users',user._id,'details']">
          <td>
            <img height="24px" class="centered circle useravatar" [src]="user.profileImageUrl" alt="User image">
          </td>
          <td>
            {{user.name}}
          </td>
          <td>
            <span class="fa-stack">
                <a title="Edit">
                  <i class="fas fa-edit" [routerLink]="[ '/users',user._id, 'details' ]"></i>
                </a>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <pagination-controls class="my-pagination" [autoHide]="true"
                         (pageChange)="onPageChanged($event)"></pagination-controls>

  </div>
</div>
