<div [hidden]="!isLoggedIn">
  <ul>
    <li routerLink="/profile">
      <div class="profile"><img class="profile-img" [src]="profileImage">
        <span style="padding-left:5px;" class="profile-email">{{email}}</span>
        <!--<span (click)="logout()">Sign Out</span>-->
        <!--<i style="margin-top:20px;" class="material-icons ic-edit">edit</i>-->
      </div>
    </li>
  </ul>
</div>

<div [hidden]="isLoggedIn">
  <ul>
    <li >
      <!--<span style="padding-left:5px" class="profile-email">{{email}}</span>-->
      <span (click)="login()">Sign In</span>
      <!--<i class="fas fa-sign-in-alt" (click)="login()" style="font-size: 20px; margin-left:5px;"></i>-->
    </li >
  </ul>
</div>

