body {
  font-family: "Helvetica Neue,Helvetica.Arial,Sans-serif";
  font-size: 14px;
  color: #333;
}

img {
  vertical-align: middle;
}

img.themeimage {
  border: 1px solid #eeeeee;
  max-height: 100px;
  max-width: 100px;
}

img.tagimagethumb {
  border: 1px solid #eeeeee;
  max-height: 50px;
  max-width: 50px;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 4px;
  border-radius: 8px;
  font-size: 10px;
  font-weight: bold;
}
