<div class="sectiontitle">
  <h2>Add Media</h2>
</div>
  <div class="row">

    <div class="col-md-6">

      <div class="form-group">
        <label class="control-label col-md-4">{{imageDescription}}</label>
        <div class="col-md-8">
          <!--<img height="{{height}}px" width="{{width}}px" class="themeimage" id="themeImageThumbnail"-->
          <!--[src]="iconsUrls?.themeImage" alt="tagProperties Image">-->
          <img [ngStyle]="size" class="themeimage" id="themeImageThumbnail"
               [src]="iconsUrls?.themeImage" alt="tagProperties Image">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8">
          <input class="btn" accept=".png" id="ThemeImage" name="ThemeImage" value="" type="file"
                 (change)="onImageSelected($event,'themeImageThumbnail')">
          <span class="field-validation-valid text-danger" data-valmsg-for="ThemeImage"
                data-valmsg-replace="true"></span>
        </div>

      </div>
    </div>
  </div>


