agm-map {
  height: 300px;
  width: 100%;
}

.save-button {
  margin-left: 3%;
  margin-right: 3%;

}

.indent {
  margin-left: 2%;
}

.created-at {
  margin-left: 3%;
}

.updated-at {
  margin-left: 3%;
}

.location-label {
  margin-top: 1%;
}
