<!--<itt-theme-header [name]="tagProperties.basicInfo.name" [imageUrl]="imageUrl" ></itt-theme-header>-->

<form [formGroup]="tagForm">
  <input name="__RequestVerificationToken" type="hidden"/>
  <div class="form-horizontal margin-bottom-20">
    <input data-val="true" data-val-required="The TagId field is required." id="TagId" name="TagId" type="hidden"
           value="b60017f7-d162-4b52-8a33-2b19a2720964"/>
    <input data-val="true" data-val-required="The ThemeId field is required." id="ThemeId" name="ThemeId" type="hidden"
           value="2583f6d9-82f8-4006-ae41-2b19a23f7698"/>
    <div class="row">

      <div class="col-md-6">
        <div class="sectiontitle">
          <h2>Tag Location</h2>
        </div>

        <div class="indent">
          <div class="row margin-bottom-10 ">

            <div id="themeMap" class="col-md-12 margin-bottom-10">

              <div class="googlemap" id="map" style="height:300px">
                <agm-map [maxZoom]="15" [minZoom]="3" [latitude]="initialLatitude" [longitude]="initialLongitude" [zoomControl]="true">
                  <agm-marker [markerDraggable]="true" (dragEnd)="onMarkerDragged($event)" [latitude]="initialLatitude"
                              [longitude]="initialLongitude" [iconUrl]="markerImageUrl"></agm-marker>
                </agm-map>

              </div>
            </div>
          </div>

          <div style="display: flex; flex-wrap: wrap">
            <div class="input-group">
              <label class="control-label location-label" for="longitude">Longitude</label>
              <input style="margin-left:1em;" class="form-control" id="longitude" name="longitude" type="text"
                     formControlName="longitude"
              />
            </div>
            <!--</div>-->
            <div class="input-group">
              <label class="control-label location-label" for="latitude">Latitude</label>
              <input style="margin-left:1.9em;" class="form-control" id="latitude" name="latitude" type="text"
                     formControlName="latitude"
              />
            </div>

            <div>
              <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-primary" type="button" onclick="goToLocation()">-->
                  <!--<i class="fa fa-refresh"></i>-->
                <!--</button>-->
              <!--</span>-->
            </div>
          </div>

          <div class="row margin-bottom-10">
            <div class="col-12" style="display: flex;">
              <label class="control-label" style="margin-right:2%;" for="Active">Active</label>
              <input style="margin-top:1%;" formControlName="active" id="Active" name="Active" type="checkbox"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="sectiontitle">
          <h2>Tag Properties</h2>
        </div>

        <div class="row margin-bottom-10">
          <div class="col-md-12">
            <div class="tabs" formArrayName="propertyValues">
              <div class="form-group" *ngFor="let tagProperty of tagPropertiesFormArray.controls; let i=index" [formGroupName]="i">
                <label class="control-label col-md-4">{{tagProperty.controls.name.value}}</label>
                <div class="col-md-8">
                  <!--<input class="form-control text-box single-line" formControlName='propertyValues' type="text"-->
                  <input class="form-control text-box single-line" formControlName='value' type="text"/>
                  <input hidden class="form-control text-box single-line" formControlName='normalizedName' type="text" />
                  <span [hidden]="!tagProperty.controls.value.errors?.invalid"
                        class="field-validation-valid text-danger" data-valmsg-replace="true">
                                      {{tagProperty.controls.value.errors?.invalid}}
                   </span>
                </div>
              </div>
              <div [hidden]="tagEditModel.isNew">
                <div class="control-label created-at">Created
                  At: {{tag.createdAt |date:'MMM d, y, h:mm a'}} <p>
                    By: {{tag._storage.createdBy}}</div>
                <div class="control-label updated-at">Updated
                  At: {{tag.updatedAt |date:'MMM d, y, h:mm a'}} <p>
                    By: {{tag._storage.updatedBy}}</div>
                <div>

<!--                  <button class="btn btn-danger" (click)="delete()">-->
<!--                    Delete-->
<!--                  </button>-->
              </div>
              </div>
              <div>
                <input id="save-button" type="submit" value="Save" class="btn btn-primary save-button"
                       (click)="saveTag()"/>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>
