<!--<div class="row">-->
  <!--<div class="col-4 side-list" style="width: 100px;  margin-bottom: 20px;padding-left: 30px;">-->
    <!--<a class="nav-link btn btn-primary" [href]="[storeUrl]">-->
      <!--<span>Go To Store</span></a>-->
  <!--</div>-->
  <!--<div class="col-4">-->
    <!--<itt-main-header class="logo"></itt-main-header>-->
  <!--</div>-->
  <!--<div class="col-4 profile">-->
    <!--<itt-profile-header></itt-profile-header>-->
  <!--</div>-->
<!--</div>-->
<div>
  <itt-snap-left-nav></itt-snap-left-nav>
</div>


<div class="sectiontitle">
  <h2>Subscriber Details</h2>
</div>

<div class="container">

  <table class="table table-hover">
    <thead>
    </thead>
    <tbody>
    <tr>
      <td>
        <dl class="dl-horizontal">
          <dt>

          </dt>

          <dd>
            <img [src]="wishListUserDetail.profileImageUrl"  style="width: 150px; height: 150px;">
          </dd>
          <dt>
            User name:
          </dt>

          <dd>{{wishListUserDetail.userName}}</dd>


        </dl>
      </td>
      <td>
        <div class="pull-right" style="text-align: center">

          <button class="btn btn-primary push-left" title="remove" data-target="#deleteSubscriberModal"
                  data-toggle="modal"> Subscribe
          </button>

          <div class="modal fade" id="deleteSubscriberModal" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Subscribe</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <!--modal body-->
                <div class="modal-body">
                  Are you sure you want to Subscribe this user?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="subscribe()">
                    Subscribe
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>

    </tbody>
  </table>
</div>
