ul {
  list-style-type: none;
  padding: 4px;
  margin-bottom: 0px;
}

.profile-img {
  border-radius: 100px;
  width: 32px;
}

.ic-edit {
  font-size: 15px;
}

.profile-email {
  font-size: 15px;
  margin-right: 10px;
  margin-left: 2px;
}

span {
  font-size: 1em;
}
