
<div class="itt-home-container">

  <div class="itt-container" style="justify-content: center;">
    <div class="search-style">
      <itt-search-bar (Search)="onSearchInput($event)"></itt-search-bar>
    </div>
  </div>
  <div>
    <div >
      <itt-theme-grid  [title]="'Top Free'"
                      [themePreviews]="topFreePreviews"
                      [subscribedThemes]="(subscribedThemes)"
                      [showSubscribeBtn]="showSubscribeBtn"
                      [next]="nextFree"
                      (SubscribedBtnPressed)="trySubscribe($event)"
                      (onviewmore)="topFreeViewMore()"></itt-theme-grid >
    </div>
    <div>
      <itt-theme-grid [title]="'Top Paid'"
                      [themePreviews]="topPaidPreviews"
                      [subscribedThemes]="(subscribedThemes)"
                      [showSubscribeBtn]="showSubscribeBtn"
                      [next]="nextPaid"
                      (SubscribedBtnPressed)="trySubscribe($event)"
                      (onviewmore)="topPaidViewMore()"></itt-theme-grid>
    </div>
  </div>
</div>
