
<div class="modal-header">
  <h4 class="modal-title">Delete</h4>
</div>

<div class="modal-body">
  Are you sure you want to delete this {{itemName}}? this action is irreversible
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="activeModal.close('Cancel')">No</button>
    <button type="button" class="btn btn-danger" (click)="deleteTheme(themeId);">Yes</button>
</div>
