<div>
  <div class="row">

    <div>
      <!--<itt-snap-left-nav [themeId]="themeId"></itt-snap-left-nav>-->
    </div>

  </div>
  <div>
    <div class="list">
      <!--<button class="btn btn-primary" [routerLink]="['/my-themes', themeId, 'invitation']">-->
        <!--<i class="fas fa-envelope"></i> Invite-->
      <!--</button>-->

      <div class="">
        <table class="table table-hover">
          <thead>
          <tr>

            <th>
              <a href="/Users?sortOrder=DisplayName">Display name
                <i class=""></i>
              </a>


            </th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let subscriber of subscriberSearchResult let i = index">

            <td [routerLink]="[subscriber.id, 'subscriber']">
              {{subscriber.username}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
