.title {
  /*height: 50px;*/
  width: 100%;
  font-size: 1.5em;
  color: #7a7a7a;
  margin-bottom: 2%;
  margin-left: 0;
  margin-top: 2%;
  border-bottom: 1px solid black;
}

.users-list {
  list-style: none;
}

.search-result {
  /*height: auto;*/
  /*width: auto;*/
  display: flex;
  flex-wrap: wrap;
  border: 1px #eeeeee solid;
}

@media (max-width: 767px) {
  .upload-btn {
    margin-top:2%
  }
}
