<div class="">
  <itt-snap-left-nav [themeId]="themeId"></itt-snap-left-nav>
  <div>
    <itt-theme-header [themeId]="themeId"></itt-theme-header>
  </div>
</div>
<div class="sectiontitle">
  <h2 style="margin-left: -50px">Uploads</h2>
</div>

<div style="display: flex; flex-wrap: wrap;">
  <div>
    <itt-search-bar class="search" [placeHolder]="'Exact email'" style="margin-top: 20px"
                    (Search)="searchForUsers($event)">

    </itt-search-bar>
  </div>
</div>


<div style="display: flex; flex-wrap: wrap">
  <!--<div class="form-group">-->
  <div class=" pull-left upload-input-first">
    <input id="newTags" name="newTags" value="" type="file"
           accept="application/txt" ng2FileSelect
           [uploader]="newEmailUploader">
    <!--</div>-->
  </div>

  <div class="upload-btn">
    <button type="submit" class="btn btn-primary"
            (click)="newEmailUploader.uploadAll()"
            [disabled]="!newEmailUploader.getNotUploadedItems().length"
    >Upload emails
    </button>
  </div>
</div>
<br>

<div style="display: flex; flex-wrap: wrap;">
  <!--<div class="form-group">-->
  <div class="pull-left upload-input-second">
    <input id="updatedTags" name="updatedTags" value="" type="file"
           accept="application/txt"
           ng2FileSelect [uploader]="newIDUploader">
  </div>
  <!--</div>-->
  <div class="upload-btn">
    <button type="submit" class="btn btn-primary"
            (click)="newIDUploader.uploadAll()"
            [disabled]="!newIDUploader.getNotUploadedItems().length"
    >Upload iTagTip ids
    </button>
  </div>
</div>

<div class="row" style="margin-top: 10%">
  <div class="title">Access List</div>

  <table class="table table-hover table-striped">
    <thead>
    <tr>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let whitelist of whitelists|paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count }">

      <td>
        <span>{{whitelist.email || whitelist.themeId}}</span>
      </td>
      <td>
        <span><button class="btn btn-danger" (click)="removeFromWhiteList(whitelist._id)">Remove</button></span>
      </td>
    </tr>
    </tbody>
  </table>


  <div>

    <pagination-controls class="my-pagination" [autoHide]="true"
                         (pageChange)="onPageChanged($event)"></pagination-controls>
  </div>
</div>
