<div class="list-group sticky">
  <itt-profile-header></itt-profile-header>
  <!--<div class="input-group-prepend">-->
  <!--<itt-category-theme-search class="pull_right" [options]="categoryOptions"-->
  <!--(onselected)="onCategorySelected($event)"></itt-category-theme-search>-->
  <!--</div>-->
  <a class="list-group-item list-group-item-action list-group"
     [routerLink]="['/home']"><i class="material-icons">shopping_cart</i>
    <span class="side-list">Store</span></a>

  <a class="list-group-item list-group-item-action list-group"
     [href]="mythemesUrl"><i class="material-icons">insert_photo</i>
    <span class="side-list">Theme Manager</span></a>
  <a class="list-group-item list-group-item-action list-group"
     [routerLink]="['/my-subscriptions']"><i class="material-icons">insert_photo</i>
    <span class="side-list">My Subscriptions</span></a>
  <a class="list-group-item list-group-item-action list-group"
     [routerLink]="['/my-devices']"><i class="material-icons">insert_photo</i>
    <span class="side-list">My Devices</span></a>
</div>
