.carousel-item{
  background: #f1f1f1f1;
}

.block-text {
  background-color: #ffffff;
  border-radius: 5px;
  /*box-shadow: 0 3px 0 #2c2222;*/
  color: #626262;
  font-size: 14px;
  margin-top: 27px;
  padding: 15px 18px;
}
 .review{
   margin-left: 2%;
 }
.content{
text-align: justify;
}

