<div class="container">
  <div style="height:400px; overflow-y: scroll;">
    <div style="display: flex; flex-wrap: wrap; flex-direction:column; margin-bottom: 5%;"
         *ngFor="let review of reviews | paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count }">
      <div style="display: flex;">
        <div>
          <img style="border-radius: 100px; width: 50px; margin-right:1%;"
               [src]="review.profileImageUrl || imageUrl"/>
        </div>
        <div style="margin-left:4%;">
          <span style="font-size: 0.8em">{{review.name}}</span> <br>
          <ngb-rating [(rate)]="review.rating" [max]="max" [readonly]="true"></ngb-rating><br>
          <p>{{review.message}}</p>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <pagination-controls class="my-pagination" [autoHide]="true"
                       (pageChange)="onPageChanged($event)"></pagination-controls>
</div>


