<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']">
    <img id="logo-header" class="centered" src="../../../assets/images/logo.png"
         alt="Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-links">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">Link</a>-->
      <!--</li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Users
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <a class="dropdown-item" [routerLink]="['/users']">iTagTip Users</a>
          <a class="dropdown-item" [routerLink]="['/admin-users']">Admin Users</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Configurations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/categories']">Categories</a>
          <a class="dropdown-item" [routerLink]="['/regions']">Regions</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="menu" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          Sites
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [attr.href]="store">Store</a>
          <!--<a class="dropdown-item" [routerLink]="['store']">Stores</a>-->
          <a class="dropdown-item" [attr.href]="manageThemes">Theme Manager</a>
          <!--<a class="dropdown-item" [routerLink]="['manageThemes']">Manage Themes</a>-->
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" >
      <itt-profile-header></itt-profile-header>
    </form>
  </div>
</nav>

