
.container {
  width: 100%;
  background-color: #f8f8fa;
}


.flex-profile {
  display: flex;
  flex: 0 1;
  margin-right: 20%
}

@media (min-width: 990px) {

  .nav-links {
    margin-left: 20%;
  }
}

