.similar-themes{
  display: flex;
  justify-content: space-around;
  background-color: #f3f3f3;
  margin-top: 1%;
  margin-bottom: 2%;
  box-shadow: 1px 1px 1px 1px #b3b3b3;
}

.similar-themes:hover {
  background-color: white;
}

img{
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.name{
  color: #595959;
  font-size: 1.5em;
}

.ellipse{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.theme-image{
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-right: 5px;
  width: 35%;
}

.theme-info{
  width: 55%;
}

.info{
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.content{
  font-size: .9em;
}
