@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: coolvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*padding-top: 20px;*/
  /*background: #eeeeee;*/
  background: #eeeeee4d;
  width: 100%;
}

* {
  box-sizing: border-box;
}


.itt-container{
  display: flex;
  flex-wrap: wrap;
}

@media(min-width: 1367px)  {

}

@media(max-width: 1367px)  {

}


/*Laptop*/
@media(min-width: 1206px)  {


}

/*iPad */
@media(max-width: 768px)  {

}

/*Nexus 7*/
@media (max-width: 600px) {

}


/*iPhone 6/7/8 plus*/
@media (max-width: 414px) {

}

/*iPhone 5s*/
@media (max-width: 360px) {

}

/*iPhone 5 */
@media (max-width: 320px) {
 /*body{*/
  /*text-align: center;*/
 /*}*/
}






/*.ng-sidebar {*/
  /*background: #eeeeee;*/
  /*width: 13rem;*/
/*}*/


/*@font-face {*/
    /*font-family: 'coolvetica';*/
    /*src:*/
        /*local('coolvetica rg'),*/
        /*url('../fonts/coolvetica rg.otf')*/
        /*format('opentype');*/
/*}*/



/*html {*/
  /*overflow-x: hidden;*/
  /*margin: 0;*/
  /*height: 100%;*/

/*!*}*!*/

/** {*/
  /*box-sizing: border-box;*/
/*}*/

/*.ui-autocomplete {*/
  /*z-index: 10000000;*/
/*}*/

/*.main-content {*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
  /*min-height: 500px;*/
/*}*/

/*!* Override the default bootstrap behavior where horizontal description lists*/
 /*will truncate terms that are too long to fit in the left column*/
/**!*/
/*.dl-horizontal dt {*/
  /*white-space: normal;*/
/*}*/

/*a, a:focus, a:hover, a:active {*/
  /*outline: 0 !important;*/
/*}*/

/*a, a:hover{*/
  /*color: #ff5900;*/
/*}*/

/*!*----- Images -----*!*/
/*img.centered {*/
  /*display: block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
/*}*/

/*img.circle {*/
  /*-ms-border-radius: 50% !important;*/
  /*border-radius: 50% !important;*/
/*}*/

/*img.useravatar {*/
  /*max-height: 150px;*/
  /*max-width: 150px;*/
/*}*/
/*img.themeimage {*/
  /*border: solid 1px #eee;*/
  /*max-height: 200px;*/
  /*max-width: 200px;*/
/*}*/
/*img.themeimagethumb {*/
  /*max-height: 50px;*/
  /*max-width: 50px;*/
/*}*/
/*img.tagimagethumb {*/
  /*border: solid 1px #eee;*/
  /*max-height: 50px;*/
  /*max-width: 50px;*/
  /*margin: 3px 0;*/
/*}*/


/*!*----- Section title -----*!*/
/*.sectiontitle {*/
  /*display: block;*/
  /*margin: 10px 0 25px 0;*/
  /*border-bottom: 2px solid #eee;*/
/*}*/
/*.sectiontitle h2 {*/
  /*color: #333;*/
  /*margin: 0 0 -2px 0;*/
  /*padding-bottom: 5px;*/
  /*display: inline-block;*/
  /*border-bottom: 2px solid #ff5900;*/
  /*font-size: 23px;*/
/*}*/


/*----- Forms -----*/
.form-control {
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -ms-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #ff5900;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px #000000, 0 0 8px #ff5900;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 89, 89, 0.6);
  -ms-box-shadow: inset 0 1px 1px #000000, 0 0 8px #ff5900;
  -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 89, 89, 0.6);
  box-shadow: inset 0 1px 1px #000000, 0 0 8px #ff5900;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 89, 89, 0.6);
}



/*----- dropdown -----*/
/*select.dropdown-select {*/
  /*border: 1px solid #ccc;*/
  /*width: 100%;*/
  /*height: 34px;*/
  /*padding: 6px 12px;*/
  /*font-size: 14px;*/
  /*-ms-border-radius: 4px;*/
  /*border-radius: 4px;*/
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
  /*-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
  /*-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;*/
  /*-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
  /*-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
  /*-ms-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
  /*transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
/*}*/
/*select.dropdown-select:focus {*/
  /*border-color: #ff5900;*/
  /*outline: 0;*/
  /*-webkit-box-shadow: inset 0 1px 1px #000000, 0 0 8px #ff5900;*/
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 89, 89, 0.6);*/
  /*-ms-box-shadow: inset 0 1px 1px #000000, 0 0 8px #ff5900;*/
  /*-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 89, 89, 0.6);*/
  /*box-shadow: inset 0 1px 1px #000000, 0 0 8px #ff5900;*/
  /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 89, 89, 0.6);*/
/*}*/

/*!*----- inputs -----*!*/
/*input[type=file] {*/
  /*margin-top: 6px;*/
  /*!*background-color: #fff;*!*/
/*}*/
/*input.color {*/
  /*border: 1px solid #ccc;*/
  /*width: 100%;*/
  /*height: 34px;*/
  /*padding: 6px 12px;*/
  /*font-size: 14px;*/
  /*-ms-border-radius: 4px;*/
  /*border-radius: 4px;*/
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
  /*-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
  /*-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;*/
  /*-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
  /*-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
  /*-ms-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
  /*transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
/*}*/
/*input.color:focus {*/
  /*border-color: #ff5900;*/
  /*outline: 0;*/
  /*-webkit-box-shadow: inset 0 1px 1px #000000, 0 0 8px #ff5900;*/
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 89, 89, 0.6);*/
  /*-ms-box-shadow: inset 0 1px 1px #000000, 0 0 8px #ff5900;*/
  /*-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 89, 89, 0.6);*/
  /*box-shadow: inset 0 1px 1px #000000, 0 0 8px #ff5900;*/
  /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 89, 89, 0.6);*/
/*}*/

/*input.checkboxinput {*/
  /*margin-top: 10px;*/
/*}*/

/*input.inverted-checkboxinput {*/
  /*margin-left: 15px;*/
  /*!*margin-top: 10px;*!*/
/*}*/

/*.inverted-control-label {*/
  /*!*padding-top: 7px;*!*/
  /*margin-bottom: 0;*/
  /*margin-top: 3px;*/
  /*text-align: left;*/
  /*font-weight: normal;*/
  /*line-height: 16px;*/
/*}*/

/*!*----- Colors -----*!*/
/*.color-red { color:#e74c3c;}*/
/*.color-orange { color:#ff5900;}*/
/*.color-darkgray { color: #333; }*/
/*.color-lightgray { color: #f5f5f5; }*/


/*!*----- fontawesome -----*!*/
/*.fa-inverse {*/
  /*font-size: 1.5em;*/
  /*color: #333;*/
/*}*/

/*.fa-inverse:hover {*/
  /*-moz-transition: color .3s ease-in-out;*/
  /*-webkit-transition: color .3s ease-in-out;*/
  /*-o-transition: color .3s ease-in-out;*/
  /*-ms-transition: color .3s ease-in-out;*/
  /*transition: color .3s ease-in-out;*/
  /*color: #ff5900;*/
/*}*/

/*.fa-inverse-tooltip {*/
  /*font-size: 1em;*/
  /*color: #CCC;*/
/*}*/

/*.fa-inverse-tooltip:hover {*/
  /*-moz-transition: color .3s ease-in-out;*/
  /*-webkit-transition: color .3s ease-in-out;*/
  /*-o-transition: color .3s ease-in-out;*/
  /*-ms-transition: color .3s ease-in-out;*/
  /*transition: color .3s ease-in-out;*/
  /*color: #ff5900;*/
/*}*/


/*----- Button -----*/
.btn {
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}
.btn-primary {
  background: #ff5900 !important;
  background-color: #ff5900;
  border: 1px solid #ff5900;
  text-decoration:none !important;
}
.btn-primary:hover {
  background: #d35400 !important;
  background-color: #ff5900;
  border: 1px solid #ff5900;
  outline: 0 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ff5900;
  border-color: #ff5900;
}


/*!*----- Spacing -----*!*/
/*.margin-bottom-5,*/
/*.margin-bottom-10,*/
/*.margin-bottom-20,*/
/*.margin-bottom-20,*/
/*.margin-bottom-25,*/
/*.margin-bottom-30 {*/
  /*clear:both;*/
/*}*/
/*.margin-bottom-5 {*/
  /*margin-bottom:5px;*/
/*}*/
/*.margin-bottom-10 {*/
  /*margin-bottom:10px;*/
/*}*/
/*.margin-bottom-20 {*/
  /*margin-bottom:20px;*/
/*}*/
/*.margin-bottom-25 {*/
  /*margin-bottom:25px;*/
/*}*/
/*.margin-bottom-30 {*/
  /*margin-bottom:30px;*/
/*}*/

/*!*----- Top navigation menu -----*!*/
/*.navbar {*/
  /*border-top: none;*/
/*}*/

/*.navbar-default {*/
  /*border-bottom: 1px solid #f2f2f2;*/
  /*background-color: #fff;*/
  /*-webkit-border-radius:0!important;*/
  /*-moz-border-radius:0!important;*/
  /*-ms-border-radius:0!important;*/
  /*border-radius:0!important;*/
  /*font-size: 16px;*/
/*}*/
/*.navbar-brand {*/
  /*padding: 1px 15px 0;*/
  /*margin-right: 25px;*/
/*}*/

/*.navbar-static-top {*/
  /*min-height: 70px;*/
/*}*/

/*.navbar-nav > li > a {*/
  /*color: #333;*/
  /*padding-top: 0;*/
  /*padding-bottom: 0;*/
  /*line-height: 70px;*/
/*}*/

/*.navbar-default .navbar-nav > li > a:hover {*/
  /*color: #ff5900;*/
/*}*/

/*@media (max-width: 767px) {*/
  /*.navbar-nav > li > a {*/
    /*line-height: 20px;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
  /*}*/
  /*.navbar-header {*/
    /*height: 70px;*/
  /*}*/
/*}*/

/*.navbar-default .navbar-nav > .active > a,*/
/*.navbar-default .navbar-nav > .active > a:hover {*/
  /*background-color: #fff;*/
  /*!*border-bottom: solid 2px #ff5900;*!*/
  /*color: #ff5900;*/
/*}*/

/*.navbar-default .navbar-nav li.dropdown.open > .dropdown-toggle,*/
/*.navbar-inverse .nav   li.dropdown.active > .dropdown-toggle,*/
/*.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {*/
  /*background-color:#fff;*/
  /*color: #ff5900;*/
/*}*/

/*.navbar-default .navbar-nav .open .dropdown-menu>li>a,*/
/*.navbar-default .navbar-nav .open .dropdown-menu {*/
  /*background-color: #fff;*/
  /*color:#333;*/
/*}*/

/*.navbar-default .navbar-nav .open .dropdown-menu >li>.active>a,*/
/*.navbar-default .navbar-nav .open .dropdown-menu .active {*/
  /*!*border-bottom: solid 2px #ff5900;*!*/
  /*color: #ff5900;*/
/*}*/



/*.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {*/
  /*color:#ff5900;*/
/*}*/


/*.navbar-toggle,*/
/*.navbar-default .navbar-toggle:hover,*/
/*.navbar-default .navbar-toggle:focus {*/
  /*background: #fff;*/
/*}*/

/*.navbar-toggle:hover {*/
  /*background: #eee !important;*/
/*}*/

/*.navbar-default .navbar-toggle {*/
  /*border-color: #ff5900;*/
  /*color: #ff5900;*/
/*}*/



/*!*----- Tabs -----*!*/
/*.tabs .nav-tabs {*/
  /*border-bottom: none;*/
/*}*/

/*.tabs .nav-tabs li a {*/
  /*padding: 9px 16px;*/
  /*background: none;*/
  /*border: none;*/
  /*color: #333;*/
/*}*/

/*.tabs .nav-tabs li a:hover {*/
  /*color: #ff5900;*/
/*}*/

/*.tabs .nav-tabs li.active a {*/
  /*background: #fff;*/
  /*padding: 7px 15px 9px;*/
  /*border: solid 1px #eee;*/
  /*color: #ff5900;*/
  /*border-top: solid 2px #ff5900;*/
  /*border-bottom: none !important;*/
/*}*/

/*.tabs .tab-content {*/
  /*padding: 10px 15px;*/
  /*border: solid 1px #eee;*/
/*}*/



/*!*----- Tables -----*!*/
/*.table {*/
  /*margin-bottom: 0;*/
/*}*/



/*!*Footer*!*/
/*.footer {*/
  /*padding: 10px 0;*/
  /*background: #f2f2f2;*/
/*}*/

/*.footer p {*/
  /*text-align: center;*/
  /*margin: 0;*/
/*}*/

/*.footer a {*/
  /*margin: 0 5px;*/
  /*padding: 0;*/
  /*color: #333;*/
  /*vertical-align: middle;*/
/*}*/
/*.footer a:hover {*/
  /*color: #ff5900;*/
/*}*/

/*!*----- Identity -----*!*/

/*!*Header*!*/
/*.id-header {*/
  /*color: #333;*/
  /*text-align: center;*/
  /*margin-bottom: 10px;*/
  /*border-bottom: solid 1px #eee;*/
/*}*/

/*.reg-header h2 {*/
  /*font-size: 24px;*/
  /*margin-bottom: 10px;*/
/*}*/

/*.reg-page label {*/
  /*font-weight: normal;*/
  /*color: #777;*/
  /*text-align: left;*/
/*}*/



/*.pagination {*/
  /*margin-top: 0;*/
/*}*/


/*!*----- Themes -----*!*/
/*.color-box {*/
  /*width: 50px;*/
  /*height: 14px;*/
  /*background-color: #ccc;*/
  /*margin-top: 3px;*/
/*}*/

/*.theme-details-color-box {*/
  /*width: 50px;*/
  /*height: 16px;*/
  /*margin-top: 3px;*/
/*}*/


