.footer {

  /*position: center;*/
  /*bottom: 0;*/
  /*text-align: center;*/
  /*left: 50%;*/

  /*display: flex;*/
  /*align-items: center;*/

  background: #f2f2f2;

}
.footer p {
  text-align: center;
  margin: 0;
}


