
<div>
  <itt-snap-left-nav [themeId]="themeId"></itt-snap-left-nav>
  <itt-theme-header [themeId]="themeId"></itt-theme-header>

</div>
<div class="container">
  <div>
    <div class="sectiontitle margin-bottom-20">
      <h2><strong>Theme Stats</strong></h2>
    </div>

    <table class="table table-hover" style="margin-bottom: 20px">
      <thead>
      <tr>
        <!--<th scope="col">Tag Count</th>-->
        <!--<th scope="col">Active Subscribers</th>-->
        <th scope="col">Average Rating</th>
      </tr>
      </thead>
      <tbody>
      <tr class="values">
        <!--<td>{{generalStats.tagCount}}</td>-->
        <!--<td>{{generalStats.activeSubscribers}}</td>-->
        <!--{{generalStats.rating.average.toFixed(1)}}-->
        <td>{{ratingStats.average.toFixed(1)}}<i class="fas fa-star"></i>, Rated by :<span > {{ratingStats.count}}</span> people</td>
      </tr>

      </tbody>
    </table>
    <hr>
    <strong style="font-size: 30px; font-weight: 400">Chart</strong>
    <hr>
    <itt-review-chart [themeId]="themeId" [data]="ratingStats.data"></itt-review-chart>
  </div>
</div>



