/*.paymentInfo {*/
  /*border: 1px solid rgba(0, 0, 0, 0.21);*/
/*}*/

/*.detailValue {*/
  /*border: 1px solid rgba(0, 0, 0, 0.11);*/
/*}*/

/*.payment-outline {*/
  /*background-color: #f3f3f3;*/
  /*!*background-color: #b9b9b97d;*!*/
  /*box-shadow: 1px 1px 1px 1px #b3b3b3;*/
  /*margin: 2%;*/
/*}*/

/*span {*/
  /*font-size: 0.8em;*/
/*}*/

/*.titles {*/
  /*font-weight: bold;*/
/*}*/

/*.detailValue{*/

/*}*/


.fit-screen {
  margin-left: 15%;
  width: 85%;
}
@media only screen and (max-width: 1204px) {

  .fit-screen {
    margin-left: 0%;
    width: 100%;
  }
}

dt {
  float: left;
  clear: left;
  margin-right: 8px;
  padding: 0;
}
