<!--<div class="fit-screen">-->
<!--<div *ngFor="let paymentInfo of myPayments" class="payment-outline">-->
<!--<div class="paymentInfo">-->
<!--<h6>Payer Info</h6>-->
<!--<div><span class="titles">First Name:</span> <span class="detailValue">{{paymentInfo.firstName}}</span></div>-->
<!--<div><span class="titles">Last Name:</span> <span class="detailValue">{{paymentInfo.lastName}}</span></div>-->
<!--<div><span class="titles">Email:</span> <span class="detailValue">{{paymentInfo.email}}</span></div>-->
<!--</div>-->

<!--<div class="paymentDetails">-->
<!--<h6>Payment Details</h6>-->
<!--<div><span class="titles">Payment Method:</span> <span class="detailValue">{{paymentInfo.paymentMethod}}</span></div>-->
<!--<div><span class="titles">Billing Plan:</span> <span class="detailValue">{{paymentInfo.billingPlan}}</span></div>-->
<!--<div><span class="titles">Billing Agreement:</span> <span class="detailValue">{{paymentInfo.billingAgreement}}</span></div>-->
<!--<div><span class="titles">Amount:</span> <span class="detailValue">{{paymentInfo.price}}</span></div>-->
<!--<div><span class="titles">Currency:</span> <span class="detailValue">{{paymentInfo.currency}}</span></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<pagination-controls class="my-pagination" [autoHide]="true" (pageChange)="onPageChanged($event)"></pagination-controls>-->



<div class="fit-screen">
<div style="margin-left: 2%; margin-right: 2%;">

  <div class="sectiontitle">
    <h2>My Payments</h2>
  </div>


  <div class="margin-bottom-10 hidden-lg hidden-md hidden-sm"></div>
  <div id="themeslist" class="panel panel-default table-responsive margin-bottom-10" style="min-height:350px;">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>

        </th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let paymentInfo of (myPayments|paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count }); let i= index">
        <td>
          <dl class="dl-horizontal">
            <dt>
              First Name:
            </dt>

            <dd>
              {{paymentInfo.firstName}}
            </dd>
            <dt>
              Last Name:
            </dt>
            <dd>

              <span>{{paymentInfo.lastName}}</span>
            </dd>
            <dt>
              Email:
            </dt>
            <dd>
              {{paymentInfo.email}}
            </dd>
            <dt>
              Payment Method:
            </dt>
            <dd>
              {{paymentInfo.paymentMethod}}
            </dd>
            <dt>
              Billing Plan:
            </dt>
            <dd>
              {{paymentInfo.billingPlan}}
            </dd>
            <dt>
              Billing Agreement:
            </dt>
            <dd>
              {{paymentInfo.billingAgreement}}
            </dd>
            <dt>
              Amount paid:
            </dt>
            <dd>
              {{paymentInfo.price}}
            </dd>

            <dt>
             Currency:
            </dt>
            <dd>
              {{paymentInfo.currency}}
            </dd>

          </dl>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls class="my-pagination" [autoHide]="true"
                       (pageChange)="onPageChanged($event)"></pagination-controls>

</div>
</div>
