h2 {
  font-size: 30px;
}

.btn-primary {
  background-color: #f47d31;
}
.store{
  background: #ff590000 !important;
  color: black;

}

button {
  margin-bottom: 10px;
}

img {
  max-height: 50px;
  max-width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;

}

@media (max-width: 767px) {
  .description {
    display: none;
  }

  .profile {
    max-width: 100px;
    max-height: 100px;
    padding-left: 120px;
  }

  @media only screen and (max-width: 1000px) {
    div.profile {
      display: none;
    }
  }

}
