/************************************
*
*	#THEME_ITEM
*
*************************************/
.ellipse{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.theme-item {
  width: 150px;
  height: 220px;
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 1px 1px 1px 1px #b3b3b3;
  margin-left: 1%;
  margin-right: 1%;
}

.theme-item-name {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

.theme-item-name .name {
  white-space: nowrap;
  font-size: 14px;
}

.theme-item-image {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  height: 135px;
  width: 142px;
  margin-bottom: 3px;
  cursor: pointer;
}
img {
  width: 135px;
  height: 125px;
  cursor: pointer;
  border-radius: 3px;
  margin: 3px;
}

.theme-item-image img {
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.theme-item-image:hover img {
  background-color: rgba(0, 0, 0, 0.3);
}

.theme-item__rating {
  margin-top: -5%;
}

.theme-item__subscribe {
  background-color: transparent;
  font-style: italic;
  text-transform: uppercase;
  color: #4074A1;
  font-size: 12px;
}

.theme-item__subscribe.paid {
  color: #65A140;
}

.theme-item__footer {
  padding: 2px 3px;
  background: #fff;
  height: 60px;
}

.theme-item__footer:after {
  content: " ";
  display: block;
  clear: both;
}

.button-price{
  display: flex;
  flex-wrap: nowrap;
}

.button-price > div {
  margin-left: 5px;
  padding-top: 7px;
}

/*///*/
/*div {*/
  /*display: block;*/
/*}*/

/** {*/
  /*box-sizing: border-box;*/
/*}*/

.square-placeholder {
  width: 100%;
  height: auto;
}

/*!*iPhone 5s*!*/
/*@media (min-width: 1020px) {*/

  /*.theme-item {*/
    /*width: 176px;*/
    /*height: 258px;*/
    /*border: 1px solid #ccc;*/
    /*padding: 3px;*/
    /*margin-bottom: 30px;*/
    /*background: #fff;*/
    /*box-shadow: 1px 1px 1px 1px #b3b3b3;*/
  /*}*/
/*}*/

/*!*iPhone 5s*!*/
/*@media (max-width: 360px) {*/

  /*.theme-item {*/
    /*max-width: 145px;*/
    /*max-height: 240px;*/
    /*min-width: 145px;*/
    /*border: 1px solid #ccc;*/
    /*padding: 3px;*/
    /*margin-bottom: 30px;*/
    /*background: #fff;*/
    /*box-shadow: 1px 1px 1px 1px #b3b3b3;*/
  /*}*/

  /*.theme-item-image {*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border: 1px solid #eeeeee;*/
    /*border-radius: 3px;*/
    /*height: 132px;*/
    /*width: 132px;*/
    /*margin-bottom: 3px;*/
    /*cursor: pointer;*/
  /*}*/

/*}*/

/*!*iPhone 5 *!*/
/*@media (max-width: 320px) {*/

  /*.theme-item {*/
    /*max-width: 140px;*/
    /*max-height: 240px;*/
    /*min-width: 140px;*/
    /*border: 1px solid #ccc;*/
    /*padding: 3px;*/
    /*margin-bottom: 30px;*/
    /*background: #fff;*/
    /*box-shadow: 1px 1px 1px 1px #b3b3b3;*/
  /*}*/

  /*.theme-item-image {*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border: 1px solid #eeeeee;*/
    /*border-radius: 3px;*/
    /*height: 132px;*/
    /*width: 132px;*/
    /*margin-bottom: 3px;*/
    /*cursor: pointer;*/
  /*}*/
/*}*/


/*!*img{*!*/
/*!*vertical-align: middle;*!*/
/*!*max-width: 150px;*!*/
/*!*max-width: 150px;*!*/
/*!*}*!*/
/*.size-label {*/
/*font-size: .8em;*/
/*font-weight: 600;*/
/*margin-top: 14px;*/
/*}*/

/*.size-input {*/
/*margin-top: -10px;*/
/*}*/

/*.image-container {*/
/*max-width: 80%;*/
/*max-height: 170px;*/
/*background-repeat: no-repeat;*/
/*!*background-size: cover;*!*/
/*cursor: pointer;*/
/*display: block;*/
/*margin: 0 auto;*/
/*}*/

/*!*.product-unit {*!*/
/*!*color: #999;*!*/
/*!*font-size: .8em;*!*/
/*!*}*!*/

/*!*.text-container {*!*/
/*!*margin: 10px 4px 0 4px;*!*/
/*!*height: 100px;*!*/
/*!*position: relative;*!*/
/*!*}*!*/

/*.product-name {*/
/*width: 100%;*/
/*text-align: center;*/
/*margin-bottom: 8px;*/
/*font-size: .9em;*/
/*font-weight: 600;*/
/*}*/

/*!*.product-price {*!*/

/*!*text-align: center;*!*/
/*!*color: #5f5aa2;*!*/
/*!*font-weight: 600;*!*/
/*!*width: 100%;*!*/
/*!*}*!*/

/*!*.add-to-cart {*!*/
/*!*margin-top: 16px;*!*/
/*!*background: #413f54;*!*/
/*!*color: white;*!*/
/*!*padding: 6px 20px;*!*/
/*!*border-radius: 2px;*!*/
/*!*position: absolute;*!*/
/*!*right: 0;*!*/
/*!*bottom: 10px;*!*/
/*!*cursor: pointer;*!*/
/*!*}*!*/

/*.product-item-container {*/
/*height: 250px;*/
/*margin: 18px auto;*/
/*!*background: url("http://sneakersteal.com/wp-content/uploads/2016/12/dap1.jpg");*!*/
/*width: 80%;*/
/*overflow: hidden;*/
/*border-radius: 4px;*/
/*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
/*transition: all 0.3s cubic-bezier(.25, .8, .25, 1);*/

/*}*/

/*.product-item-container:hover {*/
/*box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);*/
/*}*/

/*img {*/
/*width: 100px;*/
/*height: 100px;*/
/*}*/





