  <div class="row">
    <div class="col-4">
      <span style="font-size:30px;cursor:pointer" (click)="toggleSidebar()">&#9776;</span>
    </div>
    <div class="col-2">
      <itt-main-header class="logo"></itt-main-header>
    </div>
    <div class="col-6">
    </div>
  </div>

<ng-sidebar-container style="height: 1050px">
  <ng-sidebar [(opened)]="isOpened" position="left" mode="over" showBackdrop="true"
              closeOnClickBackdrop="true">
    <!--<itt-side-nav-details></itt-side-nav-details>-->
  </ng-sidebar>

  <!-- Page content -->
    <router-outlet></router-outlet>

</ng-sidebar-container>

