
<div class="theme-subscription-page">
<div class="side-nav"></div>
<div class="theme-subscription">
<div style="margin-left:2%;" class="sectiontitle margin-bottom-10">
  <h4>Subscription Info</h4>
</div>

<div class="subscription-info-container">
  <div class="theme-img">
    <img id="theme-image" *ngIf="theme !== null" [src]="theme.themeImageUrl" alt="{{theme.name}}"/>
  </div>
  <div class="theme-other-details">
    <div><span> <h5>{{theme.name}}</h5> </span></div>
    <div><span>  {{theme.description}} </span></div>
    <div><span> {{subscriptionStatus.info.subscribedAt | date:'medium'}}</span></div>
  </div>
</div>

<div class="subscription-sm">
  <div *ngIf="subscriptionStatus.isSubscribed" class="card" style="width:100%;">
    <ul class="list-group list-group-flush">
      <li style="background-color: #eeeeee" class="list-group-item">
              <span style="font-size: 1em;">
              Can Delete
                   <mat-slide-toggle
                     *ngIf="subscriptionStatus.info.canDelete===true"
                     class="pull-right"
                     [color]="accent"
                     [checked]="true"
                     [disabled]="true">
      </mat-slide-toggle>
                <mat-slide-toggle
                  *ngIf="subscriptionStatus.info.canDelete===false"
                  class="pull-right"
                  [color]="accent"
                  [checked]="false"
                  [disabled]="true">
      </mat-slide-toggle>
              </span>
      </li>


      <li style="background-color: #eeeeee" class="list-group-item">
              <span style="font-size: 1em;">
              Can Edit
                   <mat-slide-toggle
                     *ngIf="subscriptionStatus.info.canEdit==true"
                     class="pull-right"
                     [color]="accent"
                     [checked]="true"
                     [disabled]="true">
      </mat-slide-toggle>
                <mat-slide-toggle
                  *ngIf="subscriptionStatus.info.canEdit===false"
                  class="pull-right"
                  [color]="accent"
                  [checked]="false"
                  [disabled]="true">
      </mat-slide-toggle>
              </span>
      </li>

      <li style="background-color: #eeeeee" class="list-group-item">
              <span style="font-size: 1em;">
              Can Create
                   <mat-slide-toggle
                     *ngIf="subscriptionStatus.info.canCreate==true"
                     class="pull-right"
                     [color]="accent"
                     [checked]="true"
                     [disabled]="true">
      </mat-slide-toggle>
                <mat-slide-toggle
                  *ngIf="subscriptionStatus.info.canCreate===false"
                  class="pull-right"
                  [color]="accent"
                  [checked]="false"
                  [disabled]="true">
      </mat-slide-toggle>
              </span>
      </li>
    </ul>
  </div>
</div>

<div class="card-body">
  <div [ngSwitch]="btnCode">
    <button class="btn btn-success" *ngSwitchCase="3" (click)="subscribe()">Subscribe</button>
    <!-- <button class="btn btn-success pull-right" *ngSwitchCase="1" (click)="gotoReview()">Add Ratings</button> -->
    <button class="btn btn-danger" *ngSwitchCase="1" data-target="#deleteSubscriberModal" data-toggle="modal">
      Unsubscribe
    </button>
    <!-- <button class="btn btn-success" *ngSwitchCase="2" (click)="goToPaypal()">Go To PayPal</button> -->
  </div>
</div>
</div>
<div class="similar-themes">
  <itt-similar-theme-list [similarThemes]="similarThemes"></itt-similar-theme-list>
</div>
</div>
<div class="modal fade" id="deleteSubscriberModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Unsubscribe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--modal body-->
      <div class="modal-body">
        Are you sure you want to unsubscribe from this theme?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="unsubscribe()">
          Unsubscribe
        </button>
      </div>
    </div>
  </div>
</div>



