.subscription-info-container {
  display: flex;
  height: 200px;
}

.theme-img {
  flex: 25%;
  margin-left: 2%;
  margin-right: 2%;
  height: 90%;
  width: 100%;

}  .theme-subscription {
    background-color: #b9b9b97d;
    box-shadow: 1px 1px 1px 1px #b3b3b3;
    margin: 2%;
    width: 70%;
  }

.subscription-columns {
  display: flex;
}

.theme-other-details {
  flex: 65%;
}

span {
  font-size: .9em;
}

#theme-image {
  height: 100%;
  width: 100%;
}

.subscription-lg {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

@media (min-width: 768px) {}

.side-nav {
  width: 15%;

}

.theme-img img {
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.theme-subscription {
  background-color: #b9b9b97d;
  box-shadow: 1px 1px 1px 1px #b3b3b3;
  margin: 2%;
  width: 51%;
}


.similar-themes {
  /*background-color: red;*/
  justify-content: center;
  margin: 2%;
  width: 26%;
}


.theme-subscription-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


/*@media (min-width: 1024px) {*/
/*#theme-image {*/
/*height: 200px;*/
/*width: 200px;*/
/*}*/

/*.subscription-info-container {*/
/*margin-bottom: 10%;*/
/*margin-left: 3%;*/
/*}*/

/*.theme-img {*/
/*flex: 20;*/
/*}*/

/*.theme-other-details {*/
/*flex: 80%;*/
/*}             </span>
      </li>


      <li style="background-color: #eeeeee" class="list-group-item">
              <span style="font-size: 1em;">
              Can Edit
                   <mat-slide-toggle
                     *ngIf="subscriptionStatus.info.canEdit==true"
                     class="pull-right"
                     [color]="accent"
                     [checked]="true"
                     [disabled]="true">
      </mat-slide-toggle>
                <mat-slide-toggle
                  *ngIf="subscriptionStatus.info.canEdit===false"
                  class="pull-right"
                  [color]="accent"
                  [checked]="false"
                  [disabled]="true">
      </mat-slide-toggle>
              </span>
      </li>

      <li style="background-color: #eeeeee" class="list-group-item">
              <span style="font-size: 1em;">
              Can Create
                   <mat-slide-toggle
                     *ngIf="subscriptionStatus.info.canCreate==true"
                     class="pull-right"
                     [color]="accent"
                     [checked]="true"
                     [disabled]="true">
      </mat-slide-toggle>
                <mat-slide-toggle
                  *ngIf="subscriptionStatus.info.canCreate===false"
                  class="pull-right"
                  [color]="accent"
                  [checked]="false"
                  [disabled]="true">
      </mat-slide-toggle>
              </span>
      </li>
    </ul>
  </div>
</div>

<!--&lt;!&ndash;big screens&ndash;&gt;-->
<!--<div class="subscription-lg">-->
  <!--<div *ngIf="subscriptionStatus.isSubscribed" class="card" style="width:100%; margin-top:5%;">-->
    <!--<ul class="list-group list-group-flush">-->
      <!--<li style="background-color: #eeeeee" class="list-group-item">-->
              <!--<span style="font-size: 1em;">-->
              <!--Can Delete-->
                   <!--<mat-slide-toggle-->
                     <!--*ngIf="subscriptionStatus.info.canDelete===true"-->
                     <!--[color]="accent"-->
                     <!--[checked]="true"-->
                     <!--[disabled]="true">-->
      <!--</mat-slide-toggle>-->
                <!--<mat-slide-toggle-->
                  <!--*ngIf="subscriptionStatus.info.canDelete===false"-->
                  <!--[color]="accent"-->
                  <!--[checked]="false"-->
                  <!--[disabled]="true">-->
      <!--</mat-slide-toggle>-->
              <!--</span>-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->


      <!--&lt;!&ndash;<li style="background-color: #eeeeee" class="list-group-item">&ndash;&gt;-->
              <!--<span style="font-size: 1em;">-->
              <!--Can Edit-->
                   <!--<mat-slide-toggle-->
                     <!--*ngIf="subscriptionStatus.info.canEdit==true"-->
                     <!--[color]="accent"-->
                     <!--[checked]="true"-->
                     <!--[disabled]="true">-->
      <!--</mat-slide-toggle>-->
                <!--<mat-slide-toggle-->
                  <!--*ngIf="subscriptionStatus.info.canEdit===false"-->
                  <!--[color]="accent"-->
                  <!--[checked]="false"-->
                  <!--[disabled]="true">-->
      <!--</mat-slide-toggle>-->
              <!--</span>-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->

      <!--&lt;!&ndash;<li style="background-color: #eeeeee" class="list-group-item">&ndash;&gt;-->
              <!--<span style="font-size: 1em;">-->
              <!--Can Create-->
                   <!--<mat-slide-toggle-->
                     <!--*ngIf="subscriptionStatus.info.canCreate==true"-->
                     <!--[color]="accent"-->
                     <!--[checked]="true"-->
                     <!--[disabled]="true">-->
      <!--</mat-slide-toggle>-->
                <!--<mat-slide-toggle-->
                  <!--*ngIf="subscriptionStatus.info.canCreate===false"-->
                  <!--[color]="accent"-->
                  <!--[checked]="false"-->
                  <!--[disabled]="true">-->
      <!--</mat-slide-toggle>-->
              <!--</span>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
*/

/*.subscription-columns {*/
/*flex: 100%;*/
/*}*/
/*}*/

/*@media (min-width: 768px) and (max-width: 1023px) {*/
  /*#theme-image {*/
    /*height: 200px;*/
    /*width: 200px;*/
  /*}*/

  /*.subscription-info-container {*/
    /*margin-bottom: 10%;*/
    /*margin-left: 3%;*/
  /*}*/
/*}*/

@media (max-width: 768px) {
  .similar-themes {
    display: none;
  }


  .side-nav {
    width: 0;

  }
  .theme-subscription-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .theme-subscription {
    background-color: #b9b9b97d;
    box-shadow: 1px 1px 1px 1px #b3b3b3;
    margin: 2%;
    width: 100%;
  }

  .theme-img {
    flex: 55%;
    margin-left: 2%;
    margin-right: 2%;
    height: 90%;
    width: 100%;

  }
}

/*@media (max-width: 767px) {*/
  /*.subscription-lg {*/
    /*display: none;*/
  /*}*/

  /*.subscription-sm {*/
    /*display: block;*/
  /*}*/
/*}*/



/*.profile {*/
/*padding-left: 120px;*/
/*}*/
/*.content{*/
/*margin-left: 3%;*/
/*}*/

/*button{*/
/*margin-bottom: 10px;*/
/*margin-right: 10px;*/
/*}*/

/*@media only screen and (max-width: 1000px) {*/
/*div.profile {*/
/*display: none;*/
/*}*/
/*}*/

/*.theme-logo {*/
/*margin: 0 auto;*/
/*}*/


/*.itt-background-color {*/
/*background-color: #f47d31;*/
/*}*/

/*.itt-color {*/
/*color: #f47d31;*/
/*}*/

/*.theme-image {*/
/*margin: 0 auto;*/
/*}*/

/*.flex-div {*/
/*display: flex;*/
/*!*justify-content: space-between;*!*/
/*}*/

/*.spacing {*/
/*margin-left: 3%;*/
/*margin-right: 3%;*/
/*}*/

/*.adjustment {*/
/*min-height: 700px;*/
/*}*/


/*@media(min-width: 1367px)  {*/
/*.adjustment {*/
/*min-height: 900px;*/
/*!*display: ;*!*/
/*}*/
/*}*/

/*!*Laptop*!*/
/*@media(min-height: 1366px )  {*/
/*.adjustment {*/
/*min-height: 1250px;*/
/*}*/

/*}*/

/*!*iPad *!*/
/*@media(max-width: 768px)  {*/
/*.adjustment {*/
/*min-height: 950px;*/
/*}*/
/*}*/

/*!*Nexus 7*!*/
/*@media (max-width: 600px) {*/
/*.adjustment {*/
/*min-height: 850px;*/
/*}*/
/*}*/


/*!*iPhone 6/7/8 plus*!*/
/*@media (max-width: 414px) {*/
/*.adjustment {*/
/*min-height: 704px;*/
/*}*/
/*}*/

/*!*iPhone 5s*!*/
/*!* @media (max-width: 360px) {*/
/*.adjustment {*/
/*min-height: 320px;*/
/*}*/
/*} *!*/

/*!*iPhone 5 *!*/
/*@media (max-width: 320px) {*/
/*.adjustment {*/
/*min-height: 310px;*/
/*}*/
/*.card-body{*/
/*padding-left: 10px;*/
/*margin-right: 10px;*/
/**/
/*}*/
/**/
/*}*/

