
.itt-color{
  background-color: #ff5900;
  color: #ff5900 ;
}
.tab-design{
  background-color: #ff5900c4;
  border-radius: 8px 8px 0px 0px ;

}
.tab-design :hover{
  color: ghostwhite
}

.text {
  color: ghostwhite;
}

.line {
  margin-top: 0px;
}
