<itt-snap-left-nav [themeId]="themeId"></itt-snap-left-nav>
<div class="form-horizontal margin-bottom-10">

  <!--<div class="sectiontitle">-->
    <!--&lt;!&ndash;<h2 *ngIf="tagProperties.basicInfo.name">{{tagProperties.name}}</h2>&ndash;&gt;-->
  <!--</div>-->

  <itt-theme-header [themeId]="themeId"></itt-theme-header>
  <div class="tabs">
    <ul class="nav nav-tabs" role="tablist" >
      <li role="presentation" routerLinkActive="tab-design" >
        <a [routerLink]="['/my-themes/',themeId,'edit','basic-info']" data-toggle="tab" role="tab" class="text" >Basic Information</a>
      </li>
      <li role="presentation" routerLinkActive="tab-design">
        <a [routerLink]="['/my-themes/',themeId,'edit','tag-properties']" role="tab" data-toggle="tab" >Tag Properties</a>
      </li>
      <li role="presentation" routerLinkActive="tab-design">
        <a [routerLink]="['/my-themes/',themeId,'edit','settings']" role="tab" data-toggle="tab">Settings</a>
      </li>

      <li role="presentation" routerLinkActive="tab-design">
        <a [routerLink]="['/my-themes/',themeId,'edit','media']" role="tab" data-toggle="tab">Media</a>
      </li>
    </ul>
    <hr class="line">
  </div>

</div>
