<!--<div class="header-container">-->
<!--<a [routerLink]="['/']">-->
<!--<div class="header-logo-container">-->
<!--<img src="assets/images/logo.png">-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<div style="display: flex; justify-content: center; align-items: center; " class="sigin-container">
  <!--<div class="login-tab" style="max-width: 550px; width: 100%; box-shadow: 2px 2px 2px 2px #dad7d7">-->
  <div class="login-tab">
    <mat-tab-group mat-stretch-tabs [ngStyle]="{'width': '100%', 'z-index':'0'}" style="padding: 50px; ">
      <mat-tab label="SIGN IN">
        <itt-login></itt-login>
      </mat-tab>
      <!--<mat-tab label="SIGN UP">-->
      <!--<itt-register></itt-register>-->
      <!--</mat-tab>-->
    </mat-tab-group>
  </div>
</div>
