.login-content {
  background-color: #ffffff;
}

.form-control.ng-touched.ng-invalid {
  border: 1px solid red;
}

.social-span {
  font-size: 0.7em;
  width: 100%;
}

.login-content {
  max-width: 650px;
}

.or-separator-container {
  width: 100%;
  margin: 10px 0;
}

.or-separator-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr-separator-line {
  width: 80%;
}

hr {
  /*width: 100%;*/
  height: 1px;
  background-color: #dbe2e8;
  border: none;
  margin: 20px 0;
}

.or-separator-text {
  margin: 0 10px;
  transform: translateY(-3px);
  min-width: 32px;
}

a {
  cursor: pointer;
  text-decoration: none;
}


@media (min-width: 768px) {
  .tagline {
    font-size: 1em;
  }

  .sign-in-header {
    font-size: 2em
  }
}

@media (max-width: 767px) {
  .sign-in-header {
    font-size: 1.8em
  }

  .tagline {
    font-size: 1em;
  }
}


/*access styles*/
.header-container {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  -webkit-box-shadow: 0 5px 15px 0 rgba(46, 61, 73, .12);
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, .12);
}

.header-logo-container {
  margin: 0 auto;
  width: 200px;
  height: 35px;
}

.login-tab {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.body {
  background-color: whitesmoke;
}

@media (min-width: 768px) {
  .sigin-container {
    margin-top: 7%;
  }

  .sign-in-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width: 767px) {
  .sigin-container {
  }

  .sign-in-body {
    display: block;
  }
}




/*.mat-tab-body.mat-tab-body-active {*/
/*position: relative;*/
/*overflow-x: hidden;*/
/*overflow-y: auto;*/
/*z-index: 0;*/
/*flex-grow: 1;*/
/*}*/



