<div class="sign-up-content">
<div style="text-align: center; margin-top:5%; margin-bottom:3%;" class="sign-in-text">
  <span>
  <h2>
    Sign up for your new account
  </h2>
  <h6>
  we connect the world with tags!
  </h6>
  </span>
</div>

<form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
  <div class="container">
    <!--<img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
    <!--<h1 class="h3 mb-3 font-weight-normal">Please Register</h1>-->
    <label for="inputEmail" class="sr-only">User Name</label>
    <input style="margin-bottom: 2%;" type="email" id="userName" class="form-control" placeholder="username" required=""
           autofocus=""
           formControlName="username">
    <label for="inputEmail" class="sr-only">Email</label>
    <input style="margin-bottom: 2%;" type="email" id="inputEmail" class="form-control" placeholder="email" required=""
           autofocus=""
           formControlName="email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input style="margin-bottom: 2%;" type="password" id="inputPassword" class="form-control" placeholder="Password"
           required=""
           formControlName="password">
    <input style="margin-bottom: 2%;" type="password" id="confirmPassword" class="form-control"
           placeholder="confirm password"
           required=""
           formControlName="confirmPassword">
    <button class="btn btn-lg btn-primary btn-block register" [disabled]="!terms.checked || !registerForm.valid"
            type="submit">
      Register
    </button>

      <input #terms type="checkbox">
      <span i18n="@@termsAndConditions">I have read and accept the <a
        [href]="termsAndConditionsUrl">Terms and Conditions</a></span>
  </div>
</form>
</div>



