.img-round{
  border-radius: 50%;
}
.profile-img{
  background: black;
  width: 100px;
  height: 100px;
}
.fa-android{
  color: green;
}
.fa-apple{
  color:black;
}
.fa-windows{
  color:  rgb(1, 7, 100);
}



/*----- Tabs -----*/
.tabs .nav-tabs {
  border-bottom: none;
}

.tabs .nav-tabs  a {
  padding: 9px 16px;
  background: none;
  border: none;
  color: #333;
}

.tabs .nav-tabs  a:hover {
  color: #ff5900;
}

.tabs .nav-tabs active a {
  background: #fff;
  padding: 7px 15px 9px;
  border: solid 1px #eee;
  color: #ff5900;
  border-top: solid 2px #ff5900;
  border-bottom: none !important;
}

.tabs .tab-content {
  padding: 10px 15px;
  border: solid 1px #eee;
}

.btn-admin {
  margin-top: 30px;
  margin-left:20px;
}


/*----*/
.user-detail dt {
  float: left;
  clear: left;
  margin-right: 8px;
  padding: 0;
}




