<div class="container">
  <itt-navbar></itt-navbar>


  <div class="row">

    <div class="col-md-6 col-lg-6">
      <div class="sectiontitle">
        <h2>User Details</h2>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <img class="centered circle useravatar" [src]="userDetails.profileImageUrl"
               alt="User image">

        </div>

        <div class="col-sm-6 col-md-8 col-lg-8 user-detail">
          <dl class="dl-horizontal">
            <dt>
              ID:
            </dt>

            <dd>
              {{userDetails.id}}
            </dd>
            <dt>
              Email:
            </dt>

            <dd>
              {{userDetails.email}}
              <!--<i *ngIf="user.emailconfirmed" class="fa fa-check-circle text-success" aria-hidden="true"></i>-->

            </dd>

            <dt>
              Name:
            </dt>

            <dd>
              {{userDetails.name}}
            </dd>

            <dt>
              Admin:
            </dt>

            <dd>
              <input type="checkbox" [checked]="userDetails.isAdmin" disabled="disabled">
              <!--<button *ngIf="userDetails.isAdmin" class="btn btn-sm btn-info">ADMIN</button>-->
              <!--<button *ngIf="!userDetails.isAdmin" class="btn btn-sm btn-secondary">ADMIN</button>-->
            </dd>

          </dl>
        </div>

        <button *ngIf="!userDetails.isAdmin" class="btn btn-success btn-admin" title="remove" data-target="#deleteSubscriberModal"
                data-toggle="modal" [disabled]="userDetails.isAdmin"> Make Admin
        </button>

        <div class="modal fade" id="deleteSubscriberModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete Subscriber From Theme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <!--modal body-->
              <div class="modal-body">
                Are you sure you want to make "{{userDetails.email}}" an admin ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal"
                        (click)="makeUserAdmin(userDetails.id)">Yes
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="col-md-6 col-lg-6">

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#Devices" role="tab"
             aria-controls="nav-home" aria-selected="true">Devices</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#Subscriptions" role="tab"
             aria-controls="nav-profile" aria-selected="false">Subscriptions</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#Owned-Themes" role="tab"
             aria-controls="nav-contact" aria-selected="false">Owned Themes</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="Devices" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="panel panel-default table-responsive" style="height:400px; overflow-y: scroll;">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>


                </th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let device of userDetails.devices; let i=index;">
                <td>
                  <dl class="dl-horizontal">
                    <dt>
                      Device Id :
                    </dt>

                    <dd>
                      {{device._id}}
                    </dd>
                    <dt>
                      Hardware Id:
                    </dt>

                    <dd>
                      {{device.hardwareId}}
                    </dd>
                    <dt>
                      Operating System:
                    </dt>
                    <dd>

                      <span *ngIf="device.operatingSystem.toLocaleLowerCase() === 'android'"> Android
                        <i class="fab fa-android"></i>
                      </span>
                      <span *ngIf="device.operatingSystem.toLocaleLowerCase() === 'ios'"> IOS
                        <i class="fab  fa-apple" aria-hidden="true"></i>
                      </span>
                      <span *ngIf="device.operatingSystem.toLocaleLowerCase() === 'windows'"> Windows
                        <i class="fab  fa-windows" aria-hidden="true"></i>
                      </span>
                      version {{device.operatingSystemVersion}}
                    </dd>
                    <dt>
                      Manufacturer:
                    </dt>
                    <dd>
                      {{device.manufacturer}}
                    </dd>
                    <dt>
                      Model:
                    </dt>
                    <dd>
                      {{device.model}}
                    </dd>
                    <dt>
                      Installed Date:
                    </dt>
                    <dd>
                      {{device.installDate | date}}
                    </dd>
                  </dl>
                </td>

                <td>
                  <a [routerLink]="['../','devices',device._id,'locations']" class="btn btn-primary"
                     title="View all locations">View Locations</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="Subscriptions" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="panel panel-default table-responsive" style="height:400px; overflow-y: scroll;">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>

                </th>
                <th>
                  Name
                </th>


              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let subscription of userDetails.subscriptions; let i=index;"
                  [routerLink]="['/themes',subscription.id,'details']">
                <td>
                  <img class="centered themeimagethumb" width="auto" [src]="subscription.imageUrl"
                       alt="Theme image">
                </td>
                <td>
                  {{subscription.name}}
                </td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="Owned-Themes" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="panel panel-default table-responsive" style="height:400px; overflow-y: scroll;">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>

                </th>
                <th>
                  Name
                </th>


              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let theme of userDetails.themes; let i=index;"
                  [routerLink]="['/themes',theme.id,'details']">
                <td>
                  <img class="centered themeimagethumb" width="28px"
                       [src]="theme.imageUrl"
                       alt="Theme image">

                </td>
                <td>
                  {{theme.name}}
                </td>

              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

