.ngx-pagination .current {
  background: red;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #f47d31;
}

.profile {
  padding-left: 120px;
}

@media only screen and (max-width: 1000px) {
  div.profile {
    display: none;
  }
}

.indent-page {
  margin-left: 2%;
}

th {
  text-align: center;
}

tr {
  text-align: center;
}

.search {
  margin-right: 2%;
}

