<!--<div class="row">-->
<!--&lt;!&ndash;<div class="col-4">&ndash;&gt;-->
<!--&lt;!&ndash;<span style="font-size:30px;cursor:pointer" (click)="toggleSidebar()">&#9776;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="col-4">-->
<!--<itt-main-header class="logo"></itt-main-header>-->
<!--</div>-->
<!--<div class="col-4 profile">-->
<!--<itt-profile-header></itt-profile-header>-->
<!--</div>-->
<!--</div>-->

<!--<ng-sidebar-container>-->
<!--<ng-sidebar-container style="height: 100vh; ">-->
<!--<ng-sidebar-container [ngStyle]="mystyle">-->
<!--<ng-sidebar [(opened)]="isOpened" position="left" mode="over" showBackdrop="true"-->
<!--closeOnClickBackdrop="true" style="background-color:#f8f9fa">-->
<!--<itt-side-nav-details></itt-side-nav-details>-->
<!--</ng-sidebar>-->

<!-- Page content -->
<!--<div ng-sidebar-content class="ng-side-color">-->
<div class="row">
  <div class="col-12 search-style">

    <itt-snap-left-nav [themeId]="themeId"></itt-snap-left-nav>
    <itt-theme-header [themeId]="themeId"></itt-theme-header>

    <div class="indent-page">
      <div class="row ">
        <div class="col-md-12">
      <span class="fa-stack pull-left">
            <a title="Add tag" [routerLink]="['new']"><i class="fa fa-plus fa-inverse"></i></a>
        </span>

          <span class="fa-stack pull-left">
                    <a title="Refresh" (click)="refresh()"><i
                      class="fa fa-refresh fa-inverse"></i></a>
    </span>
        </div>
      </div>
      <div class="input-group pull-right margin-bottom-10 search" style="max-width: 300px;">
        <input class="form-control" id="SearchString" name="SearchString" placeholder="Find By Id"
               [(ngModel)]="searchTerm">
        <span class="input-group-btn">
          <button type="submit" (click)="findTag()" class="btn btn-primary">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>

      <div class="margin-bottom-10 hidden-lg hidden-md hidden-sm"></div>

      <div id="tagsTable" class="panel panel-default table-responsive" style="width:100%; min-height:350px;">

        <table class="table table-hover infinite-scroll table-striped">
          <thead>
          <tr>
            <th>
              Id
            </th>
            <th>
              Location
            </th>
            <th>
              Updated by
            </th>
            <th>
              Updated on
            </th>

            <th>
            </th>
          </tr>
          </thead>

          <tbody>
          <tr
            *ngFor="let tag of tags |paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count } let i = index;">
            <td>
              {{tag._id}}
            </td>
            <td>

              <!--[ {{tag.location.coordinates[1]}}, {{tag.location.coordinates[0]}}]-->
              [ {{tag.latitude}}, {{tag.longitude}}]
            </td>
            <td>
              {{tag.updatedBy}}
            </td>
            <td>
              <!--{{tag.updatedAt |date:'MMM d, y, h:mm a'}}-->
              {{tag.updatedAt | amTimeAgo:true}}


            </td>

            <td>
              <div class="pull-right">

          <span class="fa-stack edit-button">
                    <a href="" title="Edit" [routerLink]="[tag._id,'edit']">
                      <i class="fas fa-pencil-alt fa-fw"></i>
                     </a>
                </span>
                <span (click)="delete(tag,i)" href="" title="Delete" class="fa-stack delete-button">
          <i class="fa fa-trash fa-inverse"></i>
            </span>
              </div>
            </td>
          </tr>

          </tbody>

        </table>
      </div>
    </div>
    <pagination-controls class="my-pagination" [autoHide]="true"
                         (pageChange)="onPageChanged($event)"></pagination-controls>
  </div>
</div>
<!--</div>-->
<!--</ng-sidebar-container>-->

