
<div class="fit-screen">
  <itt-my-subcription-list></itt-my-subcription-list>
</div>

<!--<div class="row">-->
  <!--<div class="col-4">-->
    <!--<span style="font-size:30px;cursor:pointer" (click)="toggleSidebar()">&#9776;</span>-->
  <!--</div>-->
  <!--<div class="col-4">-->
    <!--<itt-main-header class="logo"></itt-main-header>-->
  <!--</div>-->
  <!--<div class="col-4 profile">-->
    <!--<itt-profile-header></itt-profile-header>-->
  <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;<ng-sidebar-container>&ndash;&gt;-->
<!--<ng-sidebar-container style="height: 100vh; ">-->
  <!--&lt;!&ndash;<ng-sidebar-container [ngStyle]="mystyle">&ndash;&gt;-->
  <!--<ng-sidebar [(opened)]="isOpened" position="left" mode="over" showBackdrop="true"-->
              <!--closeOnClickBackdrop="true" style="background-color:#f8f9fa">-->
    <!--<itt-side-nav-details></itt-side-nav-details>-->
  <!--</ng-sidebar>-->

  <!--&lt;!&ndash; Page content &ndash;&gt;-->
  <!--<div ng-sidebar-content class="ng-side-color">-->




  <!--</div>-->
<!--</ng-sidebar-container>-->



