<!--<div class="container">-->
    <ng2-slim-loading-bar style="position: absolute; width: 100%;top: 0;" [color]="'#ff5900'" [height]="'4px'"></ng2-slim-loading-bar>
<block-ui>
  <itt-nav-bar></itt-nav-bar>
  <router-outlet></router-outlet>
</block-ui>

  <!--<div class="row">ro-->
    <!--<itt-footer></itt-footer>-->
  <!--</div>-->
<!--</div>-->

