<div class="modal-header">
  <h3 class="modal-title textColor" id="modal-basic-title">Please sign in</h3>
  <!--<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">-->
  <!--<span aria-hidden="true">&times;</span>-->
  <!--</button>-->
</div>
<div class="modal-body">

  <!--<h5 class="textColor">In order to continue, you must signIn in. 😔</h5>-->
  <form [formGroup]="loginForm" (ngSubmit)="signIn(loginForm.value)">
    <p>
      <input #terms type="checkbox">
      <span i18n="@@termsAndConditions">I have read and accept the <a [href]="termsAndConditionsUrl">Terms and Conditions</a></span>
    </p>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
           autofocus=""
           formControlName="email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
           required=""
           formControlName="password">
    <div class="checkbox mb-3">
    </div>
    <span>Don't have an account? <a [routerLink]="['/register']" [queryParams]="{returnUrl:returnUrl}"
                                    (click)="activeModal.close('Close click')">Sign up</a></span>
    <br>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-warning" (click)="activeModal.close('Close click')">Cancel</button>
      <button type="button" class="btn btn-outline-success" [disabled]="!terms.checked || !loginForm.valid"
              type="submit">Sign In
      </button>
    </div>
  </form>
</div>
