/*.no-padding {*/
  /*padding-left: 0 !important;*/
  /*padding-right: 0 !important;*/
/*}*/
.hide2{
  display: none;
}
.hide1{
  display: none;
}
.hide3{
  display: none;
}

.title {
  padding-left: 20px;
  font-weight: normal;
}
.itt-container{
  display: flex;
  /*flex-wrap: wrap;*/
}
.col-6{
  padding-right: auto;
  padding-left: auto;
}

h2{
  margin-left: 0;
  margin-right: auto;
}

button {
  /*position: absolute;*/
  /*margin-right: 15px;*/
  /*margin-top: 1%;*/
  margin-right: 0;
  margin-left: auto;
}

.outer-div{
  margin-right: 1%;
  margin-left: 1%;
}



/*@media(min-width: 1367px)  {*/
  /*.view-more {*/
    /*margin-left: 877px;*/
  /*}*/

  /*button {*/
    /*!*margin-left: 36%;*!*/
    /*position: absolute;*/
    /*right: 1%;*/
    /*margin-top: 0.6%;*/
  /*}*/
/*}*/

/*@media(max-width: 1367px)  {*/
  /*.view-more {*/
    /*margin-left: 877px;*/
  /*}*/

  /*button {*/
    /*!*margin-left: 36%;*!*/
    /*position: absolute;*/
    /*right: 1%;*/
    /*margin-top: 0.6%;*/
  /*}*/
/*}*/


/*!*Laptop*!*/
/*@media(min-width: 1206px)  {*/
  /*.view-more {*/
    /*margin-left:875px;*/
  /*}*/

  /*button {*/
    /*!*margin-left: 36%;*!*/
    /*position: absolute;*/
    /*right: 16%;*/
    /*margin-top: 0.6%;*/
  /*}*/

/*}*/
@media (max-width: 1015px) {
  .h3{
   background-color: yellow;
    display: block;
  }

}
/*iPad */
@media(min-width: 845px)  {
  /*.view-more {*/
    /*margin-left: 456px;*/
  /*}*/
  /*button {*/
    /*!*margin-left: 36%;*!*/
    /*position: absolute;*/
    /*right: 1%;*/
    /*margin-top: 0.6%;*/
  /*}*/

.hide1{
  display: block;
  background-color: chartreuse;
}
.hide2{
  display: block;
}

}

/*!*Nexus 7*!*/
/*@media (max-width: 600px) {*/
  /*.view-more {*/
    /*margin-left: 275px;*/
  /*}*/

/*}*/




/*Nexus 7*/
@media (max-width: 678px) {
 .hide2{
   display: block;
   background-color: #b3d7ff;
 }
}

@media (max-width: 500px) {
  .hide2{
    display: none;
  }
}

/*iPhone 6/7/8 plus*/
@media (max-width: 414px) {
 .outer-div{
   margin-right: 2%;
   margin-left: 2%;
 }
}

/*!*iPhone 5s*!*/
/*@media (max-width: 360px) {*/


  /*.col-6{*/
    /*padding-right: 6px;*/
    /*padding-left: 6px;*/
  /*}*/

  /*button {*/
    /*!*margin-left: 36%;*!*/
    /*position: absolute;*/
    /*margin-right: 6px;*/
    /*!*right: 3%;*!*/
  /*}*/
/*}*/

/*iPhone 5 */
@media (max-width: 320px) {
  .outer-div{
    margin-right: 2%;
    margin-left: 2%;
  }
}
  /*button {*/
    /*!*margin-left: 36%;*!*/
    /*position: absolute;*/
    /*margin-right: 6px;*/
    /*!*right: 3%;*!*/
  /*}*/


  /*.col-6{*/
    /*padding-right: 6px;*/
    /*padding-left: 6px;*/
  /*}*/

/*}*/
