<div class="outer-div" >
<div style="display: flex; justify-content: space-around; width: 100%;">
  <h2 i18n="@@themeGridTitle"><span>{{title}}</span></h2>
  <button [disabled]="!next" id="view-more"  i18n="@@themeGridViewMore" (click)="viewMore()" type="button"
          class="btn btn-sm btn-primary" style="height: 38px; padding: 1px">View More
  </button>
</div>
<!--<div style="display: flex; flex-wrap: wrap; justify-content: space-between">-->
<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
<!--<div class="itt-container">-->
<!--<div  class="col-6 col-md-3 col-lg-2" *ngFor="let themePreview of themePreviews;">-->
<div  *ngFor="let themePreview of themePreviews;">
  <div style="margin-left: 2%; margin-right: 2%">
  <itt-theme-preview  (onSubscribedBtnPressed)="submitBtnPressed($event)" [themePreview]="themePreview" [subscribedThemes]="(mysubscribedThemes)"></itt-theme-preview>
  </div>
    <!--</div>-->
  <!--<div class="hide1" style="background-color: #ffffff00; width: 170px; height: 236px ">  </div>-->
  <!--<div class="hide2" style="background-color: #ffffff00; width: 170px; height: 236px ">  </div>-->
  <!--<div class="hide3" style="background-color: #ffffff00; width: 170px; height: 236px ">  </div>-->
<!--</div>-->
</div>
</div>
</div>
