.login-content {
  background-color: #ffffff;
}

.form-control.ng-touched.ng-invalid {
  border: 1px solid red;
}

.social-span {
  font-size: 0.7em;
  width: 100%;
}

.login-content {
  max-width: 650px;
  width: auto;
}

.or-separator-container {
  width: 100%;
  margin: 10px 0;
}

.or-separator-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr-separator-line {
  width: 80%;
}

hr {
  /*width: 100%;*/
  height: 1px;
  background-color: #dbe2e8;
  border: none;
  margin: 20px 0;
}

.or-separator-text {
  margin: 0 10px;
  transform: translateY(-3px);
  min-width: 32px;
}

a {
  cursor:pointer;
  text-decoration: none;
}

.terms{
  text-align: center;
}




