<div class="login-content" style="text-align: center">
  <div style="text-align: center; margin-top:6%; margin-bottom:6%;" class="sign-in-text">
  <span>
  <h2>
    Sign in to your account
  </h2>
    <br>
  <h6>
Connecting people in time and space!
  </h6>
  </span>
  </div>

  <button type="button" class="btn btn-lg btn-light btn-block" (click)="loginFacebook()">
    <i class="fab fa-facebook-f" style="color: dodgerblue; margin-right:5px;"></i>
    <span class="social-span">Login with Facebook</span></button>
  <button type="button" class="btn btn-lg btn-light btn-block" (click)="loginGoogle()">
    <i class="fab fa-google" style="margin-right:5px;"></i>
    <span class="social-span">Login with Google</span></button>
  <!--<button type="button" class="btn btn-lg btn-light btn-block" (click)="loginTwitter()">-->
    <!--<i class="fab fa-twitter" style="margin-right:5px;"></i>-->
    <!--<span class="social-span">Login with Twitter</span></button>-->
  <!--<span class="login-text">Don't have an account? <a [routerLink]="['/register']"-->
  <!--[queryParams]="{returnUrl:returnUrl}">Sign up</a></span>-->
  <!--<div class="container">-->

  <!--<div class="or-separator-container">-->
    <!--<div class="or-separator-flex">-->
      <!--<hr class="hr-separator-line">-->
      <!--<div class=".or-separator-text">or</div>-->
      <!--<hr class="hr-separator-line">-->
    <!--</div>-->
  <!--</div>-->

  <!--<form [formGroup]="loginForm" (ngSubmit)="loginLocal(loginForm.value)">-->
    <!--&lt;!&ndash;<img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">&ndash;&gt;-->
    <!--&lt;!&ndash;<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>&ndash;&gt;-->
    <!--<label for="inputEmail" class="sr-only">Email address</label>-->
    <!--<input style="margin-bottom: 2%;" type="email" id="inputEmail" class="form-control" placeholder="Email address"-->
           <!--required=""-->
           <!--autofocus=""-->
           <!--formControlName="email">-->
    <!--<label for="inputPassword" class="sr-only">Password</label>-->
    <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password"-->
           <!--required=""-->
           <!--formControlName="password">-->
    <!--<div class="checkbox mb-3">-->
      <!--&lt;!&ndash;<label>&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="checkbox" value="remember-me"> <span class="login-text">Remember me</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</label>&ndash;&gt;-->
    <!--</div>-->
    <!--<button class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid"-->
            <!--type="submit">Sign in-->
    <!--</button>-->
    <br>

    <span
      class="terms" style="font-size: 0.8em">By clicking Sign In, you agree to our <a [href]="termsAndConditionsUrl"><span
      style="color: #ff5927">Terms of Use</span></a> and our <a><span
      style="color: #ff5927">Privacy Policy</span></a>.</span>
  <!--</form>-->
</div>








