.form-control.ng-touched.ng-invalid {
  border: 1px solid red;
}

.social-span {
  font-size: 0.9em;
}

.carousel-container {
  height: 100px;
  width: 100%;
  margin-bottom: 30%;
}

.itt-logo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.login-text {
  margin-bottom: 0px;
  font-size: 0.9em;
}

@media (min-width: 1367px) {
  .carousel {
    height: 900px;
  }

  .login-content {
    margin-top: 20%;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .carousel {
    height: 900px;
  }

  .login-content {
    margin-top: 30%;
  }
}



