
<div class="itt-home-container">

  <div>
    <div >
      <itt-search-grid [themePreviews]="themeSearchResults" [next]="false" (SubscribedBtnPressed)="subscribe($event)"
                       (onviewmore)="more()" [title]="'Search'" [showSubscribeBtn]="true"></itt-search-grid>
    </div>
  </div>
</div>
