<div style="margin-left: 2%; margin-right: 2%;">

  <div class="sectiontitle">
    <h2>My Devices</h2>
  </div>


  <div class="margin-bottom-10 hidden-lg hidden-md hidden-sm"></div>
  <div id="themeslist" class="panel panel-default table-responsive margin-bottom-10" style="min-height:350px;">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>

        </th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let device of (devices|paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count }); let i= index">
        <td>
          <dl class="dl-horizontal">
            <!--<dt>-->
              <!--Device Id :-->
            <!--</dt>-->

            <!--<dd>-->
              <!--{{device.id}}-->
            <!--</dd>-->
            <dt>
              Hardware Id:
            </dt>

            <dd>
              {{device.hardwareId}}
            </dd>
            <dt>
              Operating System:
            </dt>
            <dd>

              <span *ngIf="device.operatingSystem.toLocaleLowerCase() === 'android'"> Android
                <i class="fab fa-android" aria-hidden="true"></i>
              </span>
              <span *ngIf="device.operatingSystem.toLocaleLowerCase() === 'ios'"> IOS
                <i class="fab  fa-apple" aria-hidden="true"></i>
              </span>
              <span *ngIf="device.operatingSystem.toLocaleLowerCase() === 'windows'"> Windows
                <i class="fab  fa-windows" aria-hidden="true"></i>
              </span>
              version {{device.operatingSystemVersion}}
            </dd>
            <dt>
              Manufacturer:
            </dt>
            <dd>
              {{device.manufacturer}}
            </dd>
            <dt>
              Model:
            </dt>
            <dd>
              {{device.model}}
            </dd>
            <dt>
              Installed Date:
            </dt>
            <dd>
              {{device.installDate | amTimeAgo:true }}
            </dd>
          </dl>
        </td>

        <!--<td>-->
          <!--<a [routerLink]="['../','devices',device.id,'locations']" class="btn btn-primary"-->
             <!--title="View all locations">View Locations</a>-->
        <!--</td>-->
      </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls class="my-pagination" [autoHide]="true"
                       (pageChange)="onPageChanged($event)"></pagination-controls>

</div>
