.theme-image{
  width:50px;
  height: 50px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.theme-title{

  bottom: 10px;
  margin-left:4px;

}
/*.section-title{*/
  /*position: relative;*/
/*}*/
