<!--<div class="sectiontitle">-->
<!--<h2><span class="tagProperties-image" [style.background-image]="imageBackgroundUrl">-->
<!--</span><span class="tagProperties-title">{{name}}<span class="badge">{{badge}}</span></span>-->
<!--</h2>-->
<!--</div>-->

<div class="section-title">
  <h2>
    <img class="theme-image" height="52px" width="52px" [src]="themeHeaderModel.themeImageUrl">
    <span class="theme-title">{{themeHeaderModel.name}}</span>
  </h2>
</div>
