<div style="margin-top: 15px;margin-left: 2% ;margin-right: 2%;">
  <div >
    <h2>My Subscriptions</h2>
  </div>

  <div class="display-grid">
  <!--<div style="display: flex; flex-wrap: wrap; justify-content: space-around">-->
    <div class="theme-item" *ngFor="let subscription of subscriptions">
      <div class="theme-item-image" [routerLink]="['/store-details', subscription.id]">
        <img [src]="subscription.imageUrl">
      </div>
      <div class="theme-item-footer">
        <div id="name" class="ellipse">{{subscription.name}}</div>
      <!--<div class="description">{{subscription.description}}</div>-->
      <button class="btn btn-sm btn-danger " style="margin-top: 2%" title="remove" [routerLink]="['/subscription', subscription.id]">Unsubscribe </button>
      </div>
    </div>
  </div>
  <pagination-controls class="my-pagination" [autoHide]="true" (pageChange)="onPageChanged($event)"></pagination-controls>
</div>
