/*.description{*/
   /*overflow: ellipsis; */
   /*margin-top: 10px; */
   /*font-style: italic; */
   /*overflow: hidden; */
   /*height: 40px;width: 100px;*/
   /*!* background-color:lavender;  *!*/
    /*overflow: hidden; */
 /*}*/

.subscription{
    padding: 10px 10px 10px 10px;
}

h2{
  font-size: 2em;
}

img {
  width: 135px;
  height: 135px;
  cursor: pointer;
  border-radius: 3px;
}

.theme-item {
  width: 150px;
  height: 215px;
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 1px 1px 1px 1px #b3b3b3;
  margin-left: 2%;
  margin-right: 2%;
}

.theme-item-name {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}

.theme-item-name .name {
  white-space: nowrap;
  font-size: 14px;
}

.theme-item-image {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  height: 145px;
  width: 142px;
  margin-bottom: 3px;
  cursor: pointer;
}
#name{
  font-size: 1em;
}
/*.theme-item-image img{*/
  /*min-height: 115px;*/
  /*min-width: 115px;*/
  /*max-height: 168px;*/
  /*max-width: 168px;*/
/*}*/
.theme-item-footer {
  padding: 2px 3px;
  background: #fff;
  height: 60px;
}

.display-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}
.ellipse{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.description{*/
/*height: 50px;*/
/*width: 200px;*/
/*overflow: ellipsis;*/
/*}*/


/*!*large devices*!*/
/*@media(min-width: 1367px)  {*/
    /*.btn-danger{*/
        /*width: 200px;*/
    /*}*/
     /*.description{*/
        /*height: 50px;*/
        /*width: 200px;*/
        /*overflow: ellipsis; */
    /*} */
/*}*/


/*!*Laptop*!*/
/*@media(max-width: 1366px)  {*/
 /**/
    /*.btn-danger{*/
        /*width: 200px;*/
    /*}*/
     /*.description{*/
        /*height: 50px;*/
        /*width: 200px;*/
        /*overflow: ellipsis; */
    /*} */
/*}*/

/*!*iPad *!*/
/*@media(max-width: 768px)  {*/
    /**/
            /*.btn-danger{*/
                /*width: 200px;*/
            /*}*/
             /*.description{*/
                /*height: 40px;*/
                /*width: 100%;*/
                /*overflow: ellipsis; */
            /*} */
            /**/
/*}*/


/*!*iPhone 6 plus *!*/
/*@media(max-width: 414px) {*/
    /*.row{*/
        /*margin-left: 0px;*/
        /*font-size: 20px;*/
        /**/
            /*}*/
            /*.btn-danger{*/
                /*width: 110px;*/
            /*}*/
            /*.description{*/
                /*height: 40px;*/
                /*width: 100%; */
            /*}*/
            /*.image{*/
                /*height: 200px;*/
                /*width: 250px;*/
            /*}*/
/*}*/

/*!*Nexus 7*!*/
/*@media(max-width: 600px)  {*/
    /*.row{*/
        /*margin-left: 0px;*/
        /*font-size: 20px;*/
        /**/
            /*}*/
            /*.btn-danger{*/
                /*width: 200px;*/
            /*}*/
            /*.description{*/
                /*height: 40px;*/
                /*width: 400px; */
                /*overflow: ellipsis; */
            /*}*/
            /*.image{*/
                /*height: 250px;*/
                /*width: 300px;*/
            /*}*/
/*}*/


/*!*iPhone 6 plus *!*/
/*@media(max-width: 414px) {*/
    /*.row{*/
        /*margin-left: 0px;*/
        /*font-size: 20px;*/
        /**/
            /*}*/
            /*.btn-danger{*/
                /*width: 110px;*/
            /*}*/
            /*.description{*/
                /*height: 40px;*/
                /*width: 100%; */
            /*}*/
            /*.image{*/
                /*height: 200px;*/
                /*width: 250px;*/
            /*}*/
/*}*/

/*iPhone 5 */
 @media(max-width: 320px)  {

   .theme-item {
     width: 140px;
     height: 205px;
     border: 1px solid #ccc;
     padding: 3px;
     margin-bottom: 30px;
     background: #fff;
     box-shadow: 1px 1px 1px 1px #b3b3b3;
     margin-left: 1%;
     margin-right: 1%;
   }


   .theme-item-image {
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border: 1px solid #eeeeee;
     border-radius: 3px;
     height: 135px;
     width: 132px;
     margin-bottom: 3px;
     cursor: pointer;
   }


   img {
     width: 125px;
     height: 125px;
   }

   .display-grid {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
   }


}


