<div class="container">

  <div class="sectiontitle">
    <h2>Themes</h2>
  </div>


  <form action="/Themes/GetThemes" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#themeslist"
        id="form0" method="post">
    <div class="input-group pull-right margin-bottom-10" style="max-width: 300px;">
      <input class="form-control" id="SearchString" name="SearchString" placeholder="Search " [(ngModel)]="term">
      <span class="input-group-btn">
        <button type="submit" (click)="findTheme()" class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>

  <div>
    <a class="primary" style="margin-right: 8px;" [routerLink]="['new']" title="Add new tagProperties">
      <i class="fa fa-2x fa-plus-circle" aria-hidden="true"></i>
    </a>
  </div>
  <div class="margin-bottom-10 hidden-lg hidden-md hidden-sm"></div>
  <div id="themeslist" class="panel panel-default table-responsive margin-bottom-10" style="min-height:350px;">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
        </th>

        <th>
          Name
        </th>
        <th class="description">
          Description
        </th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tagProperties of (themes|paginate: { itemsPerPage:pageSize, currentPage:currentPage,totalItems:count })|themeFilter:term; let i=index" [routerLink]="[tagProperties._id,'details']">
        <td>
          <img class="centered themeimagethumb" [src] ="tagProperties.themeImageUrl" alt="Theme image">
        </td>

        <td>
          {{tagProperties.name}}
          <span class="badge">{{tagProperties.tagCount}} Tags</span>
        </td>
        <td class="description">
          {{tagProperties.description}}
        </td>


      </tr>
      </tbody>
    </table>


  </div>
  <pagination-controls class="my-pagination" [autoHide]="true" (pageChange)="onPageChanged($event)"></pagination-controls>

</div>
