<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-4">-->
      <!--<span style="font-size:30px;cursor:pointer" (click)="toggleSidebar()">&#9776;</span>-->
    <!--</div>-->
    <!--<div class="col-4">-->
      <!--<itt-main-header class="logo"></itt-main-header>-->
    <!--</div>-->
    <!--<div class="col-4 profile pull-right">-->
      <!--<itt-profile-header></itt-profile-header>-->
    <!--</div>-->
  <!--</div>-->

  <!--<ng-sidebar-container>-->
  <!--<ng-sidebar-container style="height: 900px; ">-->
    <!--&lt;!&ndash;<ng-sidebar-container [ngStyle]="mystyle">&ndash;&gt;-->
    <!--<ng-sidebar [(opened)]="isOpened" position="left" mode="over" showBackdrop="true"-->
                <!--closeOnClickBackdrop="true" style="background-color:#f8f9fa">-->
      <!--<itt-side-nav-details></itt-side-nav-details>-->
    <!--</ng-sidebar>-->
    <itt-theme-header [themeId]="themeId"></itt-theme-header>
    <!-- Page content -->
    <!--<div ng-sidebar-content class="ng-side-color">-->


      <div class="container">
        <itt-snap-left-nav [themeId]="themeId"></itt-snap-left-nav>
        <br>
        <br>
        <div class="sectiontitle">
          <h2>Subscriber Details</h2>
        </div>

        <div class="row detail">

          <table class="table table-hover">
            <thead>
            </thead>
            <tbody>
            <tr>
              <td>
                <dl class="dl-horizontal">
                  <dt>

                  </dt>

                  <!--<dd>-->
                    <!--<img [src]="subscriber.user.profileImageUrl">-->
                  <!--</dd>-->
                  <dt>
                    User name:
                  </dt>

                  <dd>
                    {{subscriber.user.name}}
                  </dd>
                  <dt *ngIf="subscriber.payment.price">
                    Amount paid:
                  </dt>

                  <dd>
                    {{subscriber.payment.currency}} {{subscriber.payment.price}}
                  </dd>
                </dl>
              </td>
              <td>
                <div class="pull-right" style="text-align: center">


                  <button class="btn btn-danger push-left" title="remove"
                          data-target="#deleteSubscriberModal"
                          data-toggle="modal">Unsubscribe
                  </button>

                  <div class="modal fade" id="deleteSubscriberModal" tabindex="-1" role="dialog"
                       aria-labelledby="exampleModalLabel"
                       aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Unsubscribe</h5>
                          <button type="button" class="close" data-dismiss="modal"
                                  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <!--modal body-->
                        <div class="modal-body">
                          Are you sure you want to unsubscribe this user?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cancel
                          </button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal"
                                  (click)="unsubscribe()">
                            Unsubscribe
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--<button *ngIf="!userSubscription.subscription.canContribute" class="btn btn-primary btn-xs"-->
                  <!--title="remove">Can Contribute</button>-->
                  <!-- <button *ngIf="userSubscription.subscription.canContribute" class="btn btn-primary btn-xs" (click)="canContribute(userSubscription.subscription, false, i)" title="remove">Deny Contribution</button> -->
                  <!--<button class="btn btn-primary" (click)="save(subscriber ,i)" title="save">Save</button>-->

                </div>
              </td>

            </tr>

            <!--<tr>-->
            <!--<td>Can Create</td>-->
            <!--<td>Can Edit</td>-->
            <!--<td>Can Delete</td>-->
            <!--</tr>-->

            <!--<tr>-->
            <!--<td>-->
            <!--<input type="checkbox" [(ngModel)]="subscriber.canCreate">-->
            <!--</td>-->
            <!--<td>-->
            <!--<input type="checkbox" [(ngModel)]="subscriber.canEdit">-->
            <!--</td>-->
            <!--<td>-->
            <!--<input type="checkbox" [(ngModel)]="subscriber.canDelete">-->
            <!--</td>-->
            <!--</tr>-->


            </tbody>
          </table>

        </div>
        <hr>
        <h3>Tag Permissions</h3>
        <br>
        <div class="row detail">
          <div class="col-4"><b>Can Create</b></div>
          <div class="col-4"><b>Can Edit</b></div>
          <div class="col-4"><b>Can Delete</b></div>
        </div>
        <form [formGroup]="permissionForm" (ngSubmit)="save(permissionForm.value)">
          <div class="row check detail">
            <div class="col-4"><input type="checkbox" formControlName="canCreate"
                                      [(ngModel)]="subscriber.subscription.tagPermissions.canCreate">
            </div>
            <div class="col-4"><input type="checkbox" formControlName="canEdit"
                                      [(ngModel)]="subscriber.subscription.tagPermissions.canEdit">
            </div>
            <div class="col-4"><input type="checkbox" formControlName="canDelete"
                                      [(ngModel)]="subscriber.subscription.tagPermissions.canDelete">
            </div>
          </div>
          <button class="btn btn-primary pull-right" type="submit">Save</button>
        </form>

        <br>

      </div>


    <!--</div>-->
  <!--</ng-sidebar-container>-->

<!--</div>-->
