agm-map {
  height: 70vh;
  /*position: absolute;*/
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
}


.profile {
  padding-left: 120px;
}

@media only screen and (max-width: 1000px) {
  div.profile {
    display: none;
  }
}

/*agm-map {*/
  /*height: 300px*/
/*}*/

/* 
iPhone 5
@media(max-width: 320px)  {
  .agm{
    height: 100%;
    width: 100%
  }
} */





