  <div style="margin-right: 0; margin-left: 0" class="row detail">
    <dl class="dl-horizontal">
      <dt>
        Uploaded By:
      </dt>
      <dd>
        {{fileOperation.userId}}
      </dd>
      <dt>
        Operation Type:
      </dt>
      <dd>
        {{fileOperation.jobType}}
      </dd>
      <dt>
        File Name:
      </dt>
      <dd>
        {{fileOperation.fileInfo.name}}
      </dd>
      <!--<dt>-->
        <!--File Size:-->
      <!--</dt>-->
      <!--<dd>-->
        <!--{{fileOperation.fileInfo.size}} KB-->
      <!--</dd>-->
      <dt>
        Submitted:
      </dt>
      <dd>
        <!--{{fileOperation.createdAt}}-->
        {{fileOperation.createdAt | amTimeAgo:true}}
      </dd>
      <dt>
        Status:
      </dt>
      <dd *ngIf="fileOperation.hasErrors" >
        <span style="background-color: red">{{fileOperation.status}}</span>
      </dd>
      <dd *ngIf="!fileOperation.hasErrors" >
        <span style="background-color: green">{{fileOperation.status}}</span>
      </dd>
      <dt>
        Lines processed:
      </dt>
      <dd>
        {{fileOperation.summary.processedLines}}
      </dd>
      <dt>
        Tags Saved:
      </dt>
      <dd>
        {{fileOperation.summary.savedTagsCount}}
      </dd>
      <dt>
        No of Errors:
      </dt>
      <dd>
        {{fileOperation.summary.errorCount}}
      </dd>
      <dt>
        Duration:
      </dt>
      <dd>
        {{fileOperation.summary.duration}} seconds
      </dd>
      <dt *ngIf="fileOperation.hasErrors">
        Errors:
      </dt>
      <dd>
        <div class="errors" *ngIf="fileOperation.hasErrors" [innerHTML]="fileOperation.summary.errorMessages"></div>
      </dd>
    </dl>
  </div>
  <hr>

