dt {
float: left;
clear: left;
margin-right: 8px;
padding: 0;
}


.detail {
  margin-left: 2%;
}

.box {
  width: 50px;
  height: 16px;
  margin-top: 3px;
}


.theme-details-color-box {

}

/*.takedown {*/
  /*float: left;*/
  /*clear: left;*/
  /*margin-right: 8px;*/
  /*padding: 0;*/
/*}*/
