
.itt-background-color {
  background-color: #f47d31;
}

.itt-color {
  color: #f47d31;
}


.push-right {
  margin-left: 5%;
}

/*large devices*/
@media(min-width: 1367px)  {
  input {
    width: 400px;
  }

  .color {
    width: 80px;
  }
}

/*Laptop*/
@media(max-width: 1366px)  {

  input {
    width: 400px;
  }

  .color {
    width: 80px;
  }
}

/*iPad */
@media(max-width: 768px)  {
  /*.container {*/
  /*font-size: 10px;*/
  /*}*/
}



/*Nexus 7*/
@media (max-width: 600px) {

  .color {
    width: 80px;
  }

  input {
    width: 250px;
  }

}


/*iPhone 6 plus */
@media(max-width: 414px) {
  select {
    width: 100px;
  }
}





