<div class="container">
  <div class="row">
    <form (ngSubmit)="onSubmit(basicInfoForm.value)" [formGroup]="basicInfoForm">
      <div class="sectiontitle margin-bottom-10">
        <h2>Basic Info</h2>
      </div>

      <div class="col-md-6">

        <div class="form-group">
          <label class="control-label col-md-4" for="Name">Name</label>
          <div>
            <input class="form-control " data-val="true"
                   data-val-length="The field Name must be a string with a maximum length of 50."
                   data-val-length-max="50" data-val-required="The Name field is required." id="Name"
                   name="Name" formControlName='name'
                   type="text" >
            <span class="field-validation-valid text-danger" data-valmsg-for="Name"
                  data-valmsg-replace="true"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label " for="Description">Description</label>
          <div >
            <input formControlName='description' class="form-control text-box single-line"
                   data-val="true"
                   data-val-length="The field Description must be a string with a maximum length of 250."
                   data-val-length-max="250" id="Description" name="Description" value="" type="text">
            <span class="field-validation-valid text-danger" data-valmsg-for="Description"
                  data-valmsg-replace="true"></span>
          </div>
        </div>

        <div class="form-group">
          <input class="color" type="color" id="color" name="color" [value]="basicInfo.color">
          <label class="control-label col-md-4" for="color">Color</label>
        </div>

        <div class="form-group">
          <label class="control-label " for="Distance">Default Notification Distance</label>
          <div>
            <div class="form-inline">
              <input  class="form-control" size="4"
                     formControlName='defaultDistance' data-val="true"
                     data-val-number="The field Distance must be a number."
                     data-val-required="The Distance field is required." id="Distance" name="Distance"
                     value="0.00" type="text">
              <select class="form-control dropdown-select" data-val="true"
                      data-val-required="The DistanceUnit field is required."
                      formControlName='defaultDistanceUnit'
                      id="DistanceUnit" name="DistanceUnit">
                <option *ngFor="let unit of distanceOptions" [ngValue]="unit.value"
                        [selected]="unit.value == basicInfo.defaultDistanceUnit">
                  {{unit.label}}
                </option>
              </select>
            </div>
            <span class="field-validation-valid text-danger" data-valmsg-for="Distance"
                  data-valmsg-replace="true"></span>
          </div>

        </div>

        <div class="form-group">
          <label class="control-label col-md-4" for="Distance">Default Tag Silence</label>
          <div >
            <div class="form-inline">
              <input class="form-control text-box single-line" size="4"
                     formControlName='defaultTagSilence' id="defaultTagSilence"
                     name="defaultTagSilence"
                     value="0.00" type="text">
              <select class="form-control dropdown-select" data-val="true"
                      formControlName='defaultTagSilenceUnit' id="tagSilenceUnit"
                      name="tagSilenceUnit">
                <option *ngFor="let unit of tagSilenceOptions" [ngValue]="unit.value"
                        [selected]="unit.value == basicInfo.defaultTagSilenceUnit">{{unit.label}}
                </option>
              </select>
            </div>
            <span class="field-validation-valid text-danger" data-valmsg-for="Distance"
                  data-valmsg-replace="true"></span>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-primary push-right" [disabled]="!basicInfoForm.valid">
        Save
      </button>
    </form>
  </div>
</div>



